<div class="container page">
<div class="row">
<div class="col-xs-12">
    <div class="container-fluid text-center">
<!--         <span class="fancy-text">MENU</span>
        <br>
 -->
 
        <div class="btn-group" style="margin:10px">
            <button class="btn btn-primary" ng-click="setSearch('users')">Users</button>
            <button class="btn btn-primary" ng-click="setSearch('articles')">Articles</button>
            <button class="btn btn-primary" ng-click="setSearch('family')">Family </button>
            <button class="btn btn-primary" ng-click="setSearch('expert')">Expert </button>

        </div>

    </div>
</div>
</div>

<script type="text/ng-template" id="users">
<h1>Users</h1>
  <br/>
 <strong>Search:</strong> </string><input type="text" ng-model="filterOptions.filterText" />
      <br/>
      <br/>
<div class="gridStyle" ng-grid="userData">

</div>
</script>


<script type="text/ng-template" id="articles">
<h1>Articles</h1>
 <br/>
 <strong>Search:</strong> </string><input type="text" ng-model="filterOptions.filterText" />
      <br/>
      <br/>
<div class="gridStyle" ng-grid="articleData">

</div>
</script>

<script type="text/ng-template" id="family">
<h1>Family</h1>
  <br/>
<button class="btn btn-success" ng-click="addFamily()"> Add Family </button> <br/><br/>

 <strong>Search:</strong> </string><input type="text" ng-model="filterOptions.filterText" />
      <br/>
      <br/>
<div class="gridStyle" ng-grid="familyData">

</div>
</script>

<script type="text/ng-template" id="expert">
<h1>Expert</h1>
  <br/>
<a class="btn btn-success" ng-href="/add-expert"> Add Expert </a> 
    <br/>
    <br/>
 <strong>Search:</strong> </string><input type="text" ng-model="filterOptions.filterText" />
      <br/>
      <br/>
<div class="gridStyle" ng-grid="expertData">

</div>
</script>

<script type="text/ng-template" id="familymodal.html">
        <div class="modal-header">
            <h3 class="modal-title">Add New family !</h3>
        </div>
        <div class="modal-body">
        <form novalidate  name="form" role='form' ng-submit="saveFamily()"  >
        <div class="form-group" ng-class="{'has-error':form.name.$dirty && form.name.$error.required,'has-success':form.name.$valid}">
              <input type="text" class="form-control" name="name" placeholder="Name"  ng-model="family.name" id="familyname" required ng-minlength=5>
              <p class="text-danger" ng-show="form.name.$dirty && form.name.$error.required">Please fill name.</p>

            </div>
         </form>   

        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="saveFamily()" >OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
</script>


<div ng-include="mainPage" class="container text-center"></div>

</div>