//colors
$blue: blue;
$white: #fff;
$color_cornflower_blue_approx: #619afb;
$color_equator_approx: #e6c55d;
$color_star_dust_approx: #9a9a9a;
$color_french_gray_approx: #b8bdc1;
$color_havelock_blue_approx: #4486f7;
$color_alto_approx: #ddd;
$color_mine_shaft_approx: #333;
$color_hunter_green_approx: #171717;
$color_pumice_approx: #c8c8c8;
$color_luxor_gold_approx: #a98932;
$color_dove_gray_approx: #707070;
$black: #000000;
$color_sycamore_approx: #839735;
$color_tundora_approx: #444;
$color_iron_approx: #d8d8d8;
$color_suva_gray_approx: #888;
$color_roti_approx: #c4a84f;
$color_rangoon_green_approx: #1a1a1a;
$color_azure_approx: #3b5998;
$color_cerulean_approx: #00aced;
$color_thunderbird_approx: #c32f10;
$color_fern_approx: #5cb85c;
$color_cedar_approx: #3e1714;
$color_chestnut_rose_approx: #d9534f;
$color_wasabi_approx: #819631;
$color_regal_blue_approx: #004977;
$color_romance_approx: #fdfdfd;
$color_pink_swan_approx: #bbb;
$color_silver_chalice_approx: #aaa;

//fonts
$font_0: franklingothicregular;
$font_1: ralewaylight;
$font_2: tff_franklin_gothic_demi;
$font_3: verdana;

//urls
$url_0: url("../fonts/franklingothic-regular-webfont.eot");
$url_1: url("../fonts/franklingothic-regular-webfont.eot?#iefix");
$url_2: url("../fonts/franklingothic-regular-webfont.woff2");
$url_3: url("../fonts/franklingothic-regular-webfont.woff");
$url_4: url("../fonts/franklingothic-regular-webfont.ttf");
$url_5: url("../fonts/franklingothic-regular-webfont.svg#franklingothicregular");
$url_6: url("../fonts/Raleway-Light-webfont.eot");
$url_7: url("../fonts/Raleway-Light-webfont.eot?#iefix");
$url_8: url("../fonts/Raleway-Light-webfont.woff2");
$url_9: url("../fonts/Raleway-Light-webfont.woff");
$url_10: url("../fonts/Raleway-Light-webfont.ttf");
$url_11: url("../fonts/Raleway-Light-webfont.svg#ralewaylight");
$url_12: url("../fonts/TFF Franklin Gothic Demi-webfont.eot");
$url_13: url("../fonts/TFF Franklin Gothic Demi-webfont.eot?#iefix");
$url_14: url("../fonts/TFF Franklin Gothic Demi-webfont.woff2");
$url_15: url("../fonts/TFF Franklin Gothic Demi-webfont.woff");
$url_16: url("../fonts/TFF Franklin Gothic Demi-webfont.ttf");
$url_17: url("../fonts/TFF Franklin Gothic Demi-webfont.svg#tff_franklin_gothic_demi");
$url_18: url("../images/arow.jpg");

//@extend-elements
//original selectors
//.register-form input[type=radio], input[type=checkbox]
%extend_1 {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  width: 18px;
  height: auto;
  vertical-align: middle;
  cursor: pointer;
}

//original selectors
//.radio-inline, .checkbox-inline
%extend_2 {
  display: inline-block!important;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  vertical-align: middle;
  cursor: pointer;
}

//original selectors
//.dashboard-section input, .articles-inner input
%extend_3 {
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 0;
  font-size: 18px;
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0;
  border: solid 1px $color_alto_approx;
  background-color: $white;
  height: 40px;
}

//original selectors
//.dashboard-section select, .articles-inner select
%extend_4 {
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 0;
  font-size: 18px;
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0!important;
  border: solid 1px $color_alto_approx;
  background-color: $white;
  height: 40px;
}

//original selectors
//.tags li, .tags a
%extend_5 {
  height: 24px;
  display: inline-block;
  line-height: 24px;
  position: relative;
  font-size: 18px;
}


@charset "utf-8";
@font-face {
  font-family: $font_0;
  src: $url_0;
  src: $url_1 format('embedded-opentype'), $url_2 format('woff2'), $url_3 format('woff'), $url_4 format('truetype'), $url_5 format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: $font_1;
  src: $url_6;
  src: $url_7 format('embedded-opentype'), $url_8 format('woff2'), $url_9 format('woff'), $url_10 format('truetype'), $url_11 format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: $font_2;
  src: $url_12;
  src: $url_13 format('embedded-opentype'), $url_14 format('woff2'), $url_15 format('woff'), $url_16 format('truetype'), $url_17 format('svg');
  font-weight: normal;
  font-style: normal;
}
a {
  color: $blue;
  //Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: .5s;
  &:hover {
    color: $blue;
  }
}
.container {
  position: relative;
}
.navbartop-default-inner {
  background-color: $white;
  border-bottom: solid 3px $color_cornflower_blue_approx;
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
}
.logo {
  padding-top: 1px;
  padding-right: 25px;
  h1 {
    font-family: $font_1;
    font-size: 18px;
    color: $color_equator_approx;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  h2 {
    font-family: $font_2;
    font-size: 20px;
    line-height: 15px;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }
}
.page {
  padding-top: 85px;
}
.signin-page {
  padding-top: 50px;
}
.sulogan-text {
  width: 170px;
  margin: 0 auto;
  font-size: 18px;
  color: $color_star_dust_approx;
  .mar-r {
    margin-right: 8px;
  }
  .mar-l {
    margin-left: 8px;
  }
}
.navbartop-default {
  background-color: $white;
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 3px 8px 0 $color_french_gray_approx;
}
.navbar-blue {
  background-color: $color_hunter_green_approx;
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 0;
  margin-top: 0;
  .navbar-nav > {
    li > a {
      color: $color_pumice_approx;
      &:hover {
        color: $color_equator_approx;
        background-color: transparent;
      }
    }
    .active > a {
      color: $white;
      background-color: $color_mine_shaft_approx;
      &:hover {
        color: $white;
        background-color: $color_mine_shaft_approx;
      }
      &:focus {
        color: $white;
        background-color: $color_mine_shaft_approx;
      }
    }
  }
}
.navbar-form {
  .btn-default {
    color: #FFF;
    height: 34px;
    background-color: $color_equator_approx;
    //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 0 2px 2px $color_luxor_gold_approx;
    border-color: $color_equator_approx;
  }
  input {
    background-color: $color_hunter_green_approx;
    border: solid 2px $color_dove_gray_approx;
    //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 0 2px 2px $color_dove_gray_approx;
    margin-right: 10px;
  }
}
.navbar-toggle {
  border: solid 1px $color_alto_approx;
  .icon-bar {
    background-color: $white;
  }
}
.become-bt {
  margin-top: 25px;
  margin-bottom: 25px;
  a {
    font-size: 18px;
    padding: 8px 15px;
    color: $white;
    background-color: $black;
    line-height: 20px;
    &:hover {
      font-size: 18px;
      padding: 8px 15px;
      text-decoration: none;
      color: $white;
      background-color: $color_sycamore_approx;
      line-height: 20px;
    }
  }
}
.member-us-section {
  display: block;
  border: solid 1px $color_iron_approx;
  padding: 15px;
  margin-top: 35px;
  background-color: $white;
  h1 {
    font-family: $font_2;
    text-transform: uppercase;
    margin-top: 8px;
    color: $color_hunter_green_approx;
    font-size: 36px;
  }
  h4 {
    font-family: $font_2;
    text-transform: uppercase;
    margin-top: 8px;
    color: $color_hunter_green_approx;
    font-size: 18px;
  }
  p {
    font-size: 18px;
    color: $color_mine_shaft_approx;
    line-height: 20px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 2.5em 2em 0;
  }
  li {
    position: relative;
    padding-bottom: 10px;
    font-size: 18px;
    padding-left: 5px;
    &:before {
      background: $url_18 no-repeat scroll 50% 40% transparent;
      content: " ";
      display: block;
      height: 20px;
      left: -20px;
      position: absolute;
      top: 0;
      width: 20px;
    }
  }
}
.min-height-section-bottm {
  min-height: 630px;
}
.articles-section {
  display: block;
  border: solid 1px $color_iron_approx;
  border-bottom: solid 2px $color_equator_approx;
  margin-top: 35px;
  background-color: $white;
  img {
    width: 100%;
  }
}
.articles-inner {
  padding: 15px;
  h3 {
    font-family: $font_2;
    margin-bottom: 8px;
    text-transform: uppercase;
    margin-top: 8px;
    color: $color_hunter_green_approx;
    font-size: 18px;
  }
  p {
    font-size: 18px;
    color: $color_mine_shaft_approx;
    line-height: 20px;
  }
  .btn-gold {
    float: right;
    margin-top: 10px;
    margin-bottom: 15px;
    a {
      font-size: 18px;
      padding: 8px 15px;
      color: $white;
      background-color: $color_equator_approx;
      line-height: 20px;
      &:hover {
        font-size: 18px;
        text-decoration: none;
        color: $white;
        background-color: $color_hunter_green_approx;
        line-height: 20px;
      }
    }
  }
  input {
    @extend %extend_3;
  }
  select {
    @extend %extend_4;
  }
  label {
    margin-top: 10px;
    font-size: 18px;
  }
}
.articles-section-2 {
  display: block;
  border: solid 1px $color_iron_approx;
  border-bottom: solid 2px $color_sycamore_approx;
  margin-top: 35px;
  background-color: $white;
  img {
    width: 100%;
  }
  .btn-gold a {
    font-size: 18px;
    padding: 8px 15px;
    color: $white;
    background-color: $color_sycamore_approx;
    line-height: 20px;
  }
}
.articles-section-3 {
  display: block;
  border: solid 1px $color_iron_approx;
  border-bottom: solid 2px $black;
  margin-top: 35px;
  background-color: $white;
  img {
    width: 100%;
  }
  .btn-gold a {
    font-size: 18px;
    padding: 8px 15px;
    color: $white;
    background-color: $black;
    line-height: 20px;
  }
}
.footer-above {
  background: $black;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-top: 35px;
  background-repeat: no-repeat;
  background-position: bottom;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      margin: 0;
      padding: 0;
      font-size: 18px;
      color: $color_suva_gray_approx;
      list-style: none;
      a {
        list-style: none;
        font-size: 18px;
        color: $color_suva_gray_approx;
        line-height: 24px;
        &:hover {
          list-style: none;
          font-size: 18px;
          color: $white;
          text-decoration: none;
        }
      }
    }
  }
  .input-group {
    margin-top: 25px;
  }
  i {
    margin-right: 10px;
    font-size: 24px;
    color: $color_suva_gray_approx;
  }
  .input-group-addon {
    background-color: $color_roti_approx;
    color: $white;
    border: 0;
    //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
    border-radius: 0;
  }
  input {
    //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
    border-radius: 0;
    border: solid 1px $color_roti_approx;
    background-color: $black;
    border-right: none;
    height: 42px;
  }
  .subscribe-bt {
    border: none;
    background-color: $color_roti_approx;
    color: $white;
    font-size: 18px;
    height: 30px;
    padding: 0;
  }
  h3 {
    font-family: $font_2;
    text-transform: uppercase;
    margin-top: 8px;
    color: $color_pumice_approx;
    font-size: 30px;
  }
  p {
    color: $color_suva_gray_approx;
    font-size: 18px;
  }
}
.footer-below {
  background-color: $color_rangoon_green_approx;
  padding-top: 10px;
  padding-bottom: 10px;
  p {
    color: $color_suva_gray_approx;
    font-size: 18px;
  }
}
.form-signin {
  padding: 15px;
  max-width: 440px;
  .form-signin-heading {
    margin-bottom: 30px;
  }
  .checkbox {
    margin-bottom: 30px;
    font-weight: normal;
    margin-left: 22px;
  }
  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    //Instead of the line below you could use @includebox-sizing($bs)
    box-sizing: border-box;
    &:focus {
      z-index: 2;
    }
  }
  input[type="text"] {
    margin-bottom: 15px;
    //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
    border-radius: 0;
    background-color: $white;
  }
  input[type="password"] {
    margin-bottom: 15px;
    //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
    border-radius: 0;
    background-color: $white;
  }
}
.account-wall {
  display: block;
  border: solid 1px $color_iron_approx;
  padding: 15px;
  margin-top: 35px;
  background-color: $white;
}
.login-title {
  font-family: $font_2;
  text-transform: uppercase;
  margin-top: 8px;
  color: $color_hunter_green_approx;
  font-size: 36px;
}
.need-help {
  margin-top: 10px;
  font-size: 18px;
}
.new-account {
  margin-top: 10px;
}
.panel {
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 0;
  margin-top: 35px;
}
.submit-bt {
  background-color: $color_hunter_green_approx;
  color: $color_pumice_approx;
  font-size: 18px;
  padding: 6px 15px;
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 3px;
  &:hover {
    background-color: $color_roti_approx;
    color: $white;
  }
}
.mar-left {
  margin-left: 6px;
}
.forget-pass {
  font-size: 18px;
  color: $color_hunter_green_approx;
  margin-left: 15px;
  margin-top: 8px;
  a {
    font-size: 18px;
    color: $color_roti_approx;
    &:hover {
      font-size: 18px;
      color: $color_hunter_green_approx;
      text-decoration: none;
    }
  }
}
.register-form {
  display: block;
  padding: 15px;
  input {
    width: 100%;
    height: 40px;
    //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: none;
    //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
    border-radius: 0;
    border: solid 1px $color_alto_approx;
  }
  select {
    width: 100%;
    height: 40px;
    //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: none;
    //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
    border-radius: 0;
    border: solid 1px $color_alto_approx;
  }
  textarea {
    //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: none;
    //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
    border-radius: 0;
    border: solid 1px $color_alto_approx;
  }
  input[type=radio] {
    @extend %extend_1;
  }
  label {
    display: block;
    font-size: 18px;
  }
}
input[type=checkbox] {
  @extend %extend_1;
}
.radio-inline {
  @extend %extend_2;
}
.checkbox-inline {
  @extend %extend_2;
}
input[type="checkbox"] {
  margin-left: -19px;
  width: 14px;
  margin-top: -1px;
}
.panel-green {
  border-color: $color_fern_approx;
  .panel-heading {
    border-color: $color_fern_approx;
    color: $white;
    background-color: $color_fern_approx;
  }
}
.panel-grow {
  border-color: $color_alto_approx;
  .panel-heading {
    color: $color_cedar_approx;
    font-family: $font_2;
    text-transform: uppercase;
    font-size: 30px;
    background-color: $white;
  }
}
.panel-red {
  border-color: $color_chestnut_rose_approx;
  .panel-heading {
    border-color: $color_chestnut_rose_approx;
    color: $white;
    background-color: $color_chestnut_rose_approx;
  }
}
.dashboard-section {
  .input-group-addon {
    background-color: $color_hunter_green_approx;
    color: $white;
    border: 0;
    //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
    border-radius: 0;
  }
  input {
    @extend %extend_3;
  }
  .subscribe-bt {
    border: none;
    background-color: $color_hunter_green_approx;
    color: $white;
    font-size: 18px;
    height: 28px;
    padding: 0;
  }
  select {
    @extend %extend_4;
  }
  label {
    margin-top: 10px;
    font-size: 18px;
  }
  .form-group {
    margin: 0;
  }
  textarea {
    //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
    border-radius: 0;
  }
}
.mar-dsh-img {
  margin-left: 15px;
}
.tags {
  margin: 0;
  padding: 0;
  margin-top: 25px;
  list-style: none;
  li {
    @extend %extend_5;
  }
  a {
    @extend %extend_5;
    margin-left: 20px;
    padding: 0 10px 0 12px;
    background: $color_wasabi_approx;
    color: $white;
    text-decoration: none;
    //Instead of the line below you could use @includeborder-bottom-right-radius($radius)
    border-bottom-right-radius: 4px;
    //Instead of the line below you could use @includeborder-top-right-radius($radius)
    border-top-right-radius: 4px;
    &:before {
      content: "";
      float: left;
      position: absolute;
      top: 0;
      left: -12px;
      width: 0;
      height: 0;
      border-color: transparent $color_wasabi_approx transparent transparent;
      border-style: solid;
      border-width: 12px 12px 12px 0;
    }
    &:after {
      content: "";
      position: absolute;
      top: 10px;
      left: 0;
      float: left;
      width: 4px;
      height: 4px;
      //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
      border-radius: 2px;
      background: $white;
      //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      box-shadow: -1px -1px 2px $color_regal_blue_approx;
    }
    &:hover {
      background: $color_hunter_green_approx;
    }
  }
  a:hover:before {
    border-color: transparent $color_hunter_green_approx transparent transparent;
  }
}
.titleBox {
  background-color: $color_romance_approx;
  padding: 10px;
  color: 000;
  text-transform: uppercase;
  margin-top: 25px;
  font-size: 18px;
  font-family: $font_2;
  label {
    color: $black;
    margin: 0;
    display: inline-block;
  }
}
.commentBox {
  padding: 10px;
  border-top: 1px dotted $color_pink_swan_approx;
  .form-group {
    &:first-child {
      width: 80%;
    }
    &:nth-child(2) {
      width: 18%;
    }
  }
}
.actionBox {
  border-top: 1px dotted $color_pink_swan_approx;
  padding: 10px;
  .form-group {
    &:first-child {
      width: 80%;
    }
    &:nth-child(2) {
      width: 18%;
    }
    * {
      width: 100%;
    }
  }
}
.taskDescription {
  margin-top: 10px 0;
}
.commentList {
  padding: 0;
  list-style: none;
  max-height: 200px;
  overflow: auto;
  li {
    margin: 0;
    margin-top: 10px;
    > div {
      display: table-cell;
    }
  }
}
.commenterImage {
  width: 30px;
  margin-right: 5px;
  height: 100%;
  float: left;
  img {
    width: 100%;
    //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
    border-radius: 50%;
  }
}
.sub-text {
  color: $color_silver_chalice_approx;
  font-family: $font_3;
  font-size: 11px;
}
.navbartop ul {
  margin: 0;
  padding: 0;
  margin-left: 15px;
  li {
    list-style: none;
    float: left;
    a {
      list-style: none;
      font-size: 14px;
      line-height: 40px;
      border-left: solid 1px $color_alto_approx;
      color: $color_mine_shaft_approx;
      float: left;
      padding-left: 10px;
      padding-right: 10px;
      i {
        color: $color_havelock_blue_approx;
        margin-right: 8px;
      }
      &:hover {
        list-style: none;
        font-size: 14px;
        color: $color_mine_shaft_approx;
      }
    }
  }
}
ul.nav.navbar-nav.navbar-welcome.navbar-right > li > a {
  border-left: none;
  span {
    border-left: none;
    font-weight: bold;
    color: $white;
    margin-right: 8px;
  }
}
.navbar-default .navbar-nav > li > a:focus {
  color: $color_equator_approx;
  background-color: transparent;
}
.social-icon ul {
  margin: 0;
  padding: 0;
  float: right;
  margin-top: 27px;
  li {
    margin: 0;
    list-style: none;
    padding: 0;
    float: left;
    a {
      margin: 0;
      padding: 0;
      font-size: 24px;
      color: $color_equator_approx;
      &:hover {
        margin: 0;
        padding: 0;
        color: $color_tundora_approx;
      }
    }
  }
}
.articles-head a {
  color: $black;
  &:hover {
    color: $color_tundora_approx;
    text-decoration: none;
  }
}
.panel-default > .panel-heading {
  background-color: $white;
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 0!important;
  margin-top: 6px;
}
.social-login ul {
  margin: 0;
  padding: 0;
  margin-top: 27px;
  li {
    margin: 0;
    list-style: none;
    padding: 0;
    margin-bottom: 25px;
    a {
      margin: 0;
      color: $white;
      //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
      border-radius: 3px;
      padding: 8px 15px;
      font-size: 18px;
      background-color: $color_azure_approx;
      &:hover {
        margin: 0;
        padding: 8px 15px;
        text-decoration: none;
        opacity: 0.7;
      }
    }
  }
  li+li a {
    background-color: $color_cerulean_approx;
  }
  li+li+li a {
    background-color: $color_thunderbird_approx;
  }
}
label.radio.inline {
  display: inline-block;
  width: 120px;
}
.sidebar ul {
  margin: 0;
  padding: 0;
  background-color: $white;
  margin-bottom: -35px;
  li {
    margin: 0;
    list-style: none;
    padding: 8px;
    border-bottom: solid 1px $color_alto_approx;
    a {
      margin: 0;
      font-size: 18px;
      color: $color_hunter_green_approx;
      i {
        margin: 0;
        font-size: 18px;
        color: $color_hunter_green_approx;
        margin-right: 5px;
      }
      &:hover {
        margin: 0;
        color: $color_alto_approx;
        text-decoration: none;
      }
    }
  }
}
.dash-articales-ead h5 {
  font-size: 30px;
  font-family: $font_2;
  padding-left: 12px;
  text-transform: uppercase;
}
.commentText p {
  margin: 0;
}