Dear <%= user.firstname %>,
<br>

<p>
Congratulations your account is approved,
</p>
<p>
 please login to your account <a href="<%= loginLink %>"> Click Here </a>

</p>

<p>
Or copy paste this link on in your browser <pre>http://<%= loginLink %></pre>
</p>


Thank you <br>
Team MMI
