Dear <%= name %>,

Welcome to  Money Management India !
Admin has approved your account.

For login your account <a href="<%= loginLink %>">Click here </a>

Or copy paste this link on in your browser <pre>http://<%= loginLink %></pre>



Thank you
Team MMI
