Dear <%= user.name %>,<br/>

<p>Thank you for your patience while we completed our registration formalities. </p>

<p>You can now log in to your account by clicking <a href="<%= loginLink %>">  here </a></p>

<p>If clicking the link doesn't seem to work, you can copy and paste the link into your browser's address window</p>

<pre>http://<%= loginLink %></pre>

Thank you<br>
PIN Team<br>
T - +91 22 6592 8888