Dear <%= user.name %>,
<br>

<p>
Welcome to Private investment network ! 
Admin has approved your account.
</p>
<p>
For login your account <a href="<%= loginLink %>">Click here </a>

</p>

<p>
Or copy paste this link on in your browser <pre>http://<%= loginLink %></pre>
</p>


Thank you <br>
Team PIN 