Dear <%= user.name %>,

Thank you for your patience while we completed our registration formalities. 

You can now log in to your account by clicking <a href="<%= loginLink %>">  here </a>

If clicking the link doesn't seem to work, you can copy and paste the link into your browser's address window

http://<%= loginLink %>

Thank you
PIN Team
T - +91 22 6592 8888