 <div class="container pos-relative">
        <div id="error-page">
            <div class="error-massege">
                <h1 class="bebas-neue">404:</h1>
                <h2 class="nexa-bold">User dose not Exit</h2>
                <p class="segoe-wp-light">This user has moved on to another realm. You could get some friend to join us in the one.</p>
                <form class="navbar-form"  name="form" novalidate ng-if="!submitted || !validate">
                    <div class="form-group">
                        <input type="email" class="form-control invite-friend-query" placeholder="Type Email Address" name="email" ng-model="user.email" placeholder="e-mail" required>
                    </div>
                    <button type="submit" ng-click="inviteFriends(form)" class="btn btn-primary nexa-bold" style="margin-left:15px; ">INVITE FRIENDS</button>
                   <p class="help-block text-danger error" ng-show="form.email.$error.email && submitted">
                        Doesn't look like a valid email.
                    </p>
                    <p class="help-block text-danger error" ng-show="form.email.$error.required && submitted">
                        Please enter email address.
                    </p>
                </form>
            </div>
        </div>
        <div class="notfound-img"><img src="images/not-found-art.svg" alt="Not FOund"></div>
    </div>
