Dear <%= user.firstname %>,
<br>

<p>
We heard you forgot your password.
Do not worry, here is the link to reset it.
</p>
<p>
<a href="<%= forgotLink %>">Reset Password </a>
</p>
<p>
Or copy paste this link on in your browser <pre>http://<%= forgotLink %></pre>
</p>
<p>
If you didn't submit a password reset request, please ignore this email.
</p>
Thank you <br>
Team PIN
