<div class="container-fluid po-reletive">
<div class="container-head">
<div class="row">
<div class="pull-left">
<div class="mar-back-img-inner">
<!-- Become a member section -->
  <div ng-include="'partials2/left-navbar.html'"> </div>
</div>
</div>

<div class="pull-left">
<div class="inner-section">
 <h1>About</h1> 
<p>You have contributed to the India story in the past couple of decades, and in the process generated substantial wealth. You now want to protect and grow this wealth. You may need to put some structure around it to help govern and manage it better. You want to leave a legacy, not just for your own family but for society. </p>

<p>You may want to speak to other business families who have had similar journeys. A lot of them are willing to share. But you want a ‘safe harbour’ environment for discreet conversations. You certainly don’t want to be constantly approached by product or service provders.</p>

<p>You may want to find the best experts in a range of areas. It’s good to know they come highly recommended.</p>

<p>You may want to read or hear from experts and other families from around the world to help you set up and manage a family office.</p>

<p>You may want to request for information and conduct due diligence on investment products.</p>

<p>The Private Investor Network provides a safe harbour environment for families of substantial wealth for discreet peer-to-peer networking and learning. PIN is an independent unbiased source that collates and curates content from best of breed experts. </p>

</div>  
</div>

</div>
</div>
</div>

<!-- /container -->
