<div class="container-fluid po-reletive">
<div class="container-head">
<div class="row">
<div class="pull-left">
<div class="mar-back-img-inner">
<!-- Become a member section -->
  <div ng-include="'partials2/left-navbar.html'"> </div>
</div>
</div>

<div class="pull-left">
<div class="inner-section">
 <h1>About</h1>

<p>The Private Investor Network is an initiative by Hansi Mehrotra. </p>

<strong> About Hansi Mehrotra </strong>

<p>Hansi has 20 years of financial services industry experience, primarily in investment research and consulting for the wealth management industry.</p>

<p>Most recently, Hansi formed a joint venture to set up the India office for Hubbis in 2012, a HK-based wealth management portal and professional development firm for the Asian wealth management industry. She wrote and published articles, guides, educational content, as well as organised a number of industry events.</p>

<p>Before becoming an entrepreneur, Hansi was Asia Pacific head of wealth management for Mercer’s Investment Consulting business, based in Singapore. She was responsible for the firm's investment offering to private banks and wealth management firms, having started this division in Australia in 2003. She also launched Mercer's investment business in India in 2008, and led a number of projects including design of the investment options for the New Pension System. Before Mercer, she held a similar role at a leading research firm in Australia. In addition to content, Hansi’s roles have included the development of the online service delivery to financial advisers. </p>

<p>Hansi has been guest practitioner for the Securities Institute of Australia (now called FINSIA), CFA Institute, Singapore Management University, Delhi University for wealth management topics. </p>

<p>She holds a Bachelor of Arts degree from Delhi University, Graduate Diploma of Applied Finance and Investments and Chartered Financial Analyst charter from CFA Institute.</p>

</div>
</div>

</div>
</div>
</div>

<!-- /container -->
