<div class="container">
    <div id="breadcam">
        <ul>
            <li>
                <a href="#"><img src="images/home-icon.png" alt=""></a>
            </li>
            <li><img src="images/arwwo-bardcam.png" alt=""></li>
            <li>About</li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="inner-doodles-tophead-meet"></div>
    <div class="row mar-bot40">
        <div class="inner-doodles-drownig"></div>
        <div class="inner-doodles-men"></div>
        <div class="inner-doodles-right-1"></div>
        <div class="inner-doodles-right-2"></div>
        <div class="inner-doodles-right-3"></div>
        <div class="inner-doodles-right-4"></div>
        <!--architect area-->
        <div class="col-md-8 col-sm-8 padr-30">
            <h2>About</h2>
            <div class="discussions-section">
                <div class="row-mar">
                    <div class="row chat-2mar15">
                        <div class="col-lg-12">
                            <div class="discussions-section">
                                <div class="eventdetail-box">
                                    <div class="inner-section">
                                        <h3><b>About The Money Hans</b></h3>
                                        <p>My name is Hansi Mehrotra <a href="https://www.linkedin.com/in/hansimehrotra" target="_blank">(https://www.linkedin.com/in/hansimehrotra)</a>.I started The Money Hans because I want to share my knowledge and 20 years experience in finance with those who need it the most – directly.</p>
                                        <h3><b>Who am I?</b></h3>
                                        <p>I am a girl from Unnao in UP, India who built a good enough career in finance to be on the Asia pacific investment committee of the world’s largest investment consulting firm - that too without an MBA!</p>
                                        <p>I feel grateful for my journey so far. I was able to figure out what I enjoyed, and then pursue it. I worked with some really smart people and got to interview some of the smartest investment professionals in the world. While that, in itself, doesn’t make me smart, I feel I have learnt enough that I can share some of the insights from my professional journey with normal people who struggle to manage their finances.</p>
                                        <p>A quick explanation of the name – ‘hans’ is Sanskrit for swan. In Hindu mythology, goddess Saraswati, the muse of learning, knowledge, and source of creative energies, rides the swan. The hansis also said to have special powers to separate milk from water. So given my name and financial research background, I had a calling to help investors learn and separate good investments from bad.</p>
                                        <h3><b>Yet another site?</b></h3>
                                        <p>There are enough brilliant investment books and websites out there if someone really wants to learn about making money. But I noticed that the best books and sites were about stock picking i.e. how to pick individual stocks.The average normal person doesn’t have the time or inclination to pick stocks. That is why the financial services/mutual funds industry exists – so they can entrust their savings to professional fund managers to make it grow, ideally at a slightly higher return than the broader market. </p>
                                        <p>However, it appears there aren’t many books on how to select these mutual funds. In fact, my Google search resulted in only a couple of credible books. And they have the opposite views! </p>
                                        <p>At the other extreme, authors and media come up with their own views on how to manage your money and pick funds (based on some version of ‘track record’). They also present a complicated-looking sites and ‘fund fact sheets’ that cram a lot of jargon on to one page. </p>
                                        <p>I, as a professional, struggle to read them – I feel sorry for normal people, who don’t have a clue about Jensen’s alpha or Treynor measure. Why do they come up with some complicated calculation that no one cares about?</p>
                                        <p>Anyway, I couldn’t find any decent books or sites, which helped normal people really understand investing. So I decided to write one myself.</p>
                                        <h3><b>What makes me credible?</b></h3>
                                        <p>Since I mentioned that you shouldn’t blindly follow journalists who are not qualified, I owe you an explanation of my qualifications and experience. </p>
                                        <p>If you are interested in the long version of my story, I would be happy to share anecdotes from my journey in the blogs. The short version,which also appeared on YourStory <a href="http://her.yourstory.com/hansi-mehrotra-0104" target="_blank">(http://her.yourstory.com/hansi-mehrotra-0104)</a>, is that I have one of the best qualifications (CFA charter) and more than 20 years experience with leading researchers in sophisticated markets - </p>
                                        <ul>
                                            <li>
                                                <p> 1990-1992 – Sold binding and laminating machines in Delhi while finishing my <b>Bachelor of Arts degree</b> from Delhi University</p>
                                            </li>
                                            <li>
                                                <p> 1993 – 1995 – Moved to Australia to start a fresh life after my father passed away; studied for a <b>Graduate Diploma in Applied Finance and Investments while </b>working as an investment advisers specialising in ethical investments (even got a full page write up in the Australian Financial Review for this)
                                                </p>
                                            </li>
                                            <li>
                                                <p>1995 – 2003 – Started as an analyst at van Eyk Research, a leading investment research house, and worked up to be Associate Director responsible for their retail business; studied for the <b>Chartered Financial Analyst charter</b> during 1997-1999; developed online portal called iRate to disseminate research to financial advisers; was also involved in creating an investor education site which got buried in the collapse of the tech bubble
                                                </p>
                                            </li>
                                            <li> 2003 – 2011 – Got approached by Mercer, one of the world’s largest institutional investment consulting firms (which means they advised really large investors like pension funds and sovereign wealth funds) to start their wealth management division; developed another online portal called Mercer >IS
                                                <; went to <b>Wharton</b> for a special course on advising really rich people; moved to Singapore to expand the service across Asia Pacific including India; worked on some really cool projects including designing the Indian New Pension System
                                                    </p>
                                            </li>
                                            <li>
                                                <p> 2012 – 2014 – Quit corporate life and moved back to India to follow my calling – in financial education; presented at various courses and conferences including at one organised jointly by Wharton and Singapore Management University; launched a new media/education portal as a joint venture with a HK-based firm which involved interviewing the best in the Indian financial industry
                                                </p>
                                            </li>
                                            <li>
                                                <p>2015 – Finally got around to launching this site! </p>
                                            </li>
                                        </ul>
                                        <p>You can google me (Hansi Mehrotra) if you want check out my story.</p>
                                        <p>I posted all the articles that appear on this site on LinkedIn just as a publishing platform, and got named a Top Voice for money and finance <a href="https://lists.linkedin.com/2015/top-voices/money-and-finance/hansi-mehrotra" target="_blank">(https://lists.linkedin.com/2015/top-voices/money-and-finance/hansi-mehrotra)</a>, one of only 10 out of more than 150,000 posts every week by more than 440 million members.</p>
                                        <p>By the way, I am also launching another site aimed at the industry, so if you are a finance professional you may want to check out that one instead (<a href="http://moneymanagementindia.net/">www.moneymanagementindia.net</a>). </p>
                                        <!-- <p>I will make a living out of the professional site so I can (hopefully) afford to keep The Money Hans free of conflicts of interests i.e. I will not try to sell you anything!</p> -->
                                        <h3><b>I need your help</b></h3>
                                        <p>I genuinely believe that everyone needs to understand money – because you can’t do without it. It’s a basic life skill in today’s world – like reading and writing. I also understand it can be boring and intimidating. I will try my best to make it fun and simple.</p>
                                        <p>I will need your help – please keep giving me constructive feedback when you don’t understand something so I can do something about it.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
  <div ng-include="'partials2/right-nav.html'"> </div>
</div>
    </div>
    <!--end-->
</div>
