<div class="container-head learning-section">

  <div class="row">
    <div class="col-lg-9">
      <ul class="breadcrumb">
        <li><a href="/home"><i class="fa fa-home fa-lg"></i></a></li>
        <li class="active">EVENT</li>
      </ul>
    </div>  
    

 </div>


 <div class="row">
  <div class="col-lg-9">

    <div class="submit-articale-section">
     <h1>Submit Your Event</h1> 
     <div class="register-form-hr"></div>
     <form novalidate  name="form" role='form' enctype= 'multipart/form-data' class="">
      <!-- <button ng-click="template(1)" class="btn btn-primary">Template 1</button> -->
      <div class="dashboard-section">
        <div class="row register-form-row-pad">
          <div class="col-lg-7 paddingr-7">  
            <div class="form-group" ng-class="{'has-error':form.title.$dirty && form.title.$error.required,'has-success':form.title.$valid}">
              <input type="text" class="form-control" name="title" placeholder="Title"  ng-model="article.title" required ng-minlength=5>
              <p class="text-danger" ng-show="form.title.$dirty && form.title.$error.required">Please fill title.</p>
              <p class="text-danger" ng-show="form.title.$dirty && form.title.$error.minlength">your title shoud be minimum 5 character long .</p>
              <p class="text-danger" ng-show="form.title.$error.mongoose"> {{ errors.title }} </p>

            </div>
          </div>

          <div class="col-lg-3  paddingl-7">
            <div class="form-group">
              <select ng-model="article.category" ng-options="o as o for o in category" placeholder="choose category"></select>
            </div>
          </div>

        </div>
<div class="row ">
          <div class="col-lg-10">

            <div class="form-group" ng-class="{'has-error':form.agenda.$dirty && form.agenda.$error.required,'has-success':form.agenda.$valid}">
              <label class="control-label" for="agenda">Agenda</label>
              <text-angular class="rituraj" name="agenda" ng-model="article.agenda" required ng-minlength=20 ta-toolbar="[ ['h1', 'h2','quote','insertLink'],['bold', 'italics', 'underline', 'strikeThrough'],['justifyLeft','justifyCenter','justifyRight'],['ul', 'ol'],['insertImage', 'insertVideo']]"> </text-angular>
              <p class="text-danger" ng-show="form.agenda.$dirty && form.agenda.$error.required">Please fill Agenda.</p>
              <p class="text-danger" ng-show="form.agenda.$dirty && form.agenda.$error.minlength">your agenda shoud be minimum 20 character long .</p>
              <p class="text-danger" ng-show="form.agenda.$error.mongoose">{{ errors.agenda }} </p>
            </div>
          </div>
        </div>
</div>

<div class="row ">
          <div class="col-lg-10">

            <div class="form-group" ng-class="{'has-error':form.bannertext.$dirty && form.bannertext.$error.required,'has-success':form.bannertext.$valid}">
              <label class="control-label" for="bannertext">Banner Text</label>
              <text-angular class="rituraj" name="bannertext" ng-model="article.bannertext" required ng-minlength=20 ta-toolbar="[ ['h1', 'h2','quote','insertLink'],['bold', 'italics', 'underline', 'strikeThrough'],['justifyLeft','justifyCenter','justifyRight'],['ul', 'ol'],['insertImage', 'insertVideo']]"> </text-angular>
              <p class="text-danger" ng-show="form.bannertext.$dirty && form.bannertext.$error.required">Please fill Banner Text.</p>
              <p class="text-danger" ng-show="form.bannertext.$dirty && form.bannertext.$error.minlength">your Banner text shoud be minimum 20 character long .</p>
              <p class="text-danger" ng-show="form.bannertext.$error.mongoose">{{ errors.bannertext }} </p>
            </div>
          </div>
        </div>

    <div class="form-group">
     <label class="control-label" for="fullName">Banner </label>

     <input type="file" ng-file-select="" ng-model="picFile" name="files" name="file"  ng-model-instant id="fileToUpload" multiple onchange="angular.element(this).scope().setFiles(this)" accept="'image/*'" />

       <i class="text-danger" ng-show="form.file.$error.required">*required</i>
<br/>
<img ng-show="mainFIle[0].dataUrl != null" ng-src="{{mainFIle[0].dataUrl}}" class="thumb" style="
height:100px;width: 100px">  
<br/>
<span class="progress" ng-show="mainFIle[0].progress >= 0">    
  <div style="width:{{mainFIle[0].progress}}% ;background: green;" ng-bind="mainFIle[0].progress + '%'" class="ng-binding"></div>
</span> 
<span ng-show="mainFIle[0].result">Upload Successful</span>
<!-- <button >Submit</button> -->


</div>
<div class="form-group">
  <tags-input ng-model="article.expert" 
                display-property="name" 
                placeholder="Add a Minimum 1 Expert" 
                replace-spaces-with-dashes="false"
                min-tags="1"
                template="tag-template" class="expert">
      <auto-complete source="loadExpert($query)"
                     min-length="0"
                     load-on-focus="true"
                     load-on-empty="true"
                     max-results-to-show="32"
                     template="autocomplete-template"></auto-complete>
    </tags-input>


<script type="text/ng-template" id="tag-template">
      <div class="tag-template">
        <div class="left-panel">
          <img ng-src="{{data.flag}}" ng-if="data.flag"/>
        </div>
        <div class="right-panel">
          <span>{{$getDisplayText()}}</span>
          <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
        </div>
      </div>
    </script>
    
    <script type="text/ng-template" id="autocomplete-template">
      <div class="autocomplete-template">
        <div class="left-panel">
          <img ng-src="{{data.flag}}" />
        </div>
        <div class="right-panel">
          <span ng-bind-html="$highlight($getDisplayText())"></span>
          <span>({{data.designation}})</span>
          // <span>{{data.confederation}}</span>
        </div>
      </div>
    </script>
</div>

<!-- <div class="checkbox italic-font">
  <label><input type="checkbox" name= "agree" ng-model="article.checked" required value="">Check box to agree to these submission guide line</label>
</div> -->


<hr/>
<div class="row" >
  
<div class="col-lg-6">
<div class="form-group">              
<label for="">Address :</label>
<input type="text"  class="form-control" ng-model="article.location.address" id="addresspicker_map" required>
</div>

<div class="form-group"> 
      <label>Locality: </label>
       <input class="form-control" id="locality" > 
</div>

<div class="form-group"> 

            <label>SubLocality: </label>
             <input class="form-control" id="sublocality" >
             </div>

<div class="form-group"> 

            <label>District: </label> <input class="form-control" id="district" > 
</div>

<div class="form-group"> 

            <label>State/Province: </label> <input class="form-control" id="state" > 
            </div>

<div class="form-group"> 

            <label>Country:  </label> <input class="form-control" id="country" > 
            </div>
<div class="form-group"> 


            <label>Postal Code: </label> <input class="form-control" id="postalcode" >
           <input type="hidden"  class="form-control" id="lat" > 
           <input type="hidden" class="form-control" id="lng" > 
           <input type="hidden" class="form-control" id="zoom" > 
            </div>
            </div>
           
<div class="col-lg-6 col-md-6 col-sm-6">
  <label id="geo_label" for="reverseGeocode">Reverse Geocode after Marker Drag?</label>
      <select id="reverseGeocode">
        <option value="false" >No</option>
        <option value="true" selected>Yes</option>
      </select><br/>
<div class="map-hw" id="map" style="height: 420px;width: 350px;"></div> 
      <div id="legend">You can drag and drop the marker to the correct location</div>

</div>  
</div>


<!-- <button type="submit" ng-disabled="form.$invalid" class='btn btn-success' >Add</button>  -->
<button ng-show="filearticle" class='btn register-bt' ng-disabled="!form.$valid" ng-click="uploadPic(mainFIle)" >Add</button> 
<button ng-hide="filearticle" class='btn register-bt' ng-disabled="!form.$valid" ng-click="saveArticle(form)" >Add</button> 
<!-- <button class='btn register-bt' ng-click=" preview = !preview " >Preview</button>  -->
        <!-- <button  type="reset" ng-click="reset(form)" class='btn btn-warning'>Reset</button> 
        <a  href="/dashboard" class='btn btn-danger'>Cancel</a>  -->
        <p ng-show="articleDone"><span>*</span> Thank you for contribution. your articale will be moderated by the admin.we will notify you shortly.</p>
        <br></br>

     </form>


   </div>  

 </div>


 <div class="col-lg-3 col-md-3 col-sm-3">
  <div ng-include="'partials2/right-nav.html'"> </div>
</div>
</div>
</div>

