<div class="container">
<div id="content-section">


<div class="row">
<div class="col-lg-8 col-md-8 col-sm-8">

<div class="breadcam-link">
<ul>
    <li><a href="/"><i class="fa fa-home"></i></a></li>
    /
    <li><a href="/meet">MEET</a></li>
    /
    <li class="active">{{events.title | uppercase}}</li>
</ul>
</div>  

<div class="gray-hr"></div>


<div class="event-detais-section">


<div class="meet-baner-img">
<!-- <img  ng-if="!events.media" src="images/meet-baner-img-2.jpg" class="img-responsive" alt="">
<img  ng-if="events.media" src="{{events.media.path}}" class="img-responsive" alt="">
 -->
<div>
<h1>{{events.title | uppercase}}<h1>
<div class="transparent-bg">

<!-- <p class="articleview" ng-bind-html="events.bannertext | rawHtml "></p> -->

<h2>{{events.eventdate | date:"MMMM dd yyyy"}} - {{events.location. }}<br/>{{events.location.state}} {{events.location.country}}</h2>

<!-- <h2>{{events.eventdate | date:"MMMM dd yyyy"}}</h2> -->

<p class="text-center">

<button class="btn event-register event-opp" disabled="disabled" type="button" ng-if="(events.serviceregistered.indexOf(currentUser._id) > -1) ">REGISTERED <i class="fa fa-caret-right"></i></button>

<button class="btn event-register event-opp"   type="button" ng-if="(events.serviceregistered.indexOf(currentUser._id) == -1) " ng-click="registerUserInEvent()">REGISTER  For Event <i class="fa fa-caret-right"></i></button>

</P>

</div>

</div>
</div>

<h2>
AGENDA
 </h2> 

<h4> {{events.title | uppercase}}</h4>

<p class="articleview" ng-bind-html="events.agenda | rawHtml "></p>

 <h3>Speakers</h3>

<div class="row">
<div class="team-section">

<div class="col-lg-3 col-md-3 col-sm-3" ng-repeat="(key,val) in events.expert">
   <div class="post-box">
                <div class="caption-red">
                   <span><img src="images/linkdin-icon.png" alt=""></span>
                   <span><img src="images/mail-icon.png" alt=""></span>
                </div>

<div><img ng-src="{{val.flag}}" class="img-responsive" alt=""></div> 
</div>
  <h5>{{val.name}}</h5> 
  <p>{{val.designation}}</p> 
</div> 
</div>
</div>


 <div class="comment-text">
 <h3>Venue</h3>
 </div> 
 <div class="connect-hr2"></div>

<div class="row">
<div class="address-section">
  <div class="col-lg-8 col-md-8 col-sm-8 padding-right0">
   <div class="map-view" id="map" style="height: 236px"></div> 
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 padding-left0">
<div class="address">
 <p> {{events.location.address}}</p>

 <p>{{events.location.city}}</p>

 <p>{{events.location.state}} - {{events.location.postalcode}}</p>

<p>{{events.location.country}}</p>
<a type="button" class="btn btn-register btn-openid" ng-href="http://maps.google.com/maps?saddr={{events.location.lat}},{{events.location.lng}}&daddr={{events.location.lat}},{{events.location.lng}}&hl=en&sll={{events.location.lat}},{{events.location.lng}}&t=m&mra=mift&mrsp=1&sz={{events.location.zoom}}&z={{events.location.zoom}}" 


target="_blank">
                 <i class="fa fa-caret-right"></i> get direction</a>

</div>
  </div>




  </div>
</div>
<br/>
<hr/>
<p><a class="btn readmore-bt" type="button" href="/meet"  >Back To Events </a>
<!-- <a ng-if="currentUser.role=='admin'" class="btn register-bt " type="button" ng-href="/event/edit/{{events._id}}"  >Edit </a></p> -->

<br>
</div>  

</div>


<div class="col-lg-4 col-md-4 col-sm-4">
  <div ng-include="'partials2/right-nav.html'"> </div>
</div>
</div>
</div>
<input type="hidden" id="addresspicker_map">