      <div class="container page">
        <div class="row">
          <div class="col-lg-3">
            <div class="articale-sidebar">
              <aside class="sidebar">
               <ul class="sidebar_widgets">

                <!--Search area start-->
            <!--     <li class="widget fx widget_search animated fadeInRight">
                  <h3 class="widget-head">Search</h3><div class="widget-content">
                  <form role="search" method="get" action="#">
                    <input type="text" value="" name="s" class="txt-box" placeholder="Enter search keyword here...">
                    <button type="submit" class="btn main-bg"><i class="fa fa-search"></i></button>
                  </form>
                </div>
              </li>         -->
              <!--end-->

              <!--Recent post area start-->
              <li class="widget widget_recent_entries">        
                <h3 class="widget-head">Recent Posts</h3>
                <div class="widget-content"> 
                  <ul>
                    <li ng-repeat="(key,value) in latestcomments">
                     <div class="post-img">
                      <a ng-href="/articles/view/{{value._id}}">
  
                        <img ng-if="value.media.path" ng-src="../{{value.media.path}}" title="{{value.title}}" width="150" height="150" src="images/31-150x150.jpg" class="attachment-thumbnail wp-post-image" alt="{{value.title}}">

                         <img ng-if="!value.media.path" src="images/articels001.jpg" class="img-responsive" title="{{value.title}}" width="150" height="150"> 
  
                        </a>

                      </div>

                      <div class="widget-post-info">
                        <h4>
                          <a href="#">{{value.title}}</a>
                        </h4>
                        <div class="meta">
                         <span class="wid_post-date"><i class="fa fa-clock-o"></i>{{ value.createdAt | date:"d MMMM yyyy" }}</span>
                         <!-- <span class="wid_comments"><i class="fa fa-comments"></i><span>Comments Off</span></span> -->
                       </div>
                     </div>       
                   </li>
                 </ul>
               </div>
             </li>

             <!--end-->

             <!--category area start-->

             <!-- <li class="widget widget_categories">
              <h3 class="widget-head">Categories</h3>
              <div class="widget-content">
                <ul>
                  <li class="cat-item cat-item-133"><a href="#">Edge Case</a>
                  </li>
                  <li class="cat-item cat-item-156"><a href="#">Markup</a>
                  </li>
                  <li class="cat-item cat-item-149"><a href="#">Media</a>
                  </li>
                  <li class="cat-item cat-item-120"><a href="#">Post Formats</a>
                  </li>
                  <li class="cat-item cat-item-143"><a href="#">Template</a>
                  </li>
                  <li class="cat-item cat-item-1"><a href="#">Uncategorized</a>
                  </li>
                </ul>
              </div>
            </li>
 -->
            <!--end-->

            <!--comment area start-->
            <!-- <li class="widget widget_recent_comments">
              <h3 class="widget-head">Recent Comments</h3>
              <div class="widget-content">
                <ul id="recentcomments">

                  <li class="recentcomments">
                    <span class="comment-author-link">Maria</span> on 
                    <a href="#">Excellent Women Accordion</a>
                  </li>

                  <li class="recentcomments">
                    <span class="comment-author-link">Maria</span> on 
                    <a href="#">New Mens Slim Fit Stylish T-Shirt</a>
                  </li>

                  <li class="recentcomments">
                    <span class="comment-author-link">Maria</span> on 
                    <a href="#">Walker Coat with Snap Front Hood</a>
                  </li>
                  <li class="recentcomments">
                    <span class="comment-author-link">Stuart</span> on 
                    <a href="#">Big Chill Light Weight Jacket, 3XL White</a>
                  </li></ul>
                </div>
              </li>
 -->
              <!--end-->

              <!--tag area start-->

              <!-- <li class="widget widget_tag_cloud">
                <h3 class="widget-head">Tag Cloud</h3>
                <div class="widget-content">
                  <div class="tagcloud">
                    <a href="#" class="tag-link-131" title="" style="font-size: 12.597014925373pt;">content</a>
                    <a href="#" class="tag-link-3" title="" style="font-size: 10.507462686567pt;">Design</a>
                    <a href="#" class="tag-link-9" title="" style="font-size: 10.507462686567pt;">development</a>
                    <a href="#" class="tag-link-137" title="" style="font-size: 10.507462686567pt;">embeds</a>
                    <a href="" class="tag-link-121" title="" style="font-size: 22pt;">Post Formats</a>
                    <a href="#" class="tag-link-124" title="" style="font-size: 14.268656716418pt;">shortcode</a>
                    <a href="#" class="tag-link-144" title="" style="font-size: 14.268656716418pt;">template</a>
                    <a href="#" class="tag-link-63" title="" style="font-size: 10.507462686567pt;">training</a>
                    <a href="" class="tag-link-5" title="" style="font-size: 8pt;">Web</a>
                    <a href="" class="tag-link-7" title="" style="font-size: 8pt;">WordPress</a></div>
                  </div>
                </li> -->

                <!--end-->
              </ul>
            </aside>

          </div>
        </div>
        
        <div class="col-lg-9">
          <div class="dashboard-section">




          </div>

          <div class="row">
            <div class="col-lg-12">
              <div class="articles-section"  >
                <div class="articles-inner2"> 
                  <div class="dash-articales-ead-details"><h5>{{articles.title}}</h5></div>
                  <div class="post-meta-info-inner">

                    <div class="post_meta_author"><i class="fa fa-user"></i>
                      Rituraj Ratan</div>
                      <div class="post_meta_cats"><i class="fa fa-clock-o"></i>{{articles.createdAt | date:"d MMMM yyyy" }}</div>
                      <div class="post_meta_date"><i class="fa fa-comment"></i>0 Comments</div>
                      <div class="post_meta_views"><i class="fa fa-tag"></i>{{articles.tags.toString()}}</div>
                    </div>
                  </div>

                  <div class="articles-inner"> 
                    <div class="articale-img-inner">
                      <img ng-if="!articles.media.path" src="images/articels001.jpg" class="img-responsive" title="{{articles.title}}"> 

                      <img ng-if="articles.media.path" ng-src="../{{articles.media.path}}" title="{{articles.title}}">
                    </div>

                    <p ng-bind-html="articles.description | rawHtml"></p>


                    <div class="detailBox">
                      <div class="titleBox">
                        <label>Comment Box</label>
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                      </div>
                      <!-- <div class="commentBox">

                        <p class="taskDescription">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                      </div> -->
                      <div class="actionBox">
                        <ul class="commentList">
                          <li ng-repeat="(key,value) in articles.comments">
                            <div class="commenterImage">
                              <img src="http://lorempixel.com/50/50/people/6" />
                            </div>
                            <div class="commentText">
                              <p class="">{{ value.post}}</p> <span class="date sub-text">on {{value.posted | date:"MMMM d, yyyy"}}</span>
                              <div class="pull-left edit-icon"><a ng-click="editComment(value._id,value.post)"> <i class="fa fa-edit"></i>Edit</a></div>
                              <div class="pull-left trash-o-icon"><a ng-click="deleteComment(value._id)"> <i class="fa fa-trash-o"></i>Delete</a></div>
                            </div>
                          </li>
                        </ul>
                        <form novalidate  name="form" role='form' ng-submit="addComment(form)" name="form" ng-if="currentUser._id">
                          <div class="form-group" ng-class="{'has-error':form.description.$dirty && form.description.$error.required,'has-success':form.description.$valid}">
                            <textarea class="form-control"  name="comment" placeholder="Your comments" ng-model="article.comment" required ng-minlength=4></textarea>
                              <p class="text-danger" ng-show="form.comment.$dirty && form.comment.$error.required">Please fill comment.</p>
                            <p class="text-danger" ng-show="form.comment.$dirty && form.comment.$error.minlength">your comment shoud be minimum 4 character long .</p>
                            <p class="text-danger" ng-show="form.comment.$error.mongoose">{{ errors.comment }} </p>
                          </div> 
                          <div class="form-group">
                            <button class="btn btn-default" ng-hide="editcomment_id" type="submit" ng-disabled="form.$invalid">Add</button>
                            <button class="btn btn-default" ng-show="editcomment_id" type="submit" ng-disabled="form.$invalid">Edit</button>
                          </div>
                        </form>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
