<div class="container">
<div id="content-section">

<div class="row">
<div class="col-lg-8 col-md-8 col-sm-8">
<div class="row">
<div class="col-lg-4 col-md-4 col-sm-4 filter-dropdown">
 <select class="form-control fliter" id="sel1" ng-model="selectcategory">
    <option value="">--Select Category--</option>
    <option ng-repeat="(key,value) in  mmicategory" value="{{value.name}}">{{ value.name }} </option>

  </select>
</div>
</div>
<div class="gray-hr"></div>


<div class="clearfix">
<div class="breadcam">

<div class="investment"><span><img src="images/investment.jpg" alt=""></span><a href="#">INVESTMENTS</a> <i class="fa fa-chevron-right"></i> Traditional investments  </div>
</div> 
<div class="date">
 March 19, 2015 
</div>    
</div>


<div class="row">
 <div   class="col-lg-6 col-md-6 col-sm-6" >
   <div ng-if='articles[0].media.extension.indexOf("image") > -1' class="home-image">
          <img ng-if="!articles[0].media.path" ng-src="images/{{mmicategorysetting[articles[0].mmicategory].main-image}}" class="img-responsive" title="{{articles[0].title}}">           
          <img ng-if="articles[0].media.path" ng-src="../{{articles[0].media.path}}" title="{{articles[0].title}}" class="img-responsive">
          </div>
          <div ng-if='articles[0].media.extension.indexOf("video") > -1' class="home-image">

          <img  src="images/video-play.png" class="img-responsive" title="{{articles[0].title}}">           
      </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 ">
<h1>{{articles[0].title}}</h1>
<p><small>by</small> {{articles[0].author.name}}</p>
<p ng-bind-html="articles[0].description | limitTo:descriptionLimit | rawHtml"></p>
<p><a type="button" class="btn readmore-bt" ng-href="/articles/view/{{articles[0]._id}}">Continue Reading </a></p>  
</div>  

</div>


<div class="gray-hr"></div>

 
<div class="row">

<div class="col-lg-4 col-md-4 col-sm-4" ng-repeat="(key,value) in articles" ng-if="!$first || value.mmicategory== selectcategory" >
<div class="content-block">
<div ng-if='value.media.extension.indexOf("image") > -1' class="block-image">
          <img ng-if="!value.media.path" ng-src="images/{{mmicategorysetting[value.mmicategory].main-image}}" class="img-responsive" title="{{value.title}}">   

          <img ng-if="value.media.path" ng-src="../{{value.media.path}}" title="{{value.title}}" class="img-responsive">
          </div>
          <div ng-if='value.media.extension.indexOf("video") > -1' class="block-image">

          <img  src="images/video-play.png" class="img-responsive" title="{{value.title}}">           
      </div>
  <div ng-if='!value.media' class="block-image">
        <img  ng-src="images/{{mmicategorysetting[value.mmicategory]['main-image']}}" class="img-responsive" title="{{value.title}}">           
      </div>
   
<h2>{{value.title}}</h2>
<p><small>by</small> {{value.author.name}}</p>

<p ng-bind-html="value.description | limitTo:descriptionLimit | rawHtml"></p>
 <p><a type="button" class="btn readmore-bt" ng-href="/articles/view/{{value._id}}">Read more </a></p>
 </div> 
</div> 
</div>

</div>

<div class="col-lg-4 col-md-4 col-sm-4">
  <div ng-include="'partials2/right-nav.html'"> </div>
</div>
</div>
</div>