<div class="container-head learning-section">

<div class="row">
<div class="col-lg-9 col-md-9 col-sm-9">
  <ul class="breadcrumb">
    <li><a href="/"><i class="fa fa-home"></i></a></li>
    <li><a href="/events">Event</a></li>
    <li class="active">{{events.title | uppercase}}</li>
</ul>
</div>  

</div>


<div class="row">
<div class="col-lg-9 colapp.js-md-9 col-sm-9">

<div class="meet-section">
 <h1>Meet</h1> 
<div class="register-form-hr"></div>

<div class="meet-baner-img">
<img  ng-if="!events.media" src="images/meet-baner-img-2.jpg" class="img-responsive" alt="">
<img  ng-if="events.media" src="{{events.media.path}}" class="img-responsive" alt="">

<div class="baner-content">
<div>
<div class="note blue">
    <p><span><img src="images/event-user-icon.png" alt=""></span>{{events.title | uppercase}}</p>
</div>
<p class="articleview" ng-bind-html="events.bannertext | rawHtml "></p>
</div>

<P><button class="btn Check-availability" disabled="disabled" type="button" ng-if="(events.registered.indexOf(currentUser._id) > -1) ">REGISTERED </button>
<button class="btn Check-availability"   type="button" ng-if="(events.registered.indexOf(currentUser._id) == -1) " ng-click="registerUserInEvent()">REGISTER </button>
</P>
</div>
</div>

<div class="row">
 <div class="col-lg-5 comment-text">
AGENDA
 </div> 
  <div class="clearfix"></div>
</div>
<div class="connect-hr2"></div>

<p class="articleview" ng-bind-html="events.agenda | rawHtml "></p>

 <div class="comment-text">
AGENDA
 </div> 
 <div class="connect-hr2"></div>

<div class="row">
<div class="team-section">

<div class="col-lg-3 col-md-3 col-sm-3" ng-repeat="(key,val) in events.expert">
   <div class="post-box">
                <div class="caption-red">
                   <span><img src="images/linkdin-icon.png" alt=""></span>
                   <span><img src="images/mail-icon.png" alt=""></span>
                </div>

<div><img ng-src="{{val.flag}}" class="img-responsive" alt=""></div> 
</div>
  <h5>{{val.name}}</h5> 
  <p>{{val.designation}}</p> 
</div> 
</div>
</div>


 <div class="comment-text">
Venue
 </div> 
 <div class="connect-hr2"></div>

<div class="row">
<div class="address-section">
  <div class="col-lg-8 col-md-8 col-sm-8 padding-right0">
   <div class="map-view" id="map"></div> 
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 padding-left0">
<div class="address">
 <p> {{events.location.address}}</p>

 <p>{{events.location.city}}</p>

 <p>{{events.location.state}} - {{events.location.postalcode}}</p>

<p>{{events.location.country}}</p>
<div class="blue-connect-menu">
  <div>Members<i class="fa icon-right fa-angle-right"></i></div> 
 </div>
</div>
  </div>




  </div>
</div>
<br/>
<hr/>
<p><a class="btn Check-availability" type="button" href="/events/01"  >Back To Events </a>
<a ng-if="currentUser.role=='admin'" class="btn register-bt " type="button" ng-href="/event/edit/{{events._id}}"  >Edit </a></p>


<!-- <div class="comment-text">
Sponsors
 </div> 
 <div class="connect-hr2"></div>
<div class="slider-section">
 <div id="demo">
        <div id="owl-demo" class="owl-carousel">
          
          <div class="item"><img src="images/brand-1.jpg" alt=""></div>
         <div class="item"><img src="images/brand-2.jpg" alt=""></div>
           <div class="item"><img src="images/brand-3.jpg" alt=""></div>
           <div class="item"><img src="images/brand-4.jpg" alt=""></div>
            <div class="item"><img src="images/brand-1.jpg" alt=""></div>
         <div class="item"><img src="images/brand-2.jpg" alt=""></div>
           <div class="item"><img src="images/brand-3.jpg" alt=""></div>
           <div class="item"><img src="images/brand-4.jpg" alt=""></div>
        </div>
    </div>
</div> -->
<!-- <p class="pull-right event-bt-mar"><button class="btn Check-availability" type="button"> LOAD MORE </button></p> -->
<br>
</div>  

</div>


<div class="col-lg-3 col-md-3 col-sm-3">
  <div ng-include="'partials2/right-nav.html'"> </div>
</div>
</div>
</div>
<input type="hidden" id="addresspicker_map">