<div class="container">
<div id="content-section">


<div class="row">
<div class="col-lg-8 col-md-8 col-sm-8">

<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12">
<div class="breadcam-link">
<ul>
    <li><a href="#"><i class="fa fa-home"></i></a></li>
/
    <li class="active">Discussion</li>
</ul>
</div> 
</div>


</div> 

<div class="gray-hr"></div>

<div class="col-lg-9 col-md-9 col-sm-9" ng-show="creatediscussion">
     <br/>
     <br/>
     <div class="alert alert-success" role="alert"> 
       
       <p>You have successfully created your discussion</p>
     </div>
     </div>
     <div ng-show='!creatediscussion'>
    
    <div class="submit-articale-section">
           <h1>Start New Discussion</h1> 
           <div class="register-form-hr"></div>
           <form class="register-form"  name="form" ng-submit="chatDetail(form)" novalidate>
            <div class="row">
            
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="form-group">
                
                <input required type="text" name="title" class="form-control" ng-model="chat.title" placeholder="Title"/>
                <p class="text-danger" ng-show="form.title.$error.required && submitted">Please fill Title.</p>
             
              </div>
            </div>
             <div class="col-lg-6  col-md-6 col-sm-6">
              <div class="form-group">
                
                <select ng-model="chat.topic" name ="topic" class="form-control" required id="sel1">
                  <option  value="">Select Topic</option>
                  <option  value="Grow">Grow</option>
                  <option  value="Protect">Protect</option>
                  <option  value="Manage">Manage</option>
                  <option  value="Give">Give</option>
                </select>
               
                <p class="text-danger" ng-show="form.topic.$error.required && submitted">Please fill Topic Name.</p>


              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-lg-12  col-md-12 col-sm-12">
            <div class="form-group">
            <textarea class="form-control" name ="topic" placeholder="Your comments" required ng-model="chat.comment"> </textarea>
            <p class="text-danger" ng-show="form.topic.$error.required && submitted">Please fill Your Comments.</p>
            
            </div>
            </div>
          </div>

            <button class="btn btn-register  btn-openid" ng-disabled="forsubmit" type="submit">
         <i class="fa fa-caret-right"></i> Create
        </button>


<!--         <br></br>
        <p><span>*</span> Thank you for contribution. your articale will be moderated by the admin.we will notify you shortly.</p>
        <br></br>
 -->

      </form>

    </div>

    </div>



    <div>

<div class="horizentle-hr">
  <div class="or-chat">or</div> 
 </div>


   <form class="register-form"  name="searchform"  novalidate>
            <div class="row">
            
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="form-group">
                
                <input required type="text" name="title" class="form-control" ng-model="search.title" placeholder="Title"/>
                <!-- <p class="text-danger" ng-show="searchform.title.$error.required && submitted">Please fill Title.</p> -->
             
              </div>
            </div>
             <div class="col-lg-6  col-md-6 col-sm-6">
              <div class="form-group">
                
                <select ng-model="search.topic" name ="topic" class="form-control" required id="sel1">
                  <option  value="">Select Topic</option>
                  <option  value="Grow">Grow</option>
                  <option  value="Protect">Protect</option>
                  <option  value="Manage">Manage</option>
                  <option  value="Give">Give</option>
                </select>
               
                <!-- <p class="text-danger" ng-show="searchform.topic.$error.required && submitted">Please fill Topic Name.</p> -->


              </div>
            </div>

          </div>
           <button class="btn btn-prew-direc btn-prew" type="submit"> <i class="fa fa-search"></i> Lookup</button>
<!--         <br></br>
        <p><span>*</span> Thank you for contribution. your articale will be moderated by the admin.we will notify you shortly.</p>
        <br></br>
 -->

      </form>


<br>

<div class="submit-articale-section">
<div class="row">
 <div class="col-lg-8 col-md-8 col-sm-8"><h1>Discussion</h1> </div>

 <div class="col-lg-4 col-md-4 col-sm-4">
  <!-- <form class="register-form"  role="form" novalidate> -->

<div class="form-group">

 <a ng-click="creatediscussion =!creatediscussion" ng-show="creatediscussion" class="btn register-bt" role="button" >Start Discussion</a>


</div>

<!-- </form> -->
</div>
</div>
<div class="chatlsit-head-hr"></div>


<div id="chat-list-section">
<div class="content mCustomScrollbar">
 
 <div class="clearfix" ng-repeat="(key , val) in chatlist | reverse | filter:(search.title || search.topic) " ng-class="{0:'chat-list-row-odd',1:'chat-list-row-even'}[key % 2]">
  <div class="chat-icon"><img ng-src="images/{{color[val.topic].image}}" alt="{{val.topic}}"></div> 
  <div class="content-area">
 <h2><a ng-href="/discussion-start?cid={{val.cid}}">{{val.title}}</a></h2> 
   <p>- {{val.topic}}</p>
  </div>
  <!-- <div class="user-area">
   <img src="images/user-icon.png" alt=""> <span>160</span>/325
  </div> -->
 </div> 
</div>

</div>

<br>
<p class="chat-list-section-footer"><span>*</span> Select a Chatroom / Topic and Start a Conversation.</p>
<br>
</div>  

</div>







</div>
<div class="col-lg-4 col-md-4 col-sm-4">
  <div ng-include="'partials2/right-nav.html'"> </div>
</div>   
</div>
 
</div>
</div>