
<div class="container">
<div id="breadcam">
 <ul>
 <li><a href="/"><img src="images/home-icon.png" alt=""></a></li>
  <li><a href="#"><img src="images/arwwo-bardcam.png" alt=""></a></li>
   <li class="active">Discussion </li>
 </ul>
</div>

</div>


<div class="container">
<div class="row mar-bot40">
<div class="inner-doodles-drownig"></div>
<div class="inner-doodles-men"></div>
<div class="inner-doodles-right-1"></div>
<div class="inner-doodles-right-2"></div>
<div class="inner-doodles-right-3"></div>
<div class="inner-doodles-right-4"></div>
<!--architect area-->
<div class="col-md-8 col-sm-12 padr-30">
<div class="discussions-section">

<div class="row mar-top25">
 <div class="col-md-7 col-sm-7">
 <h2>Latest Discussions</h2>
 </div>
 <div class="col-md-5 col-sm-5"><select id="sel1" class="form-control">
    <option>Search By category</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
  </select></div>
</div>
<div class="black-hr"></div>
<div class="row-mar">
<h3>Lookup Discussion </h3>

<blockquote  ng-repeat="(key , val) in chatlist | reverse | filter:(search.title || search.topic ) " class="rectangle-speech-border {{ color[val.topic].colorclass}}">
  <div class="ask-disc-right"></div>
    <div class="clearfix">

 <div class="speech-icon"><img ng-src="images/{{color[val.topic].image}}" alt="{{val.topic}}"></div>
 <div class="specch-content">
<h4><a ng-href="/discussion-start?cid={{val.cid}}"> # {{val.title}}</a></h4>
  <p>- Topic name {{val.topic}}</p>
 </div>
 </div>
 <!-- <div class="user-area">
  <img src="images/user-icon.png" alt=""> <span>160</span>/325
 </div> -->
</blockquote>

<!-- <div class="row">
<div class="col-md-12">
<ul class="pagination">
  <li><a href="#"><i class="fa fa-angle-left"></i>
</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#" class="active">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#"><i class="fa fa-angle-right"></i>
</a></li>
</ul>
</div>
</div> -->

<p class="mar-top40">Select a Discussion / Topic and Start a Conversation.</p>

<div class="or-section">
 <div class="or-text">Or</div>
</div>

<h3 class="mar-top40">Begin a New Discussion </h3>
<form class="register-form " role="form" novalidate="">
<div class="row">
<div class="col-md-12">
 <div class="form-group">
<input type="text" placeholder="Company Name" class="form-control" id="addr" name="addr" required="">
 </div>
 </div>
</div>

<div class="row">
<div class="col-md-6">
<div class="form-group">
<select id="sel1" class="form-control">
    <option>Search By category</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
  </select>
 </div>
</div></div>
 <button class="btn btn-primary" type="submit">
 Create<i class="fa fa-angle-right"></i></button>
 </form>

</div>
</div>
</div>
<!--end-->

<div ng-include="'partials2/right-nav.html'"> </div>

</div>
</div>
