<div class="container">
<div id="content-section">


<div class="row">
<div class="col-lg-8 col-md-8 col-sm-8">

<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6">
<div class="breadcam-link">
<ul>
    <li><a href="/home"><i class="fa fa-home"></i></a></li>
/
 <li class="active">Directory</li>
</ul>
</div>
</div>


</div>

<div class="gray-hr"></div>


<div class="directory-section">
 <h1>Directory</h1>

<form class="register-form"  name="searchform"  novalidate>
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6">
 <div>
  <div class="input-group">
  <input type="text" required type="text" name="title" class="form-control" ng-model="search.title" placeholder="Search by company name, services, or keyword" ng-change="setSearchTitle()">
  <span class="input-group-addon"><button class="btn subscribe-bt" ><i class="fa fa-search"></i></button></span>

</div>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 filter-dropdown">
 <select ng-model="search.firmsubtype" name ="organization" class="form-control" ng-change="setSearchSubType()">
    <option value="">--Search By Type and SubType--</option>
    <optgroup ng-repeat="(typekey,type) in  companyStructure" label="{{typekey}}">
         <option ng-repeat="(subkey,subtype) in  type" value="{{subkey}}">{{ subkey}} </option>
    </optgroup>
     </select>
</div>



</div>


<div class="alphalist">
<ul>
  <!-- <li ng-click="activateLetter('')" ><a  ng-class="{'active':activeLetter==''}">ALL</a></li> -->
  <li ng-repeat="letter in alphabet track by $index" >
    <a ng-class="{'active':letter == activeLetter}" ng-click="activateLetter(letter)">{{letter}}</a>
  </li>

</ul>
</div>
</form>

<p><h2 ng-show="searchStart && (companys  | filter:(search.title || search.firmsubtype ) | startsWithLetter : activeLetter).length"> Number of search results <strong>{{ searchStart && (companys  | filter:(search.title || search.firmsubtype ) | startsWithLetter : activeLetter).length}} </strong></h2></p>


<div id="upcomming-event">

<ul>
<li ng-repeat="(key,value) in companys | filter:(search.title || search.firmsubtype ) | startsWithLetter : activeLetter | orderBy:'title'" ng-show="searchStart">
<h2><a href="/company/view/{{value.url}}">{{value.title}}</a></h2>
<p>{{value.organization}}</p>
</li>

<li ng-show="searchStart && (companys  | filter:(search.title || search.firmsubtype ) | startsWithLetter : activeLetter).length==0">
<h2> No Result Found. </h2>
</li>


</ul>
</div>
<!-- <h1>Search by company name, services, or keyword</h1> -->

<!-- <button class="btn readmore-bt" type="button">Read more </button> -->
</div>

</div>

<div class="col-lg-4 col-md-4 col-sm-4">
  <div ng-include="'partials2/right-nav.html'"> </div>
</div>
</div>
</div>
