<div class="container-head learning-section">

<div class="row">
<div class="col-lg-9">
  <ul class="breadcrumb">
    <li><a href="#"><i class="fa fa-home"></i></a></li>
    <li><a href="#">learn</a></li>
    <li class="active">Lorem ipsum dosit amet</li>
</ul>
</div>  
<div class="col-lg-3">
  <div class="row ">
<div class="col-lg-12 ">
<div class="form-group">
 <input required="" type="text" name="addr" id="addr" class="form-control" placeholder="search">
</div>
</div>

</div>
</div> 

</div>


<div class="row">
<div class="col-lg-9">

<div class="submit-articale-section">
 <h1>Connect</h1> 
<div class="register-form-hr"></div>

<div class="row mar-conect-top-bt">
<div class="col-lg-6">
 <div class="blue-connect-menu">
  <div>Members<i class="fa icon-right fa-angle-down"></i></div> 
 </div> 
</div> 
<div class="col-lg-6">
 <div class="gold-connect-menu">
  <div>Service Providers<i class="fa icon-right fa-angle-right"></i></div> 
 </div> 
</div>  
</div>

<div class="connect-hr"></div>
<p>Sed ut perspiciatis unde omnis iste natu error luptatem accusantium. dolorem laudantm, totam reaperiam, eaqu psa aeab illo inventore veriquasi architecto beatae vitae dicta sunt explicabo.</p>
        

 <form class="register-form"  role="form" novalidate>
<div class="row register-form-row-pad">
<div class="col-lg-7 paddingr-7">
<div class="form-group">
              
              <input required type="text" name="addr" id="addr" class="form-control" placeholder="Article Title"/>
           </div>
</div>

<div class="col-lg-3  paddingl-7">
<div class="form-group">
            
          <select class="form-control" id="sel1">
    <option>Choose Category</option>
    <option>services listed in service directory</option>
    <option>events type listed in events
</option>
   
  </select>
           </div>
</div>

</div>

<br> <button class="btn search-bt" type="button">  Submit<i class="fa icon-right-search fa-search"></i>
                      </button><br></br>

</form>

<div class="row">
 <div class="col-lg-5 comment-text">
   comments
 </div> 
  <div class="pull-right col-lg-3">
    <div class="form-group">
            
          <select class="form-control" id="sel1">
    <option>Sort By</option>
    <option>services listed in service directory</option>
    <option>events type listed in events
</option>
   
  </select>
           </div>
  </div> 
  <div class="clearfix"></div>
</div>
<div class="connect-hr2"></div>
<ul class="commentList">
            <li>
              
                <div class="commentText">
                <h3>Sean Churchward</h3>
                 
                     <p class="">Cheaf Excutive Officer</p>
                     <p>Motilal Oswal Wealth Management </p>

                </div>
            </li>
    
              <li>
              
                <div class="commentText">
                <h3>Sean Churchward</h3>
                 
                     <p class="">Cheaf Excutive Officer</p>
                     <p>Motilal Oswal Wealth Management </p>

                </div>
            </li>
          <li>
              
                <div class="commentText">
                <h3>Sean Churchward</h3>
                 
                     <p class="">Cheaf Excutive Officer</p>
                     <p>Motilal Oswal Wealth Management </p>

                </div>
            </li>
        </ul>

<p><button class="btn Check-availability" type="button"> More Articles </button></p>
<br>
</div>  

</div>


<div class="col-lg-3">
  <div ng-include="'partials2/right-nav.html'"> </div>
</div>
</div>
</div>
