   
<div class="container page">
  <div class="row">
    <div class="col-lg-3">
      <div class="sidebar" role="navigation">
        <ul>
          <li><a href="/dashboard"><i class="fa fa-angle-right"></i>Learn</a></li>
          <li><a href="/content-id"><i class="fa fa-angle-right"></i>Share (for experts only)</a></li>
          <li><a href="/chat"><i class="fa fa-angle-right"></i>Chat with peers</a></li>
          <li><a href="/connect"><i class="fa fa-angle-right"></i>Connect with peers and providers</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i>Register for events</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i>About PIN</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i>Contact PIN</a></li>
        </ul>
        <!-- /.sidebar-collapse -->
      </div>
    </div>


    <div class="col-lg-9">
      <div class="dashboard-section">
        <div class="input-group">
          <input type="text" class="form-control">
          <span class="input-group-addon"><button class="btn subscribe-bt">Search</button></span>
        </div>

        <div class="form-group">
          <label class="control-label" for="fullName">Sort By </label>
          <select class="form-control" id="sel1">
            <option>Formate </option>
            <option>Date </option>
            <option>Author
            </option>
            
          </select>
        </div>

      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="articles-section">
            <div class="dash-articales-ead"><h5>Grow</h5></div>
            <div class="row">
              <div class="col-lg-4 mar-dsh-img"><img src="images/articels001.jpg" class="img-responsive"> </div>
            </div>
            <div class="articles-inner"> 
              <h3 class="articles-head"><a href="#">The predictive power of portfolio characteristics</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur 
                adipiscing elit.</p>
                <button type="button" class="btn-btn-defult">download PDF</button>
                <ul class="tags">
                  <li><a href="#">tag</a></li>
                  <li><a href="#">tag name</a></li>

                </ul>


                <div class="detailBox">
                  <div class="titleBox">
                    <label>Comment Box</label>
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                  </div>
                  <div class="commentBox">
                    
                    <p class="taskDescription">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                  <div class="actionBox">
                    <ul class="commentList">
                      <li>
                        <div class="commenterImage">
                          <img src="http://lorempixel.com/50/50/people/6" />
                        </div>
                        <div class="commentText">
                          <p class="">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>

                        </div>
                      </li>
                      <li>
                        <div class="commenterImage">
                          <img src="http://lorempixel.com/50/50/people/7" />
                        </div>
                        <div class="commentText">
                          <p class="">Hello this is a test comment and this comment is particularly very long and it goes on and on and on.</p> <span class="date sub-text">on March 5th, 2014</span>

                        </div>
                      </li>
                      <li>
                        <div class="commenterImage">
                          <img src="http://lorempixel.com/50/50/people/9" />
                        </div>
                        <div class="commentText">
                          <p class="">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>

                        </div>
                      </li>
                    </ul>
                    <form class="form-inline" role="form">
                      <div class="form-group">
                        <input class="form-control" type="text" placeholder="Your comments" />
                      </div>
                      <div class="form-group">
                        <button class="btn btn-default">Add</button>
                      </div>
                    </form>
                  </div>
                </div>

              </div>
            </div>
          </div>


        </div>




      </div>
    </div>

  </div>
