 <div class="container">
<div id="content-section">
<div class="row">

<div class="col-lg-8 col-md-8 col-sm-8">
<div class="inner-section">
<br>
 <h1>Contact Us</h1>
 <p>You can contact us by email, phone or social media - </p>

 <p>Email - admin@moneymanagementindia.net</p>
 <p>Tel - +91 22 6592 8888</p>
 <p>Twitter - @MoneyMgmtIndia</p>
 <p>LinkedIn - Money Management India company page</p>

 If you would like to contribute an article, please email Hansi on <a href="mailto:editor@moneymanagementindia.net">editor@moneymanagementindia.net</a>

</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4">
  <div ng-include="'partials2/right-nav.html'"> </div>
</div>
</div>

</div>
</div>

<!-- /container -->
