
<div class="container page">
<div class="row">
<div class="col-lg-3">
<div class="sidebar" role="navigation">
            <ul>
<li><a href="/dashboard"><i class="fa fa-angle-right"></i>Learn</a></li>
<li><a href="/content-id"><i class="fa fa-angle-right"></i>Share (for experts only)</a></li>
<li><a href="/chat"><i class="fa fa-angle-right"></i>Chat with peers</a></li>
<li><a href="/connect"><i class="fa fa-angle-right"></i>Connect with peers and providers</a></li>
<li><a href="#"><i class="fa fa-angle-right"></i>Register for events</a></li>
<li><a href="#"><i class="fa fa-angle-right"></i>About PIN</a></li>
<li><a href="#"><i class="fa fa-angle-right"></i>Contact PIN</a></li>
            </ul>
                <!-- /.sidebar-collapse -->
            </div>
</div>


<div class="col-lg-9">
  <div class="dashboard-section">
  <div class="input-group">
  <input type="text" class="form-control">
  <span class="input-group-addon"><button class="btn subscribe-bt">Search</button></span>
</div>

<div class="form-group">
              <label class="control-label" for="fullName">Sort By </label>
              <select class="form-control" id="sel1">
    <option>Formate </option>
    <option>Date </option>
    <option>Author
</option>
   
  </select>
           </div>

</div>

<div class="row">
<div class="col-lg-6">
<div class="articles-section">
    <div class="dash-articales-ead"><h5>Grow</h5></div>
<img src="images/articels001.jpg" class="img-responsive"> 
<div class="articles-inner"> 
<h3 class="articles-head"><a href="#">The predictive power of portfolio characteristics</a></h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur 
adipiscing elit.</p>
</div>
</div>
</div>

<div class="col-lg-6">
<div class="articles-section-2">
    <div class="dash-articales-ead"><h5>Protect</h5></div>
<img src="images/articels001.jpg" class="img-responsive"> 
<div class="articles-inner"> 
<h3 class="articles-head"><a href="#">The predictive power of portfolio characteristics</a></h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur 
adipiscing elit.</p>

</div>
</div>
</div>
</div>


<div class="row">
<div class="col-lg-6">
<div class="articles-section">
    <div class="dash-articales-ead"><h5>Manage</h5></div>
<img src="images/articels001.jpg" class="img-responsive"> 
<div class="articles-inner"> 
<h3 class="articles-head"><a href="#">The predictive power of portfolio characteristics</a></h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur 
adipiscing elit.</p>

</div>
</div>
</div>

<div class="col-lg-6">
<div class="articles-section-2">
    <div class="dash-articales-ead"><h5>Give</h5></div>
<img src="images/articels001.jpg" class="img-responsive"> 
<div class="articles-inner"> 
<h3 class="articles-head"><a href="#">The predictive power of portfolio characteristics</a></h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur 
adipiscing elit.</p>

</div>
</div>
</div>


</div>

  </div>
</div>

</div>
