<footer id="footer-bg">
        <div class="footer-above">
            <div class="container-head">
               <div class="footer-link">
                 <ul class="clearfix">
                  <li>
                   <h2>Who is this site for?</h2>
                   <p class="read-more"><a href="/who-is-this-site-for">Read More</a></p> 
                  </li> 
                       
                        <li>
                   <h2>What we do?</h2>
                   <p class="read-more"><a href="/what-we-do">Read More</a></p> 
                  </li> 
                              <li>
                   <h2>Who we are?</h2>
                   <p class="read-more"><a href="/who-we-are">Read More</a></p> 
                  </li> 
                                    <li>
                   <h2>Register with us</h2>
                   <p class="read-more"><a href="/register">Read More</a></p> 
                  </li>
                 </ul>
               </div>
            </div>
        </div>

    </footer>
