                    <footer id="footer-bg">
                      <div class="footer-above">
                        <div class="container">
                          <div class="row">
                            <div class="footer-col col-md-4">
                              <h3>Contact</h3>
                              <p><i class="fa fa-map-marker"></i>Pratap Vihar, 1506. Sector Road, 
                                Ghaziabad. UP</p>

                                <p><i class="fa fa-envelope-o"></i>info@brightmediapartners.com</p>
                                <p><i class="fa fa-phone"></i>+91-7503582880, +91-7503587829</p>
                              </div>


                              <div class="footer-col col-md-4">
                                <h3>Quick Link</h3>
                                <div>
                                  <ul>
                                    <li><a href="#">Home     </a>  </li>
                                    <li><a href="#">Email  Sending </a>   </li>
                                    <li><a href="#">Ads Posting </a></li>
                                    <li><a href="#">Our Franchisee </a> </li>
                                    <li><a href="#">About Us  </a></li>
                                    <li><a href="#">Contact Us </a></li>
                                  </ul>
                                </div>

                              </div>

                              <div class="footer-col col-md-4">
                                <h3>NewsLetter</h3>
                                <p>Lorem ipsum dolor sit amet dolor sit elit Suspendisse et justo et justo sit Praesent mattis commodo augue Aliquam ornare.</p>

                                <div class="input-group">
                                  <input type="text" class="form-control">
                                  <span class="input-group-addon"><button class="btn subscribe-bt">subscribe</button></span>

                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                        <div class="footer-below">
                          <div class="container">
                            <div class="row">
                              <div class="col-lg-12">
                               <p>All users of our online services subject to Privacy Statement and agree to be bound by Terms of Service. Please review.</p>
                               <p>© QUANTUM INFO MEDIA 2015 All right reserved.</p>
                             </div>
                           </div>
                         </div>
                       </div>
                     </footer