<div id="top-link-block" class="">
       <div class="top-scroll">
          <a href="#top" class=""  onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
          <img src="images/scroll-top.png" alt="">
          </a>
       </div>
    </div>
    
    <footer class="footer">
    <div class="container">
          <div class="clearfix">
          <div class="footer-nav">
           <ul>
            <li><a href="#">About Us</a> </li>
            <li><a href="#">Terms  &  Privacy</a></li>

           </ul>

          </div>
            <div class="footer-social-nav">

           <ul>
           Keep in touch
            <li><a href="https://twitter.com/@MoneyMgmtIndia"><img src="images/twiter-icon.png" alt=""></a> </li>
            <li><a href="https://www.linkedin.com/company/money-management-india"><img src="images/linkdin-icon.png" alt=""></a></li>
            <li><a href="#"><img src="images/facebook-icon.png" alt=""></a></li>
            <li><a href="#"><img src="images/mail-icon.png" alt=""></a></li>

           </ul>

          </div>
          </div>
          </div>
        </footer>
