<!-- Become a member section -->
<div class="tree-container-inner" ng-controller="NavbarCtrl ">
<div id="nav">
 <ul>
 <li><a href="/who-is-this-site-for" ng-class="{active: isActive('/who-is-this-site-for')}">Who</a></li> 
  <li><a href="/what-we-do" ng-class="{active: isActive('/what-we-do')}">What</a></li> 
   <li><a href="/who-we-are" ng-class="{active: isActive('/who-we-are')}">About</a></li> 
    <li ng-hide="currentUser"><a href="/register" ng-class="{active: isActive('/register')}">Join</a></li>  
    <li ng-show="currentUser"><a href="/register" ng-class="{active: isActive('/articles/01')}">Article</a></li>  
 </ul> 
</div>
</div>
