<div class="container signin-page">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title"><h1 class="login-title">Sign in </h1></h1>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6 col-lg-6">

          <div>

            <form class="form-signin" action="/dashboard"  method="post">
              <input type="text" class="form-control" placeholder="Email" required autofocus>
              <input type="password" class="form-control" placeholder="Password" required>

              <label class="checkbox">
                <input type="checkbox" value="remember-me">
                Remember me
              </label>
              <div class="row mar-left">
                <div class="pull-left">
                 <button class="btn btn-info" type="button" href="/dashboard">
                  Sign in</button></div>
                  <div class="pull-left forget-pass"><a href="#"> Forgot password?  </a></div>
                </div>
              </form>
            </div>


            <div class="new-account forget-pass">Don't have an account?<a href="register.html">Sign Up</a></div>

          </div>
          <div class="pull-left"><img src="images/or-seperator-vertical.png"></div>
          <div class="col-lg-4 col-xs-offset-1">
           <div class="social-login">
            <ul>
             <li>
               <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i>Login With Facebook</a></li>
               <li>
                 <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i>Login With Google</a>
               </li>
               <li>
                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i>Login With Twitter</a>
              </li>


            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


