<div class="container-head">
<div class="mar-back-img">
<!-- Become a member section -->
<div class="tree-container">
<div id="nav">
 <ul>
 <li><a href="/who-is-this-site-for" ng-class="{active: isActive('/who-is-this-site-for')}">Who</a></li> 
  <li><a href="/what-we-do" ng-class="{active: isActive('/what-we-do')}">what</a></li> 
   <li><a href="/who-we-are" ng-class="{active: isActive('/who-we-are')}">about</a></li> 
    <li><a href="/register" ng-class="{active: isActive('/register')}">join</a></li>  
 </ul> 
</div>
</div>

<div class="welcome-text">
 <h1>Connecting<br>
<span>Family Offices</span>
 </h1> 
<div class="read-more"><a href="/who-we-are">Learn More About Us</a></div>
</div>

</div>
</div>

<!-- /container -->
