
<div class="doodals-header"></div>
<div class="container">
<div class="row">

<!--architect area-->
<div id="arch">
<div class="col-md-3 col-sm-3 pad-top-70">
<h1>Learn…based on topic</h1>
<div class="pad-top-120 ">
<div class="architect-bt"><a href="/category/Architect Blueprint">1. Architect Blueprint</a></div>
</div>
<div class="text-right mobile"><img src="images/architect-doodles.png" alt=""></div>

<div class="doodel-archet"></div>
</div>
</div>
<!--end-->

<div id="home">
<!--nav area start-->
<div class="col-md-6 col-sm-6">
<div class="home-nav">
<div id="nav">
 <ul>
 <li><a href="/category/Essentials Foundation">2.Essentials Foundation</a></li>
 <li><a href="/category/Growth Pillars">3.Growth Pillars</a></li>
 <li><a href="/category/Freedom Slab">4.Freedom Slab</a></li>
 <li><a href="/category/Fun Money Roof">5.Fun Money Roof</a></li>
</ul>
</div>
</div>

</div>
</div>
<!--end-->

<!--right nav-->
<div id="navtop">
<div class="col-md-3 col-sm-3 left-sidebar">
<h1>What would you <br>
like to do?
<div class="arow-black"></div>
</h1>
  <div id="left-nav">
 <ul>
 <li><a href="/articles/01">Learn</a></li>
  <li><a href="#">Meet@LiveEvent</a></li>
   <li><a href="#">#AskHansi</a></li>

 </ul>
 <div class="text-right"><img src="images/hunsi-img.png" alt=""></div>
 <div class="doodel-left-sidebot"></div>
</div>
</div>
</div>
<!--end-->

</div>
</div>
<!-- /container -->
