<div>
 <!--  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
<!--     <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
  <!--  <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="images/baner-img.jpg" alt="Chania">
      </div>

      <div class="item">
        <img src="images/baner-img.jpg" alt="Chania">
      </div>

      <div class="item">
        <img src="images/baner-img.jpg" alt="Flower">
      </div>

      <div class="item">
        <img src="images/baner-img.jpg" alt="Flower">
      </div>
    </div> -->

    <!-- Left and right controls -->
    <!--<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div> -->



  <div class="container">

    <!-- Become a member section -->
    <div class="member-us-section">
     <h1>Become a member</h1>
     <p>You have contributed to the India story in the past couple of decades, and in the process generated substantial wealth. You now want to protect and grow this wealth. You may need to put some structure around it to help govern and manage it better. You want to leave a legacy, not just for your own family but for society. </p>

     <p>You may want to speak to other business families who have had similar journeys. A lot of them are willing to share. But you want a ‘safe harbour’ environment for discreet conversations. You certainly don’t want to be constantly approached by product or service provders.</p>

     <p>You may want to find the best experts in a range of areas. It’s good to know they come highly recommended.</p>

     <p>You may want to read or hear from experts and other families from around the world to help you set up and manage a family office.</p>

     <p>You may want to request for information and conduct due diligence on investment products.</p>

     <p>The Private Investor Network provides a safe harbour environment for families of substantial wealth for discreet peer-to-peer networking and learning. PIN is an independent unbiased source that collates and curates content from best of breed experts. 
     </p>
     <div class="become-bt"><a href="register.html">Become a member</a></div>
   </div> 
   <!--end-->


   <!-- Considering or managing a family office section -->
   <div class="member-us-section">
    <h1>Considering or managing a family office?</h1>
    <div class="row">
      <div class="col-lg-6">
        <p>If you have reached a point where managing your personal wealth (separate from the family business) is becoming more than a full time job, you may want to consider a family office. You may consider sharing costs by becoming part of a multi-family office (MFO), or set up your single family office (SFO).</p>

        <p>Family offices help you grow (investments), protect (wealth planning) and manage (administration) your wealth. They can also help make more money by helping to grow or manage the family business. Hence, family offices oversee - </p>

        <ul>
          <li>Investments – including traditional, alternative and strategic investments</li>
          <li>Wealth Planning – including family governance, structuring, estate plan ning, tax planning, legacy/philanthropy</li>
        </ul>
      </div>
      <div class="col-lg-6">
        <img src="images/grow-img.jpg" class="img-responsive">
      </div> 
    </div>
  </div> 

  <!--end-->

  <!-- Articles section -->
  <div class="member-us-section">
    <h1 class="text-center">Articles</h1>
  </div>


  <div class="row">
    <div class="col-lg-4">
      <div class="articles-section">
        <img src="images/articels001.jpg" class="img-responsive"> 
        <div class="articles-inner"> 
          <h3 class="articles-head"><a href="#">The predictive power of portfolio characteristics</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur 
            adipiscing elit.</p>
            <div class="btn-gold"><a href="#">Readmore</a></div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="articles-section-2">
          <img src="images/articels001.jpg" class="img-responsive"> 
          <div class="articles-inner"> 
            <h3 class="articles-head"><a href="#">The predictive power of portfolio characteristics</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur 
              adipiscing elit.</p>
              <div class="btn-gold"><a href="#">Readmore</a></div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>


        <div class="col-lg-4">
          <div class="articles-section-3">
            <img src="images/articels001.jpg" class="img-responsive"> 
            <div class="articles-inner"> 
              <h3 class="articles-head"><a href="#">The predictive power of portfolio characteristics</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur 
                adipiscing elit.</p>
                <div class="btn-gold"><a href="#">Readmore</a></div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>

        </div>


        <div class="row">
          <div class="col-lg-4">
            <div class="articles-section">
              <img src="images/articels001.jpg" class="img-responsive"> 
              <div class="articles-inner"> 
                <h3 class="articles-head"><a href="#">The predictive power of portfolio characteristics</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur 
                  adipiscing elit.</p>
                  <div class="btn-gold"><a href="#">Readmore</a></div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="articles-section-2">
                <img src="images/articels001.jpg" class="img-responsive"> 
                <div class="articles-inner"> 
                  <h3 class="articles-head"><a href="#">The predictive power of portfolio characteristics</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit.</p>
                    <div class="btn-gold"><a href="#">Readmore</a></div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>


              <div class="col-lg-4">
                <div class="articles-section-3">
                  <img src="images/articels001.jpg" class="img-responsive"> 
                  <div class="articles-inner"> 
                    <h3 class="articles-head"><a href="#">The predictive power of portfolio characteristics</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur 
                      adipiscing elit.</p>
                      <div class="btn-gold"><a href="#">Readmore</a></div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>

              </div>

              <!--end-->


              <!--Looking for service -->
              <div class="row">
                <div class="col-lg-6">
                  <div class="member-us-section min-height-section-bottm">
                    <h1>Looking for service providers?</h1>
                    <p>There are numerous providers in the market offering services related to legal, tax, accounting, technology, governance consulting, trust services etc. But do they have the experience to handle your specific issue? Have they successfully handled other families’ issues? Do they come highly recommended?</p>

                    <p>You can not only look up service providers but also see ratings given by other member families. </p>
                    <h4>Struggling with due diligence on alternative funds?</h4>
                    <p>You probably get pitched to on a daily basis. Promoters of Alternative Investment Funds (AIFs) will tell you that their product is a good investment. Your private banker or client relationship manager also brings a number of ideas to you. But where do you get an independent assessment on these? Does your CFO or chartered accountant really have the time or expertise to assess private equity and real estate funds? How do you conduct proper due diligence on these alternative funds?</p>

                    <h4>Want to discuss with your peers?</h4>
                    <p>You can learn by reading or watching content, or by connecting with highly recommended experts and service providers. But the best source of information could be another family, who has had similar issues. You can post a query in the chat room or follow discussions posted by others – all in a secure environment.
                    </p>

                  </div> 
                </div>

                <div class="col-lg-6">
                  <div class="member-us-section min-height-section-bottm">
                    <h1>Private Investor Network</h1>
                    <p>The Private Investor Network is a membership-based network for private investors and single family offices, primarily in India. We also welcome Indian families residing overseas or indeed any global families with interest in investing in India. Hence, you will be able to get insights from your peers, not only from remote parts of India but also the world.</p>

                    <p>The aim is to provide a ‘safe harbour’ for them to share experiences and learn from each other and from a curated list of rated experts We hope the content and other resources will spark the discussion, which will give you the opportunity to share and learn from your own peers. </p>
                    <h4>PIN provides the following services – </h4>
                    <ul>
                      <li>Networking and peer sharing – through online discussion 
                        forums</li>
                        <li>Learning – through online library of articles, interviews, videos, podcasts etc</li>
                        <li>Directory of experts and service providers</li>
                        <li>Events for networking and learning</li>
                        <li>Exclusive partner services – such as due diligence portal,
                          executive education, nextgen education etc</li>
                        </ul>
                      </div>
                    </div>

                  </div>
                  <!--end-->



                  <!-- /container -->
                </div>




              </div>