<div class="container-head learning-section">

  <div class="row">
    <div class="col-lg-9">
      <ul class="breadcrumb">
        <li><a href="/home"><i class="fa fa-home fa-lg"></i></a></li>
        <li class="active">MEET</li>
      </ul>
    </div>  
 </div>

 <div class="row">
  <div class="col-lg-9">

    <div class="submit-articale-section">
     <h1>Meet</h1> 
     <div class="register-form-hr"></div>

<!--      <div class="meet-baner-img">
      <div class="event-contentarea">
        <div class="clearfix">
         <div class="event-title">Lorem ipsum amet - Event </div> 
         <div class="folding-img"></div>
       </div>
       <p>Lorem ipsum dolor, consectetur adipisicing elit, sstred do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam, quis exercitation ullamco labo aliquip  commodo consequat.</p>

       <p>March 19th 2015</p>

       <P><button class="btn Check-availability" type="button">REGISTER </button></P>
     </div>
   </div>
 -->

   <div class="meet-baner-img">
<img  ng-if="!events[0].media" src="images/meet-baner-img-2.jpg" class="img-responsive" alt="">
<img  ng-if="events[0].media" src="{{events[0].media.path}}" class="img-responsive" alt="">

<div class="baner-content">
<div>
<div class="note blue">
    <p><span><img src="images/event-user-icon.png" alt=""></span>{{events[0].title | uppercase}}</p>
</div>
<p class="articleview" ng-bind-html="events[0].bannertext | rawHtml "></p>
</div>

<P><a class="btn Check-availability" ng-href="/event/view/{{events[0]._id}}" >See Details </a>
</P>
</div>
</div>





   <div class="row">
     <div class="col-lg-5 comment-text">
       Up comming Event
     </div> 
     <div class="clearfix"></div>
   </div>
   <div class="connect-hr2"></div>
   
   <div class="row event-row-mar">
     <div class="col-lg-6" ng-repeat="(key,value) in events" ng-show="!$first">
      <div class="event-box clearfix">
        <div class="event-iocn">
         <img ng-src="images/event-icon-{{key}}.png" alt=""> 
       </div> 
       <div class="event-content">
         <div class="event-box-heading">{{value.title}}</div>
         <p>{{value.eventdate | date:"dd MMMM yyyy"}}</p> 
         <p>{{value.location.locality}}</p> 
       </div> 
     </div> 
   <br>
   </div> 
</div>


<p class="pull-right event-bt-mar"><button class="btn Check-availability" type="button"> LOAD MORE </button></p>
<br>
</div>  

</div>


<div class="col-lg-3">
  <div ng-include="'partials2/right-nav.html'"> </div>
</div>
</div>
</div>