<div class="container-head learning-section">

  <div class="row">
    <div class="col-lg-9">
      <ul class="breadcrumb">
        <li><a href="/home"><i class="fa fa-home fa-lg"></i></a></li>
        <li class="active">MEET</li>
      </ul>
    </div>  
    <div class="col-lg-3">
      <div class="row ">
        <div class="col-lg-12 ">
          <div class="form-group">
           <input required="" type="text" name="addr" id="addr" class="form-control" placeholder="search">
         </div>
       </div>

     </div>
   </div> 

 </div>

 <div class="row">
  <div class="col-lg-9">

    <div class="submit-articale-section">
     <h1>Meet</h1> 
     <div class="register-form-hr"></div>

     <div class="meet-baner-img">
      <div class="event-contentarea">
        <div class="clearfix">
         <div class="event-title">Lorem ipsum amet - Event </div> 
         <div class="folding-img"></div>
       </div>
       <p>Lorem ipsum dolor, consectetur adipisicing elit, sstred do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam, quis exercitation ullamco labo aliquip  commodo consequat.</p>

       <p>March 19th 2015</p>

       <P><button class="btn Check-availability" type="button">REGISTER </button></P>
     </div>
   </div>





   <div class="row">
     <div class="col-lg-5 comment-text">
       Up comming Event
     </div> 
     <div class="clearfix"></div>
   </div>
   <div class="connect-hr2"></div>
   <div class="row event-row-mar">
     <div class="col-lg-6">
      <div class="event-box clearfix">
        <div class="event-iocn">
         <img src="images/event-icon-1.png" alt=""> 
       </div> 
       <div class="event-content">
         <div class="event-box-heading">Duis aute irure Rehenderit in voluptate</div>
         <p>16th March 2015</p> 
         <p>Chennai</p> 
       </div> 
     </div> 
   </div> 

   <div class="col-lg-6">
    <div class="event-box clearfix">
      <div class="event-iocn">
       <img src="images/event-icon-2.png" alt=""> 
     </div> 
     <div class="event-content">
       <div class="event-box-heading">Duis aute irure Rehenderit in voluptate</div>
       <p>16th March 2015</p> 
       <p>Chennai</p> 
     </div> 
   </div> 
 </div> 
</div>


<div class="row event-row-mar">
 <div class="col-lg-6">
  <div class="event-box clearfix">
    <div class="event-iocn">
     <img src="images/event-icon-3.png" alt=""> 
   </div> 
   <div class="event-content">
     <div class="event-box-heading">Duis aute irure Rehenderit in voluptate</div>
     <p>16th March 2015</p> 
     <p>Chennai</p> 
   </div> 
 </div> 
</div> 

<div class="col-lg-6">
  <div class="event-box clearfix">
    <div class="event-iocn">
     <img src="images/event-icon-4.png" alt=""> 
   </div> 
   <div class="event-content">
     <div class="event-box-heading">Duis aute irure Rehenderit in voluptate</div>
     <p>16th March 2015</p> 
     <p>Chennai</p> 
   </div> 
 </div> 
</div> 
</div>

<p class="pull-right event-bt-mar"><button class="btn Check-availability" type="button"> LOAD MORE </button></p>
<br>
</div>  

</div>


<div class="col-lg-3">
  <div ng-include="'partials2/right-nav.html'"> </div>
</div>
</div>
</div>