<!-- Fixed navbar -->
<nav class="navbar navbar-blue" ng-controller="NavbarCtrl" >
  <div class="container-head">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--logo area-->
      <div class="logo">
        <!-- <a href="/" ng-if="currentUser.role != 'admin'" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><img src="images/logo.png" alt="Private Investment Network"></a>
        <a href="/admin?users" ng-if="currentUser.role == 'admin'" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" ><img src="images/logo.png" alt="Private Investment Network"></a> -->
        <!-- <b style="color: white">ADMIN PANEL FOR PIN , MMI & MONEYHANS</b> -->
      </div>
      <!--end-->
    </div>
    <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">

     <li  ng-show="!currentUser" ng-class="{'desktop-hide': !currentUser}" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" ><a href="/who-is-this-site-for" ng-class="{active: isActive('/who-is-this-site-for')}">Who</a></li>

     <li  ng-show="!currentUser" ng-class="{'desktop-hide': !currentUser}" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><a href="/what-we-do" ng-class="{active: isActive('/what-we-do')}">What</a></li>

    <li  ng-show="!currentUser" ng-class="{'desktop-hide': !currentUser}" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><a href="/who-we-are" ng-class="{active: isActive('/who-we-are')}">About</a></li>

     <li ng-show="!currentUser" ng-class="{'desktop-hide': !currentUser}" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><a href="/register" ng-class="{active: isActive('/register')}">Join</a></li>

    <li ng-show="currentUser" ng-class="{'desktop-hide': currentUser}" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><a href="/register" ng-class="{active: isActive('/articles/01')}">Article</a></li>

<!--     <li class="desktop-hide" ng-show="currentUser"><a href="/register" ng-class="{active: isActive('/articles/01')}">Article</a></li>
 -->
    </ul>

      <form class="navbar-form navbar-right" name="form" ng-submit="login(form)" novalidate  >
        <div ng-hide="currentUser || isActive('/login')" >
          <div class="form-group" ng-class="{'has-error':form.email.$dirty && form.email.$invalid}">
            <input type="text" id="emailnav" name="email" class="form-control" ng-model="user.email" placeholder="Email" required>
            <div class="checkbox">
              <label><input type="checkbox" value="">Keep me logged in</label>
            </div>
          </div>
          <div class="form-group" ng-class="{'has-error':form.password.$dirty && form.password.$invalid}">
            <input type="password" id="passwordnav" name="password" class="form-control" ng-model="user.password" placeholder="Password" required>
            <div class="forget-pass"><a href="/forgot">Forgot Password ?</a></div>
          </div>
          <button type="submit" class="btn btn-default" ng-disabled="form.$invalid" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">LOGIN</button>
        </div>
        <div ng-show="currentUser">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
             <div class="pull-left "> <img src="images/avtar-img.png" class="profile-image"></div>
             <div class="pull-left"> Welcome,<br>
              {{currentUser.name}} <b class="down-arow"><img src="images/arow-down.png" alt=""></b></div></a>
              <ul class="dropdown-menu">
              <!--   <li ng-if="currentUser.role == 'admin'" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><a href="/post-article"><i class="fa fa-pencil-square-o"></i> Create Article</a></li>
                <li ng-if="currentUser.role == 'expert'" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><a href="/myarticles/01"><i class="fa fa-eye"></i> My Article</a></li> -->
<!--                 <li data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><a href="/articles/01" ><i class="fa fa-eye"></i> Preview Articles</a></li> -->
                <!-- <li role="presentation" class="dropdown-header">Admin</li> -->
                <!-- <li class="divider" ng-if="currentUser.role == 'admin'"></li> -->

              <!--   <li ng-if="currentUser.role == 'admin'" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><a href="/admin?users"><i class="fa fa-users"></i> Users</a></li>
                <li ng-if="currentUser.role == 'admin'" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><a href="/admin?articles"><i class="fa fa-paper-plane"></i> Articles</a></li>

                <li class="divider" ng-if="currentUser.role == 'admin'"></li> -->

                <li ng-if="currentUser.role == 'admin'" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><a href="http://indianpin.net/" target="_blank"><i class="fa fa-external-link"></i> View PIN Site</a></li>

                <li ng-if="currentUser.role == 'admin'" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><a href="http://moneymanagementindia.net/" target="_blank"><i class="fa fa-external-link"></i> View MMI Site</a></li>

                <li ng-if="currentUser.role == 'admin'" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><a href="http://themoneyhans.com" target="_blank"><i class="fa fa-external-link"></i> View MONEY HANS Site</a></li>

                <li class="divider" ></li>

                <li data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><a ng-click="logout()" href="#"><i class="fa fa-sign-out"></i> Sign-out</a></li>
              </ul>
            </li>
          </div>
        </form>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
