<!-- Fixed navbar -->
<!-- <nav class="navbar navbar-blue" ng-controller="NavbarCtrl" >
  <div class="container-head">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="logo">
        <a href="/" ng-if="currentUser.role != 'admin'" ><img src="images/logo.png" alt="Private Investment Network"></a>
        <a href="/admin?users" ng-if="currentUser.role == 'admin'" ><img src="images/logo.png" alt="Private Investment Network"></a>
      </div>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">

     <li class="desktop-hide"><a href="/who-is-this-site-for" ng-class="{active: isActive('/who-is-this-site-for')}">Who</a></li> 
     <li class="desktop-hide"><a href="/what-we-do" ng-class="{active: isActive('/what-we-do')}">What</a></li> 
    <li class="desktop-hide"><a href="/who-we-are" ng-class="{active: isActive('/who-we-are')}">About</a></li> 
      <li ng-hide="currentUser" class="desktop-hide"><a href="/register" ng-class="{active: isActive('/register')}">Join</a></li>  
    <li ng-show="currentUser" class="desktop-hide"><a href="/register" ng-class="{active: isActive('/articles/01')}">Article</a></li>   
    </ul>

      <form class="navbar-form navbar-right" name="form" ng-submit="login(form)" novalidate  >
        <div ng-hide="currentUser || isActive('/login')" >
          <div class="form-group" ng-class="{'has-error':form.email.$dirty && form.email.$invalid}">
            <input type="text" id="emailnav" name="email" class="form-control" ng-model="user.email" placeholder="Email" required>
            <div class="checkbox">
              <label><input type="checkbox" value="">Keep me logged in</label>
            </div>
          </div>
          <div class="form-group" ng-class="{'has-error':form.password.$dirty && form.password.$invalid}">
            <input type="password" id="passwordnav" name="password" class="form-control" ng-model="user.password" placeholder="Password" required>
            <div class="forget-pass"><a href="/forgot">Forgot Password ?</a></div>
          </div>
          <button type="submit" class="btn btn-default" ng-disabled="form.$invalid">Sign In</button>
        </div>
        <div ng-show="currentUser">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
             <div class="pull-left "> <img src="images/avtar-img.png" class="profile-image"></div>
             <div class="pull-left"> Welcome,<br>
              {{currentUser.name}} <b class="down-arow"><img src="images/arow-down.png" alt=""></b></div></a>
              <ul class="dropdown-menu">
                <li ng-if="currentUser.role == 'admin'"><a href="/post-article"><i class="fa fa-pencil-square-o"></i> Create Article</a></li>
                <li ng-if="currentUser.role == 'expert'"><a href="/myarticles/01"><i class="fa fa-eye"></i> My Article</a></li>
                <li><a href="/articles/01" ><i class="fa fa-eye"></i> Preview Articles</a></li>
                <li class="divider" ng-if="currentUser.role == 'admin'"></li>

                <li ng-if="currentUser.role == 'admin'"><a href="/admin?users"><i class="fa fa-users"></i> Users</a></li>
                <li ng-if="currentUser.role == 'admin'"><a href="/admin?articles"><i class="fa fa-paper-plane"></i> Articles</a></li>
                
                <li class="divider" ng-if="currentUser.role == 'admin'"></li>
                
                <li ng-if="currentUser.role == 'admin'"><a href="/"><i class="fa fa-external-link"></i> View Site</a></li>
                
                <li class="divider" ></li>

                <li><a ng-click="logout()" href="#"><i class="fa fa-sign-out"></i> Sign-out</a></li>
              </ul>
            </li>  
          </div>
        </form>
      </div>
    </div>
  </nav>
 -->

   <nav class="navbar navbar-default navbar-stiky" ng-controller="NavbarCtrl">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="images/new-logo.png" alt=""></a>
        </div>

        
        <div id="navbar" class="navbar-collapse collapse">
        
          <ul class="navbar-right">
          <div class="top-link" ng-hide="currentUser" ><a  href="/register" ng-class="{active: isActive('/register')}">Register</a>  |  <a href="/login" ng-class="{active: isActive('/login')}">Member Login </a> </div>

          <div class="top-link" ng-show="currentUser" >Welcome {{currentUser.firstname}} | <a href="/admin" ng-class="{active: isActive('/admin')}"> admin</a> | <a ng-click="logout()" href="#"><i class="fa fa-sign-out"></i> Sign-out</a></div>

        <form class="navbar-form" novalidate  name="form" role='form' ng-submit="searcharticle(form)"  ng-show="currentUser" > 
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="srch-term" ng-model="search" id="srch-term" required>
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        </form>
          </ul>
            <ul class="nav navbar-nav pull-right">
            <li ng-class="{active: isActive('/articles/01')}"> <a  href="/articles/01" >Content          </a></li>
            <li ng-class="{active: isActive('/discussion-listing')}"><a  href="/discussion-listing">Discussions          </a></li>
            <li ng-class="{active: isActive('/companies')}" ><a href="/companies">Directory          </a></li>
            <li ng-class="{active: isActive('/event')}" ><a href="/event">Events                    </a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<script type="text/ng-template" id="loginmodal.html" >
        <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
        <div class="modal-header">
            <h3 class="modal-title">Member Login</h3>
        </div>
        <div class="modal-body">
        <div class="inner-section">
        <div class="register-form-hr"></div>
        <form   name="form" role='form' ng-submit="login(form)" novalidate >
         <div class="row">
<div class="col-lg-6 col-md-6 col-sm-6">
<p>Sign in to your Account or <a href="/register">Register with us.</a></p>
        <div class="row">

        <div class="form-group" ng-class="{'has-error':form.name.$dirty && form.name.$error.required,'has-success':form.name.$valid}">
        <div class="col-lg-12 col-md-12 col-sm-12">
     <input type="email" placeholder="Email" class="form-control" required autofocus id="username" name="email" ng-model="user.email" mongoose-error/>
                        <p class="text-danger" ng-show="form.email.$error.required && submitted">Please fill EmailId .</p>
                    <p class="text-danger" ng-show="form.email.$error.email && submitted" >
                            Doesnot look like a valid email.
                      </p>

                        <p class="text-danger" ng-show="form.email.$error.mongoose">
                          {{ errors.email }}
                        </p>
        </div>      

            </div>
            </div>

        <div class="row">
           <div class="form-group">
           <div class="col-lg-12 col-md-12 col-sm-12">
            <input type="password" class="form-control" placeholder="Password" required  id="password" name="password" ng-model="user.password" mongoose-error />
                        <p class="text-danger" ng-show="form.password.$error.required && submitted">Please fill Password.</p>
            
                        <p class="text-danger" ng-show="form.password.$error.mongoose">
                          {{ errors.password }}
                        </p>

</div>

           </div>
           </div>  
           
           <div class="row">
           <div class="form-group">
           <div class="col-lg-12 col-md-12 col-sm-12">
<button class="btn btn-register btn-openid" type="submit">
                 <i class="fa fa-caret-right"></i> Login</button>

                 <div class="forget-pass"><a ng-click="forgotpassword()">Forgot Your Password?</a></div>
                 </div></div></div>  

         </form>   

        </div>
<div class="col-lg-6 col-md-6 col-sm-6">
 <div class="verticale-hr">
  <div class="or">or</div> 
 </div> 
 <div class="social">
 <p>Sign in using Linked IN account.</p>
 <p><a ng-click="linkedinLogin()" href="#"><img src="images/linkdin-bt.png" alt="Sign in using Linked IN account." title="Sign in using Linked IN account."></a></p>
 </div>
</div>
</div>
</div>
                </div>
            </div>
        </div>
    </div>
</script>
