<div class="container-fluid h3o-reletive">
<div class="container-head">
<div class="row">
<div class="pull-left">
<div class="mar-back-img">
<!-- Become a member section -->
<div class="tree-container-inner" ng-controller="NavbarCtrl">
<div id="nav">
 <ul>
 <li><a href="/who-is-this-site-for" ng-class="{active: isActive('/who-is-this-site-for')}">Who</a></li> 
 <li><a href="/what-we-do" ng-class="{active: isActive('/what-we-do')}">what</a></li> 
 <li><a href="/who-we-are" ng-class="{active: isActive('/who-we-are')}">about</a></li> 
  <li><a href="/register" ng-class="{active: isActive('/register')}">join</a></li>  
 </ul> 
</div>
</div>
</div>
</div>


			<div class="inner-section" ng-controller="NotificationCtrl">
					<div class="panel panel-info " ng-if="type=='article'">
						<div class="panel-body">
							<div class="col-lg-12">     
								<h1 style="margin-top:0px;">Article Posted</h1>   
								<div class="register-form-hr"></div>                 
									<div class="row login-pad">                                   
										<div class="col-lg-12 ">
										<h3>Your article has been posted.Please <a href="/share" title="Post new article">Click here </a> to post another article.</h3>
										</div>
							</div>  
						</div>  
					</div>
			</div>  

			<div class="panel panel-info " ng-if="type=='register'">
						<div class="panel-body">
							<div class="col-lg-12">     
								<h1 style="margin-top:0px;">Successfull Registered</h1>   
								<div class="register-form-hr"></div>                 
									<div class="row login-pad">                                   
										<div class="col-lg-12 ">
										<h3>Welcome ! You registration successful.</h3> 
									  <br/>To notify admin please verify your email. 
									  <br/>After that admin will validate and activate your account.
								</div>
							</div>  
						</div>  
					</div>
			</div>  


</div>
</div>

<!-- /container -->


</div>
