<div class="container" ng-controller="NotificationCtrl">
	<div id="content-section">
 		<div class="notification-section" ng-if="type=='register'">
			<div class="modal-header">
        <h4 class="modal-title">Successfull Registered</h4>
        </div>
			<div class="inner-part">
 				<div class="notification"> <p>Welcome ! You registration successful. </p>
			<p><span>*</span>To notify admin please verify your email.After that admin will validate and activate your account.</p> </div>
	<!-- 	<div class="cuntinue-bt"><button class="btn btn-register btn-openid" type="submit">
  <i class="fa fa-caret-right"></i> Continue</button></div> -->
  </div>
</div>

<div class="notification-section" ng-if="type=='article'">
			<div class="modal-header">
        <h4 class="modal-title">Article Posted</h4>
        </div>
	<div class="inner-part">
		<div class="notification"> <p>Your article has been posted.Please </p>
			<p><a href="/share" title="Post new article">Click here </a> to post another article.</p>
	 </div>
  </div>
</div>

</div> <!-- /container -->
</div>
