<style type="text/css">
.row.pad-top-80{
	padding-top:0;
}
.logo{
	display:none;
}
#planModal{}
#planModal .modal-content{background-color:#fff; height:auto; border-radius:0px;   }
#planModal .modal-dialog {
    margin: 0px auto;
    width: 100%; border-radius:0px; 
}
.claculate-form .form-horizontal .control-label {
    color: #000;
     text-align:center;  font-family: "clear_sans_lightregular";
    font-size: 15px; padding-right:0px; 
    line-height: 18px; display:block; font-weight:bold; 
    padding-bottom: 6px; margin-top:0px; 
}


.border-between > [class*='col-']:before {
   background: #e3e3e3;
   bottom: 0;
   content: " ";
   left: 0;
   position: absolute;
   width: 1px;
   top: 0;
}

.border-between > [class*='col-']:first-child:before {
   display: none;
}

#planModal .modal-dialog {
    transform: translate(0px, 0%)!important;
}
#planModal .close {
     font-family: arial;
    font-size: 24px;
    font-weight: normal;
    margin-top: 28px;
    position: absolute;
    z-index: 11;
}
.claculate-form label {
     color: #000;
     text-align:left!important;  font-family: "clear_sans_lightregular";
    font-size: 15px; padding-right:0px; 
    line-height: 18px; display:block; font-weight:bold; 
    padding-bottom: 6px; margin-top:0px; 
}
.org-house {
   font-size: 18px;
    font-weight: bold;
    position: absolute;
    right: 42px; font-family: "aint_nothing_fancyregular";
    top: 170px;
    z-index: 3;
  }

  #planModal .modal-header{padding-top:0px; }
.btn-calcu{background-color:#ea2c2b; color:#fff; padding:6px 15px;     }
.btn-calcu:hover{color:#fff; }
 .calc-house {
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    right: 1px; font-family: "aint_nothing_fancyregular";
    top: 510px;
    z-index: 3;
  } 

.claculate-form {
    padding-left: 0px;
}

.claculate-form .padl0{padding-left:0px;   }
.claculate-form .help-text {
    font-size: 12px; font-family: "clear_sans_lightregular";
    margin-top: 0; width:100%; 
    padding-left:0px;
}
.claculate-form .form-control{
    margin-bottom:5px; font-size:12px; color: #4e4c49;
    font-family: "clear_sans_lightregular";
  padding-right:0px;   
}
.blue-h-left{float:left; margin-left:15px;  }
.blue-h-right{float:right; margin-right:15px }

.house-sec .original-house {
    margin: 30px auto 0;
    max-width:255px; position: relative;
    text-align: center;
}

.house-sec .calculate-house {
     margin: 30px auto 0;
    max-width: 255px; position: relative;
    text-align: center; 
}

#planModal .modal-title {
    color: #025d66;
    font-size: 31px;
    font-family: "clear_sansbold";
    line-height: 1.42857;
    margin: 0 0 25px 0;
    text-align: center;
}
.house-sec{margin:0px 0 50px 0;    }
.house-sec h3{
color: #000;
    font-family: "aint_nothing_fancyregular";
    font-size: 24px; text-align:center; 
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 20px;
}
#planModal .modal-body {
    color: #444444;
    font-family: "clear_sans_lightregular";
    font-size: 16px;
    padding: 9px 0 15px 0;
    position: relative;
}
.help-text-calculte{
     color: #444444;
    font-family: "clear_sans_lightregular";
    font-size: 16px; margin-top:50px; 
}
.model-logo{   margin-bottom: 15px;
    margin-top: 50px;
    padding-left: 0;  }
.housenet-worth span{margin-left:25px;   }
.housenet-worth{ 
    color: #000; font-weight:bold; 
    font-family: "clear_sans_lightregular";
    font-size: 18px;
    line-height: 30px;
    margin: 30px 15px 15px;
    padding: 5px 0;
    text-align: center;
    text-transform: uppercase; }

 #errorModal .modal-content{
    background-color:#fff; height:auto;  
 } 


#errorModal .modal-dialog {
    margin: 0px auto;
    width: 100%; border-radius:0px; 
}  

#errorModal .modal-dialog {
    transform: translate(0px, 0%)!important;
}

#errorModal .modal-header .close {
    margin-top: 29px;
}



#error_para{color:#a94442; }
.blue{border:solid 2px #1faed6; position: relative;}
.green{border:solid 2px #8ddc13; position: relative;}
.red{border:solid 2px #ec4a48; position: relative;}
.yellow{border:solid 2px #fdbd1a; position: relative;}
.borderbox{padding:15px; position:relative; margin-bottom:30px;  font-family: "aint_nothing_fancyregular"; min-height:150px;  }

.borderbox .arrow-articale {
    bottom: -16px;
    position: absolute;
    right: 26px;
}
h3{font-family: "aint_nothing_fancyregular";
font-size:16px; color:#000; margin:0px; }

.borderbox ul{margin:20px 0 0 20px; padding:0px;  }
.borderbox ul li{margin-top:8px; font-size:14px;  }
.clcmodel .modal-dialog {
    margin: 30px auto!important; z-index: 666;
    width:400px!important;  box-shadow: 0px 0px 8px 2px #888; 
    border-radius: 0px;
}

.clcmodel .modal-content{background-color:#fff; height:auto; border-radius:0px;  background-image:none; }

.clcmodel .modal{z-index:1100!important; }

.clcmodel .modal-dialog {
    transform: translate(0px, 0%)!important;
}
.clcmodel .close {
     font-family: arial;
    font-size: 24px;
    font-weight: normal;
    margin-top: 24px; right: 20px;
    position: absolute;
    z-index: 11;
}
.clcmodel .padl0{padding-left:0px;   }
.clcmodel .modal-body{padding:0px 20px 20px 20px; }
.clcmodel .modal-footer{text-align:center; font-family: "clear_sans_lightregular"; }

.original-house .funmoney{position: absolute;
z-index: 4;
top: 65px; width: 100%; text-align: center;
}
.original-house .freedom{position: absolute;
z-index: 4; width: 100%; text-align: center;
top: 115px;
}
.original-house .groth{
    position: absolute;
z-index: 4; width: 100%; text-align: center;
top: 195px;

}
.original-house .foundation{position: absolute;
z-index: 4;
top: 290px; width: 100%; text-align: center;
}

.calculate-house .funmoney{position: absolute;
z-index: 4;
top: 65px; width: 100%; text-align: center;
}
.calculate-house .freedom{position: absolute;
z-index: 4;
top: 110px; width: 100%; text-align: center;
}
.calculate-house .groth{
    position: absolute;
z-index: 4; width: 100%; text-align: center;
top: 190px;

}
.calculate-house .foundation{position: absolute;
z-index: 4;
top: 285px; width: 100%; text-align: center;
}
.logo_wealth{margin-top:80px;}
.welth-house {margin-top: 150px;}
.welth-house h2{font-size:24px; }
.welth-house h2 span{font-size:16px; }
.welth-house p{color:#39a5df; }


</style>
	<div class="container">
		<div class="row">


			<div class="col-md-3 search"></div>
		</div>
	</div>






	<!--architect area-->


	<div class="container">
		<div class="inner-doodles-drownig"></div>
		<div class="inner-doodles-men"></div>
		<div class="inner-doodles-right-1"></div>
		<div class="inner-doodles-right-2"></div>
		<div class="inner-doodles-right-3"></div>

	</div>


	<div class="house-sec">
		<div class="row">
			<div class="container">
				<div class="col-sm-4">
					<div class="logo_wealth"><a href="/"><img src="images/logo.png" alt=""></a></div>
					<div class="welth-house">
						<h2>The Wealth House <span>(beta)</span></h2>
						<p>See how your wealth house looks by filling in details below
						</p>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="calculate-house">
						<!--   <div class="funmoney">5.Fun Money Roof</div>
         <div class="freedom">4.Freedom Slab</div>
         <div class="groth">3.Growth Pillars</div>
         <div class="foundation">2.Essentials Foundation</div> -->
						<div>
							<img src="images/yellow-house.png" class="image_roof">
						</div>
						<div>
							<img src="images/green-house.png" class="image_slab">
						</div>
						<div class="clearfix">
							<div class="blue-h-left" style="margin-left: 30px;">
								<img src="images/blue-house-left.png" class="image_pillar">
							</div>
							<div class="blue-h-right"
								style="margin-right: 30px;">
								<img src="images/blue-house-right.png"  class="image_pillar">
							</div>
						</div>
						<div>
							<img src="images/red-house.png" class="image_foundation">
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="original-house">
						<img class="img-responsive" src="images/ipad-home-nav.png">
						<div class="funmoney">5.Fun Money Roof</div>
						<div class="freedom">4.Freedom Slab</div>
						<div class="groth">3.Growth Pillars</div>
						<div class="foundation">2.Essentials Foundation</div>

					</div>
				</div>


			</div>
		</div>
	</div>

	<div class="container">


		<form class="form-horizontal">

			<div class="row">
				<div class="col-sm-6">
					<div class="red borderbox">
						<h3>Stuff you CAN’T AFFORD TO LOSE –</h3>
						<ul>
							<li>Ability to earn income (life and health)</li>

							<li>Basic lifestyle (food, clothing, home)</li>

							<li>Emergency cash</li>
						</ul>
						<div class="arrow-articale">
							<a data-toggle="modal" data-target="#myModal1" style="color:#ec4a48">
							<div style="position:relative;top:-10px;left:-15px;color:#ec4a48">
                              Click Here to fill form
                              </div>
							<img src="images/plan-arrow.png" alt=""></a>
						</div>
					</div>

					<!-- Modal -->
					<div class="clcmodel">
						<div id="myModal1" class="modal clcmodel fade" role="dialog">
							<div class="modal-dialog">

								<!-- Modal content-->
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>

									</div>
									<div class="modal-body">
										<div class="claculate-form">
											<div>
												<label class="control-label" for="email">My
													income-earning capacity:</label>
												<div class="row">
													<div class="col-sm-6">
														<input type="text" class="form-control val"
															id="income_capacity_value" placeholder="Value estimate">
													</div>
													<div class="col-sm-6 padl0">
														<input type="text" class="form-control owe"
															id="income_capacity_owe" placeholder="Still owe on this">
													</div>
												</div>
												<p class="help-text">
													<i class="fa fa-question-circle" aria-hidden="true"></i>
													Your annual income multiplied by no of years to retirement;
													put in student loan outstanding
												</p>
											</div>

											<div>
												<label class="control-label" for="email">Home -
													where I live:</label>
												<div class="row">
													<div class="col-sm-6">
														<input type="text" class="form-control val"
															id="home_value" placeholder="Value estimate">
													</div>
													<div class="col-sm-6 padl0">
														<input type="text" class="form-control owe" id="home_owe"
															placeholder="Still owe on this">
													</div>
												</div>
												<p class="help-text">
													<i class="fa fa-question-circle" aria-hidden="true"></i>
													Where you live with your family; in 'owe' column, put in
													loan outstanding
												</p>
											</div>

											<div>
												<label class="control-label" for="email">Bank
													accounts - current/savings:</label>
												<div class="row">
													<div class="col-sm-6">
														<input type="text" class="form-control val"
															id="bank_savings_value" placeholder="Value estimate">
													</div>
													<div class="col-sm-6 padl0">
														<input type="text" class="form-control owe"
															id="bank_savings_owe" placeholder="Still owe on this">
													</div>
												</div>
												<p class="help-text">
													<i class="fa fa-question-circle" aria-hidden="true"></i>
													Account balance which you can access easily
												</p>
											</div>

											<div>
												<label class="control-label" for="email">Bank
													accounts - fixed deposits:</label>
												<div class="row">
													<div class="col-sm-6">
														<input type="text" class="form-control val"
															id="bank_fixed_value" placeholder="Value estimate">
													</div>
													<div class="col-sm-6 padl0">
														<input type="text" class="form-control owe"
															id="bank_fixed_owe" placeholder="Still owe on this">
													</div>
												</div>
												<p class="help-text">
													<i class="fa fa-question-circle" aria-hidden="true"></i>
													Accounts which have some lock-in
												</p>
											</div>
												<div>
													<label class="control-label" for="email">Gold/Jewelry</label>
													<div class="row">

														<div class="col-sm-6">
															<input type="text" class="form-control val"
																id="gold_jewel_value" placeholder="Value estimate">
														</div>
														<div class="col-sm-6 padl0">
															<input type="text" class="form-control owe"
																id="gold_jewel_owe" placeholder="Still owe on this">
														</div>
													</div>
													<p class="help-text">
														<i class="fa fa-question-circle" aria-hidden="true"></i>
														Jewelry or gold biscuits
													</p>
												</div>
											
											
										</div>
									</div>
									<div class="modal-footer text-center">
										<button type="button" class="btn btn-calcu"
											onclick=calculate();>Calculate Net Worth</button>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="blue borderbox">
						<h3>Investments that GROW to keep up –</h3>
						<ul>
							<li>Your skills</li>

							<li>Diversified portfolio of shares</li>

						</ul>
						<div class="arrow-articale">
							<a data-toggle="modal" data-target="#myModal2" style="color:#1faed6">
							<div style="position:relative;top:-10px;left:-15px;color:#e1faed6">
                              Click Here to fill form
                              </div>
							<img src="images/plan-arrow.png" alt=""></a>
						</div>

						<!-- Modal -->
						<div class="clcmodel">
							<div id="myModal2" class="modal clcmodel fade" role="dialog">
								<div class="modal-dialog">

									<!-- Modal content-->
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>

										</div>
										<div class="modal-body">
											<div class="claculate-form">

												<div>
													<label class="control-label" for="email">Balanced
														portfolio - direct or mutual funds</label>
													<div class="row">
														<div class="col-sm-6">
															<input type="text" class="form-control val"
																id="portfolio_value" placeholder="Value estimate">
														</div>
														<div class="col-sm-6 padl0">
															<input type="text" class="form-control owe"
																id="portfolio_owe" placeholder="Still owe on this">
														</div>
													</div>
													<p class="help-text">
														<i class="fa fa-question-circle" aria-hidden="true"></i>
														MFs that invest in equities and bonds
													</p>
												</div>

												<div>
													<label class="control-label" for="email">Equities -
														direct or mutual funds</label>
													<div class="row">
														<div class="col-sm-6">
															<input type="text" class="form-control val"
																id="equity_value" placeholder="Value estimate">
														</div>
														<div class="col-sm-6 padl0">
															<input type="text" class="form-control owe"
																id="equity_owe" placeholder="Still owe on this">
														</div>
													</div>
													<p class="help-text">
														<i class="fa fa-question-circle" aria-hidden="true"></i>
														Direct stocks or equity mutual funds
													</p>
												</div>
											</div>
										</div>
										<div class="modal-footer text-center">
											<button type="button" class="btn btn-calcu"
												onclick=calculate();>Calculate Net Worth</button>
										</div>
									</div>

								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="col-sm-6">
					<div class="green borderbox">
						<h3>SSlab to provide INCOME for when you don’t work anymore –
						</h3>
						<ul>
							<li>Property with rental income</li>

							<li>Income producing portfolio</li>


						</ul>
						<div class="arrow-articale">
							<a data-toggle="modal" data-target="#myModal3" style="color:#8ddc13">
							<div style="position:relative;top:-10px;left:-15px;color:#8ddc13">
                              Click Here to fill form
                              </div>
							<img src="images/plan-arrow.png" alt=""></a>
						</div>

						<!-- Modal -->
						<div class="clcmodel">
							<div id="myModal3" class="modal clcmodel fade" role="dialog">
								<div class="modal-dialog">

									<!-- Modal content-->
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>

										</div>
										<div class="modal-body">
											<div class="claculate-form">

												<div>
													<label class="control-label" for="email">Bonds -
														direct or mutual funds</label>
													<div class="row">
														<div class="col-sm-6">
															<input type="text" class="form-control val"
																id="bonds_value" placeholder="Value estimate">
														</div>
														<div class="col-sm-6 padl0">
															<input type="text" class="form-control owe"
																id="bonds_owe" placeholder="Still owe on this">
														</div>
													</div>
													<p class="help-text">
														<i class="fa fa-question-circle" aria-hidden="true"></i>
														Direct bonds or bond mutual funds
													</p>
												</div>

												<div>
													<label class="control-label" for="email">Real
														estate - where I earn rent:</label>
													<div class="row">
														<div class="col-sm-6">
															<input type="text" class="form-control val"
																id="real_estate_value" placeholder="Value estimate">
														</div>
														<div class="col-sm-6 padl0">
															<input type="text" class="form-control owe"
																id="real_estate_owe" placeholder="Still owe on this">
														</div>
													</div>

												</div>


																							
											</div>
										</div>
										<div class="modal-footer text-center">
											<button type="button" class="btn btn-calcu"
												onclick=calculate();>Calculate Net Worth</button>
										</div>
									</div>

								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="col-sm-6">
					<div class="yellow borderbox">
						<h3>Things that can make you really RICH –</h3>
						<ul>
							<li>Speculative property</li>

							<li>Own business or start-up (incl ESOPs)</li>

							<li>‘Risky career’ like acting, sports etc</li>
						</ul>
						<div class="arrow-articale">
							<a data-toggle="modal" data-target="#myModal4" style="color:#fdbd1a">
							<div style="position:relative;top:-10px;left:-15px;color:#fdbd1a">
                              Click Here to fill form
                              </div>
							<img src="images/plan-arrow.png" alt=""></a>
						</div>

						<!-- Modal -->
						<div class="clcmodel">
							<div id="myModal4" class="modal clcmodel fade" role="dialog">
								<div class="modal-dialog">

									<!-- Modal content-->
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>

										</div>
										<div class="modal-body">
											<div class="claculate-form">

												<div>
													<label class="control-label" for="email">Exotic
														investments - hedge funds, private equity :</label>
													<div class="row">
														<div class="col-sm-6">
															<input type="text" class="form-control val"
																id="exotic_value" placeholder="Value estimate">
														</div>
														<div class="col-sm-6 padl0">
															<input type="text" class="form-control owe"
																id="exotic_owe" placeholder="Still owe on this">
														</div>
													</div>
													<p class="help-text">
														<i class="fa fa-question-circle" aria-hidden="true"></i>
														Funds that are comlex or have lock-ins
													</p>
												</div>
												<div>
													<label class="control-label" for="email">Real
														estate - still under construction, no rent</label>
													<div class="row">
														<div class="col-sm-6">
															<input type="text" class="form-control val"
																id="real_estate_no_rent_value"
																placeholder="Value estimate">

														</div>
														<div class="col-sm-6 padl0">
															<input type="text" class="form-control owe"
																id="real_estate_no_rent_owe"
																placeholder="Still owe on this">
														</div>
													</div>

												</div>
												<div>
													<label class="control-label" for="email">ESOPs in
														employer company:</label>
													<div class="row">
														<div class="col-sm-6">
															<input type="text" class="form-control val"
																id="esop_value" placeholder="Value estimate">
														</div>
														<div class="col-sm-6 padl0">
															<input type="text" class="form-control owe" id="esop_owe"
																placeholder="Still owe on this">
														</div>
													</div>

												</div>	
												<div>
													<label class="control-label" for="email">Own
														business:</label>
													<div class="row">
														<div class="col-sm-6">
															<input type="text" class="form-control val"
																id="own_business_value" placeholder="Value estimate">
														</div>
														<div class="col-sm-6 padl0">
															<input type="text" class="form-control owe"
																id="own_business_owe" placeholder="Still owe on this">
														</div>
													</div>

												</div>
											</div>
										</div>
										<div class="modal-footer text-center">
											<button type="button" class="btn btn-calcu"
												onclick=calculate();>Calculate Net Worth</button>
										</div>
									</div>

								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
	</div>





	<footer class="footer">
		<div class="container">
			<div class="clearfix">
				<div class="footer-nav">
					<ul>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Terms & Privacy</a></li>

					</ul>

				</div>
				<div class="footer-social-nav">

					<ul>
						Keep in touch
						<li><a href="#"><img src="images/twiter-icon.png" alt=""></a>
						</li>
						<li><a href="#"><img src="images/linkdin-icon.png" alt=""></a></li>
						<li><a href="#"><img src="images/facebook-icon.png"
								alt=""></a></li>
						<li><a href="#"><img src="images/mail-icon.png" alt=""></a></li>

					</ul>

				</div>
			</div>
		</div>
	</footer>



	<!-- /container -->







	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
  function close_error(){
    $("#errorModal").hide();
  }
  var expected_percentage = {"foundation":30,"pillar":40,"roof":10,"slab":20}
  var configuration ={"foundation":[
                    {"key":"income_capacity","display":"My income-earning capacity"},
                    {"key":"home","display":"Home - where I live"},
                    {"key":"bank_savings","display":"Bank accounts - current/savings"},
                    {"key":"bank_fixed","display":"Bank accounts - fixed deposits"},
                    {"key":"gold_jewel","display":"Gold/Jewelry"}

                    ],
//            "ignore":[
//                    {"key":"car","display":"Car"},
//                    {"key":"to_friends","display":"Money given to friends as loans/investment"}
//                    
//            ],
            "pillar":[
              {"key":"portfolio","display":"Balanced portfolio - direct or mutual funds"},
              {"key":"equity","display":"Equities - direct or mutual funds"},
              
            ],
            "roof":[
              {"key":"exotic","display":"Exotic investments - hedge funds, private equity"},
              {"key":"real_estate_no_rent","display":"Real estate - still under construction, no rent"},
              {"key":"esop","display":"ESOPs in employer company"},
              {"key":"own_business","display":"Own business"}
              
            ],
            "slab":[
              {"key":"bonds","display":"Bonds - direct or mutual funds"},
              {"key":"real_estate","display":"Real estate - where I earn rent"}
                
            ],
            
    
  }
function calculate(){
  /*var errors = []
  $.each(configuration,function(key,records){
    // console.log(key);
    
    $.each(records, function (index, record){
      var val = $("#"+record["key"]+"_value").val();
      var owe = $("#"+record["key"]+"_owe").val();
      var display = record["display"];
      var err =false;
      if(val){
        if(!parseInt(val)){
          errors.push("Not a valid Value estimate  : " + display)
          $("#"+record["key"]+"_value").css({"background-color":'#f2dede'});
          err = true;
        }
      }else{
        errors.push("Fill 'Value estimate' for  : " + display)
        $("#"+record["key"]+"_value").css({"background-color":'#f2dede'});
        err = true;
      }
      
      if(owe){
        if(!parseInt(owe)){
          errors.push("Not a valid Value estimate  : " + display)
          $("#"+record["key"]+"_owe").css({"background-color":'#f2dede'});
          err = true;
        }
      }else{
        errors.push("Fill 'Still owe on this ' for : " + display)
        $("#"+record["key"]+"_owe").css({"background-color":'#f2dede'});
        err = true;
      }
      
      if(!err){
        if (val <= owe){
          errors.push("Val can not be smaller or equal to Owe for  : " + display)
          $("#"+record["key"]+"_owe").css({"background-color":'#f2dede'});          
          $("#"+record["key"]+"_val").css({"background-color":'#f2dede'});          
        }
      }
      
    });
  });

  
  if(errors.length!=0){
    $("#error_para").html(errors.join("<br/>"));
    $("#errorModal").modal();
    $("#errorModal").show();
    return;
  }*/
  //    
  var data = {
      "foundation":{"total":0} ,
      "pillar":{"total":0} ,
      "slab":{"total":0} ,
      "roof":{"total":0} ,
  }
  
  // Validation is done lets look at the values.
  $.each(configuration,function(key,records){
    $.each(records, function (index, record){
      var val = $("#"+record["key"]+"_value").val();
      if(!val){
    	  val = 0;
      }else{
    	  var val = parseInt(val);
      }
      var owe = $("#"+record["key"]+"_owe").val();
      if(!owe){
    	  owe = 0;
      }else{
    	  owe = parseInt(owe);
      }     
      var diff =  parseInt(val - owe);
      data[key]["total"] = parseInt(data[key]["total"] + diff);
    });
  });

  var all_diff_total = 0
  $.each(data,function(key, record){
    all_diff_total = all_diff_total + data[key]["total"];
  }); 
  
  var calculated_percentage = {}
  if (all_diff_total==0){
	  $(".image_foundation").css({"width":"0%"});
	  $(".image_slab").css({"width":"0%"});
	  $(".image_pillar").css({"width":"0%"});
	  $(".image_roof").css({"width":"0%"});
	  
  }else{
	  $.each(data,function(key, record){
	    calculated_percentage[key] = (data[key]["total"]/all_diff_total)*100
	  });
	  var show_size = {}
	  $.each(expected_percentage,function(key, val){
	    show_size[key] = calculated_percentage[key]/val;
	    //debugger;
	    $(".image_"+key).css({"width":show_size[key]*80+"%"});
	
	  });
  }
  //alert(JSON.stringify(show_size));
  //percentages = {"foundation":"20%","pillar":"30%","proof":"50%","slab":"80%"}
   $("html, body").animate({ scrollTop: 0 }, "slow");
   $(".close").click()

} 
/* Reset the data value on page load and each time click calculate. At last*/
$(document).ready(function(){
	$("#custom-search-input").hide()
  // To initiate the data variable dynamically.
  
  // Remove error color background on typing
    $("input").keypress(function(){
      $(this).css({"background-color":'#fff'});
      
      // Along with value clear owe and vice versa. 
      // Handle larger equal to value.
      
      if($(this).attr("id").endsWith("_value")){
        $("#"+$(this).attr("id").replace("_value","_owe")).css({"background-color":'#fff'});
      }
      if($(this).attr("id").endsWith("_owe")){
        $("#"+$(this).attr("id").replace("_owe","_value")).css({"background-color":'#fff'});
      }
      //alert("This input field has lost its focus.");
    });
  
  // Assign values so no need to type initially.
  // Can set some initial values.
    //$('input.val').val('0');
    //$('input.owe').val('0');
    
    // Max length shhould not be greater than 15 for any amount
    $('input').attr('maxlength', 15);
    
  // Allow only integers
    $("input").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||
             // Allow: Ctrl+A, Command+A
            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) || 
             // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {
                 // let it happen, don't do anything
                 return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
});
</script>
