
<div class="container">
<div id="breadcam">
 <ul>
 <li><a href="#"><img src="images/home-icon.png" alt=""></a></li>
  <li><img src="images/arwwo-bardcam.png" alt=""></li>
   <li>Privacy</li>
 </ul>
</div>

</div>

<div class="container">
<div class="inner-doodles-tophead-meet"></div>
<div class="row mar-bot40">
<div class="inner-doodles-drownig"></div>
<div class="inner-doodles-men"></div>
<div class="inner-doodles-right-1"></div>
<div class="inner-doodles-right-2"></div>
<div class="inner-doodles-right-3"></div>
<div class="inner-doodles-right-4"></div>
<!--architect area-->
<div class="col-md-8 col-sm-8 padr-30">
<h2>Privacy</h2>
<div class="discussions-section">



<div class="row-mar">

<div class="row chat-2mar15">
 <div class="col-lg-12">
<div class="discussions-section">
<div class="eventdetail-box">





<p>We respect your privacy online.</p>


<p>We do ask you to provide certain information to improve our service offer. We will use that information in line with this privacy policy. We might update the privacy policy from time to time so please feel free to check.</p>


<p>We collect information by which you can be identified (such as name, firm, job title) and contact information including email address. We might ask you for your specific interests. <b>We will ask you for your preferences on how often you would like to hear from us. Other than your indicated preference, we will keep any emails, or other form of contact, to a minimum.</b> You can update your information and preferences anytime.</p>

<p>We also receive and collect certain anonymous though “cookies” such as IP address, domain server, the type of web browser you're using, click stream patterns, dates and times that our site is accessed.</p>

<p>We need this information to understand your needs and provide you with a better service. </p>

<p>We limit access to personal information about you to employees who we believe reasonably need to come into contact with that information to provide products or services to you or in order to do their jobs. We have put in physical, electronic, and procedural safeguards to protect personal information about you. Note, however, that the internet is not fully secure.</p>

<p>Our website may contain links to other websites of interest. However, once you have used these links to leave our site, you should note that we do not have any control over that other website. Therefore, we cannot be responsible for the protection and privacy of any information that you provide whilst visiting such sites and such sites are not governed by this privacy statement. You should exercise caution and look at the privacy statement applicable to the website in question.</p>

<p>Subject to exclusive jurisdiction of courts at <b>Mumbai, India.</b> </p>








</div>




</div>
 </div>
 </div>

</div>
















</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4">
  <div ng-include="'partials2/right-nav.html'"> </div>
</div>

</div>
<!--end-->






</div>
