<div class="container">
  <div id="content-section">
  <div class="row">
<div class="col-lg-12 col-md-12 col-sm-12">

<div class="breadcam-link">
<ul>
    <li><a href="#"><i class="fa fa-home"></i></a></li>
/
    <li class="active">Reset Password</li>
</ul>
</div> 

  <div class="gray-hr"></div>
     <div class="notification-section"> 
    <div class="modal-header">
      <h3 class="modal-title">Reset Password</h3>
    </div>
    <div class="modal-body">
      <div class="inner-section">
        <div class="register-form-hr"></div>

                <p ng-hide="success">Almost there! Please enter your new password</p>
                <div class="alert alert-success" role="alert" ng-show="success">
                  <strong>Done!</strong> Your password has been resetted. Please <a href="/login">login</a> with your new password to continue.
                </div>

                <form ng-hide="success" class="form" name="form" ng-submit="recover(form)" novalidate>
                  <input type="hidden" name="token" class="form-control" ng-model="token">
                  <div class="form-group">
                    <input type="password" placeholder="Password" required ng-minlength="5" name="password" class="form-control" ng-model="password" mongoose-error/>
                    <p class="text-danger"
                    ng-show="(form.password.$error.minlength || form.password.$error.required) && (form.password.$dirty || submitted)">
                    Password must be at least 5 characters.
                  </p>
                </div>

                <div class="form-group">
                  <input type="password" placeholder="Confirm Password" name="Rpassword" class="form-control" ng-model="Rpassword" 
                  ng-minlength="5"
                  required/>
                  <p class="text-danger"
                  ng-show="(form.Rpassword.$error.minlength || form.Rpassword.$error.required || password != Rpassword) && (form.Rpassword.$dirty || submitted)" >
                  Passwords are different.
                </p>
              </div>

              <div class="form-group has-error">
                <p class="text-danger" ng-show="errors.invalid">
                  The forgot password link is invalid.
                </p>
                <p class="text-danger" ng-show="errors.expired">
                  The forgot password link has expired.
                </p>
                <p class="text-danger" ng-show="errors.expired || errors.invalid">
                  Please try <a href="/forgot">resetting your password</a> again.
                </p>
              </div>

              <button type="submit" class="btn btn-register btn-openid"><i class="fa fa-caret-right"></i> Reset </button>
            </form>   
                </div>
              </div>
            </div>
          </div>
    </div>