<div class="container">
<div id="content-section">


<div class="row">
<div class="col-lg-8 col-md-8 col-sm-8">

<div class="breadcam-link">
<ul>
    <li><a href="#"><i class="fa fa-home"></i></a></li>
/
    <li class="active">Register</li>
</ul>
</div> 

<div class="gray-hr"></div>

<div class="inner-section">
 <h1>Register with us</h1> 
<div class="register-form-hr"></div>
        <form class="register-form"  role="form"  name="form"  ng-submit="register(form)" novalidate>
        <!-- <div class="alert alert-success" role="alert" ng-show="registerDone">
            You are successfully register. For Login Please <a href="/login"><b>Click Here</b></a>
        </div> -->

        <div class="row">
           <!-- <div class="form-group" ng-class="{'has-error':form.fullname.$error.required && submitted,'has-success':form.fullname.$valid && submitted}"> -->
           <div class="form-group" >
           <div class="col-lg-6 col-md-6 col-sm-6">
           <input type="text" name="fullname" class="form-control" placeholder="Family Office / Family Name " ng-model="user.fullname"
          tooltip="Please fill Family Office / Family Name." 
          tooltip-placement="bottom"
          />
          <div class="error-massege"> 
           <p class="text-danger" ng-show="form.fullname.$error.required && submitted">Please fill FullName .</p>
           </div>
       </div>
           </div>
           </div>


            <div class="row">
           <div class="form-group" ng-class="{'has-error':form.name.$error.required && submitted,'has-success':form.name.$valid && submitted}">
           <div class="col-lg-6 col-md-6 col-sm-6">
           <input required type="text" name="name"  class="form-control" ng-model="user.name" placeholder="Name *"
          tooltip="Please fill your name ." 
          tooltip-placement="bottom"
          tooltip-trigger="{{{true: 'focus', false: 'never'}[form.name.$error.required && submitted]}}"
          />
           <div class="error-massege">  
           <p class="text-danger" ng-show="form.name.$error.required && submitted">Please fill Name .</p>
           </div>
</div>
           </div>
           </div>


          <div class="row">
           <div class="form-group" ng-class="{'has-error': form.username.$error.required && submitted,'has-success':form.username.$valid && submitted}">
           <div class="col-lg-6 col-md-6 col-sm-6">
           <input required type="text" name="username" class="form-control" placeholder="Alias/Username * " ng-model="user.username" ng-blur="checkUsername(form)"
          tooltip="Please fill your alias name or username." 
          tooltip-placement="bottom"

           />
           <div class="error-massege"> 
            <p class="text-danger" ng-show="form.username.$error.required && submitted && !form.username.$error.mongoose" >Please fill your alias name or username.</p>
            <p class="text-danger" ng-show="form.username.$error.mongoose">
            {{ errors.username }}
           </p>
           <p class="text-success" ng-show="checkmessage">
            {{ checkmessage }}
           </p>
           </div>
           
</div>
<div class="col-lg-3"> <button class="btn Check-availability btn-opp" type="button" id="checkmessage" ng-click="checkUsername(form)" ng-disabled="checkusername"><i class="fa fa-caret-right"></i>   Check Availability </button></div>
   </div>
 </div>



<div class="row register-form-row-pad">
<div class="col-lg-4 col-md-4 col-sm-4 paddingr-7">
<div class="form-group"  >
              
<input type="text" name="address" ng-model="user.address.street" class="form-control" placeholder="Street Address "
          tooltip="Please fill your street address." 
          tooltip-placement="bottom"
/>

 </div>
</div>

<div class="col-lg-4 col-md-4 col-sm-4 paddingr-7 paddingl-7">
<div class="form-group" ng-class="{'has-error':form.city.$error.required && submitted,'has-success':form.city.$valid && submitted}">
<input type="text" required name="city" ng-model="user.address.city" class="form-control" placeholder="City *"

          tooltip="Please fill your city name." 
          tooltip-placement="bottom"
          tooltip-trigger="{{{true: 'focus', false: 'never'}[form.city.$error.required && submitted]}}"
          />
<div class="error-massege">           
<p class="text-danger" ng-show="form.city.$error.required && submitted">Please fill city name. </p>
</div>
  </div>
</div>

<div class="col-lg-4 col-md-4 col-sm-4 paddingl-7">
<div class="form-group">
<input type="text" name="country" ng-model="user.address.country" class="form-control" placeholder="Country"

          tooltip="Please fill your country name." 
          tooltip-placement="bottom"

          />
  </div>
</div>

</div>

<div class="row ">
<div class="col-lg-6 col-md-6 col-sm-6 paddingr-7">
<div class="form-group" ng-class="{'has-error':form.email.$error.required && submitted,'has-success':form.email.$valid && submitted}">
   <input required type="email" validateEmail name="email"  class="form-control" placeholder="Email *" ng-model="user.email" mongoose-error
         tooltip="Please fill your valid email address." 
          tooltip-placement="bottom"

/>
<div class="error-massege"> 
   <p class="text-danger" ng-show="form.email.$error.required  && submitted">Please fill Email .</p>
   <p class="text-danger" ng-show="form.email.$error.email && submitted">
                  Doesn't look like a valid email.
              </p>
   <p class="text-danger" ng-show="form.email.$error.mongoose">
    {{ errors.email }}
   </p>
   </div>
   </div>
</div>

<div class="col-lg-6 col-md-6 col-sm-6 paddingl-7">
<div class="form-group" >
              <input  type="text" name="phone" class="form-control" placeholder="Phone / Mobile" ng-model="user.phone"
                        tooltip="Please fill your phone/mobilenumber." 
          tooltip-placement="bottom"
/>
              <!-- <p class="text-danger" ng-show="form.phone.$error.required && submitted">Please fill Phone/Mobile.</p> -->
           </div>
</div>

</div> 



<div class="row register-form-row-pad">
<div class="col-lg-6 col-md-6 col-sm-6 paddingr-7">
<div class="form-group">             
 <select class="form-control" name="member" ng-model="user.company"   tooltip="Please choose company." 
          tooltip-placement="bottom" ng-change="changeaddress()">
    
    <option value="">Select Company </option>
    <option ng-repeat="(key,value) in companies" value="{{value._id}}">{{value.title}}</option>
  </select>
</div>
</div>

<div class="col-lg-6 col-md-6 col-sm-6 paddingl-7">
<div class="form-group">
 <select class="form-control" name="member" ng-model="user.companyaddress"   tooltip="Please choose company address." 
          tooltip-placement="bottom">
    <option value="">Select Comany Address </option>
    <option ng-repeat="(key,value) in companyaddress" value="{{key}}">{{value.street }} {{value.city }} {{value.state }} {{value.country| uppercase }} {{value.pin}}</option>
  </select>

</div>
</div>

</div> 



<div class="row register-form-row-pad">
<div class="col-lg-6 col-md-6 col-sm-6 paddingr-7">
<div class="form-group">             
 <select class="form-control" name="member" ng-model="user.member"   tooltip="Please choose member type." 
          tooltip-placement="bottom">
    
    <option value="">Select Member type </option>
    <option value="Family">Family </option>
    <option value="Family office">Family office</option>
    <option value="Nominee">Nominee
</option>
   
  </select>
</div>
</div>

<div class="col-lg-6 col-md-6 col-sm-6 paddingl-7">
<div class="form-group" ng-class="{'has-error':form.nominated.$error.required && submitted,'has-success':form.nominated.$valid && submitted}">
 <input type="text" required name="nominated" class="form-control" placeholder="Nominated by *" ng-model="user.nominated"
          tooltip="Please fill your nominated name." 
          tooltip-placement="bottom"
          tooltip-trigger="{{{true: 'focus', false: 'never'}[form.nominated.$error.required && submitted]}}"
 />
 <div class="error-massege"> 
<p class="text-danger" ng-show="form.nominated.$error.required && submitted">Please fill nominated name. </p>
</div>
</div>
</div>

</div> 


<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6 paddingr-7">
<div class="form-group">             
 <select class="form-control" name="interests" ng-model="user.interests" tooltip="Please choose interests." 
          tooltip-placement="bottom">

    <option value="">Select Interest </option>
    <option value="Topic listed in CMS">Topic listed in CMS </option>
    <option value="services listed in service directory">services listed in service directory</option>
    <option value="events type listed in events">events type listed in events</option>
   
  </select>
</div>
</div>

<div class="col-lg-6 col-md-6 col-sm-6 paddingl-7">
<div class="form-group">
 <input type="text" name="other" class="form-control" placeholder="Other " ng-model="user.other"
    tooltip="Please fill other detail." 
          tooltip-placement="bottom"
          />
</div>
</div>

</div> 
<div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="form-group" ng-class="{'has-error':form.password.$error.required && submitted,'has-success':form.password.$valid  && submitted }" >
                <input required type="password" name="password"  class="form-control" placeholder="password *" ng-model="user.password" ng-minlength=5 mongoose-error

          tooltip="Please fill your password." 
          tooltip-placement="bottom"
/>
                <div class="error-massege"> 
                <p class="text-danger" ng-show="form.password.$error.required && submitted">Please fill   Password.</p>
                
                <p class="text-danger" ng-show="form.password.$error.minlength && submitted">your password shoud be minimum 5 character long .</p>
                
                <p class="text-danger" ng-show="form.password.$error.mongoose">
                 {{ errors.password }}
                </p>
                </div>

              </div>
            </div>

</div>
<!-- <p><span>*</span> Admin will check the nominated by before approving membership;<br> 
   will also put family into a Wealth band (30m+, 5-30m, <5m)</p>
 -->

   <button class="btn btn-register btn-openid" type="submit" >
       <i class="fa fa-caret-right"></i>       
                        Register
                      </button>
        </form>
        </div>

<div class="gray-hr"></div>




</div>
<div class="col-lg-4 col-md-4 col-sm-4">
 <div ng-include="'partials2/right-nav.html'"> </div>
</div>

</div>
</div>
</div>
   
   </div>
