<div class="container">
  <div id="content-section">


    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">

        <div class="clearfix">
          <div class="breadcam-link">
            <div><i class="fa fa-home"></i><span> /</span> Register </div>
          </div> 

        </div>



        <div class="gray-hr"></div>


        <div class="inner-section">
         <h1>Register with us</h1> 
         <div class="register-form-hr"></div>
         <form class="register-form"  role="form" novalidate>
          <div class="row">
           <div class="form-group">
             <div class="col-lg-6 col-md-6 col-sm-6"><input required type="text" name="addr" id="addr" class="form-control" placeholder="Family Office / Family Name "/>

               <div class="error-massege"> <p class="massege-show">you name is must</p> </div>
             </div>

           </div>
         </div>


         <div class="row">
           <div class="form-group">
             <div class="col-lg-6 col-md-6 col-sm-6"><input required type="text" name="addr" id="addr" class="form-control" placeholder="Name "/>
               <div class="error-massege"> <p class="massege-hide">you name is must</p> </div>
             </div>
           </div>
         </div>


         <div class="row">
           <div class="form-group">
             <div class="col-lg-6 col-md-6 col-sm-6"><input required type="text" name="addr" id="addr" class="form-control" placeholder="Alias "/>
              <div class="error-massege"> <p class="massege-show ">you name is must</p> </div>
            </div>
            <div class="col-lg-3"> <button class="btn Check-availability btn-opp" type="button"> <i class="fa fa-caret-right"></i>   Check Availability </button></div>
          </div>
        </div>



        <div class="row register-form-row-pad">
          <div class="col-lg-4 col-md-4 col-sm-4 paddingr-7">
            <div class="form-group">

              <input required type="text" name="addr" id="addr" class="form-control" placeholder="Street Address *"/>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4 paddingr-7 paddingl-7">
            <div class="form-group">

              <select class="form-control" id="sel1">
                <option>City</option>
                <option>services listed in service directory</option>
                <option>events type listed in events
                </option>

              </select>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4 paddingl-7">
            <div class="form-group">

              <select class="form-control" id="sel1">
                <option>Country</option>
                <option>services listed in service directory</option>
                <option>events type listed in events
                </option>

              </select>
            </div>
          </div>

        </div>





        <div class="row ">
          <div class="col-lg-6 col-md-6 col-sm-6 paddingr-7">
            <div class="form-group">

              <input required type="text" name="addr" id="addr" class="form-control" placeholder="Email"/>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 paddingl-7">
            <div class="form-group">
              <input required type="text" name="addr" id="addr" class="form-control" placeholder="Phone / Mobile"/>
            </div>
          </div>

        </div> 





        <div class="row register-form-row-pad">
          <div class="col-lg-6 col-md-6 col-sm-6 paddingr-7">
            <div class="form-group">             
             <select class="form-control" id="sel1">
              <option>Member type </option>
              <option>services listed in service directory</option>
              <option>events type listed in events
              </option>

            </select>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 paddingl-7">
          <div class="form-group">
           <input required type="text" name="addr" id="addr" class="form-control" placeholder="Nominated by"/>
         </div>
       </div>

     </div> 


     <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 paddingr-7">
        <div class="form-group">             
         <select class="form-control" id="sel1">
          <option>Interests </option>
          <option>services listed in service directory</option>
          <option>events type listed in events
          </option>

        </select>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 paddingl-7">
      <div class="form-group">
       <input required type="text" name="addr" id="addr" class="form-control" placeholder="Other *"/>
     </div>
   </div>

 </div> 
 <p><span>*</span> Admin will check the nominated by before approving membership;
   will also put family into a Wealth band (30m+, 5-30m, <5m)</p>


   <button type="submit" class="btn btn-register btn-openid">
     <i class="fa fa-caret-right"></i> Register</button>
   </form>



 </div>  



 <div class="gray-hr"></div>




</div>
<div class="col-lg-4 col-md-4 col-sm-4">
  <div ng-include="'partials2/right-nav.html'"> </div>
</div>   
</div>

</div>
</div> <!-- /container -->
