<div class="container-fluid po-reletive">
<div class="container-head">
<div class="row">
<div class="pull-left">
<div class="mar-back-img">
<!-- Become a member section -->
<div class="tree-container-inner">
<div id="nav">
 <ul>
 <li><a href="/who-is-this-site-for" ng-class="{active: isActive('/who-is-this-site-for')}">Who</a></li> 
 <li><a href="/what-we-do" ng-class="{active: isActive('/what-we-do')}">what</a></li> 
 <li><a href="/who-we-are" ng-class="{active: isActive('/who-we-are')}">about</a></li> 
  <li><a href="/register" ng-class="{active: isActive('/register')}">join</a></li>  
 </ul> 
</div>
</div>
</div>
</div>


<div class="inner-section">
 <h1>Register with us</h1> 
<div class="register-form-hr"></div>
        <form class="register-form"  role="form"  name="form"  ng-submit="register(form)" novalidate>
        <div class="alert alert-success" role="alert" ng-show="registerDone">
            You are successfully register. For Login Please <a href="/login"><b>Click Here</b></a>
        </div>

        <div class="row">
           <div class="form-group" ng-class="{'has-error':form.fullname.$error.required && submitted,'has-success':form.fullname.$valid && submitted}">
           <div class="col-lg-6"><input required type="text" name="fullname" class="form-control" placeholder="Family Office / Family Name " ng-model="user.fullname"/>
           <p class="text-danger" ng-show="form.fullname.$error.required && submitted">Please fill FullName .</p>
       </div>
           </div>
           </div>


            <div class="row">
           <div class="form-group" ng-class="{'has-error':form.name.$error.required && submitted,'has-success':form.name.$valid && submitted}">
           <div class="col-lg-6">
           <input required type="text" name="name"  class="form-control" ng-model="user.name" placeholder="Name "/>
           <p class="text-danger" ng-show="form.name.$error.required && submitted">Please fill Name .</p>
</div>
           </div>
           </div>


          <div class="row">
           <div class="form-group" ng-class="{'has-error': form.username.$error.required && submitted,'has-success':form.username.$valid && submitted}">
           <div class="col-lg-6"><input required type="text" name="username" class="form-control" placeholder="Alias " ng-model="user.username" ng-keyup="checkUsername(form)"/>
            <p class="text-danger" ng-show="form.username.$error.required && submitted && !form.username.$error.mongoose" >Please fill your alias name.</p>
            <p class="text-danger" ng-show="form.username.$error.mongoose">
            {{ errors.username }}
           </p>
           <p class="text-success" ng-show="checkmessage">
            {{ checkmessage }}
           </p>
           
</div>
<div class="col-lg-3"> <button class="btn Check-availability" type="button" id="checkmessage" ng-click="checkUsername(form)" ng-disabled="checkusername">   Check Availability </button></div>
           </div>
           </div>



<div class="row register-form-row-pad">
<div class="col-lg-4 paddingr-7">
<div class="form-group"  ng-class="{'has-error':form.address.$error.required && submitted,'has-success':form.address.$valid && submitted}">
              
<input required type="text" name="address" ng-model="user.address.street" class="form-control" placeholder="Street Address *"/>
<p class="text-danger" ng-show="form.address.$error.required && submitted">Please fill Street Address .</p>

 </div>
</div>

<div class="col-lg-4 paddingr-7 paddingl-7">
<div class="form-group">
<input type="text" name="city" ng-model="user.address.city" class="form-control" placeholder="City"/>

   </div>
</div>

<div class="col-lg-4 paddingl-7">
<div class="form-group">
<input type="text" name="country" ng-model="user.address.country" class="form-control" placeholder="Country"/>
  </div>
</div>

</div>

<div class="row ">
<div class="col-lg-6 paddingr-7">
<div class="form-group" ng-class="{'has-error':form.email.$error.required && submitted,'has-success':form.email.$valid && submitted}">
   <input required type="email" validateEmail name="email"  class="form-control" placeholder="Email" ng-model="user.email" mongoose-error/>
   <p class="text-danger" ng-show="form.email.$error.required  && submitted">Please fill Email .</p>
   <p class="text-danger" ng-show="form.email.$error.email && submitted">
                  Doesn't look like a valid email.
              </p>
   <p class="text-danger" ng-show="form.email.$error.mongoose">
    {{ errors.email }}
   </p>
   </div>
</div>

<div class="col-lg-6 paddingl-7">
<div class="form-group" ng-class="{'has-error':form.phone.$error.required && submitted,'has-success':form.phone.$valid && submitted}">
              <input required type="text" name="phone" class="form-control" placeholder="Phone / Mobile" ng-model="user.phone"/>
              <p class="text-danger" ng-show="form.phone.$error.required && submitted">Please fill Phone/Mobile.</p>
           </div>
</div>

</div> 





<div class="row register-form-row-pad">
<div class="col-lg-6 paddingr-7">
<div class="form-group">             
 <select class="form-control" name="member" ng-model="user.member">
    <option>Member type </option>
    <option>services listed in service directory</option>
    <option>events type listed in events
</option>
   
  </select>
</div>
</div>

<div class="col-lg-6 paddingl-7">
<div class="form-group">
 <input type="text" name="nominated" class="form-control" placeholder="Nominated by" ng-model="user.nominated"/>
</div>
</div>

</div> 


<div class="row">
<div class="col-lg-6 paddingr-7">
<div class="form-group">             
 <select class="form-control" name="interests" ng-model="interests">
    <option>Interests </option>
    <option>services listed in service directory</option>
    <option>events type listed in events
</option>
   
  </select>
</div>
</div>

<div class="col-lg-6 paddingl-7">
<div class="form-group">
 <input type="text" name="other" class="form-control" placeholder="Other " ng-model="user.other" />
</div>
</div>

</div> 
<div class="row">
              <div class="col-lg-6">
              <div class="form-group" ng-class="{'has-error':form.password.$error.required && submitted,'has-success':form.password.$valid  && submitted }" >
                <input required type="password" name="password"  class="form-control" placeholder="password" ng-model="user.password" ng-minlength=5 mongoose-error/>
                <p class="text-danger" ng-show="form.password.$error.required && submitted">Please fill   Password.</p>
                
                <p class="text-danger" ng-show="form.password.$error.minlength && submitted">your password shoud be minimum 5 character long .</p>
                
                <p class="text-danger" ng-show="form.password.$error.mongoose">
                 {{ errors.password }}
                </p>

              </div>
            </div>

</div>
<p><span>*</span> Admin will check the nominated by before approving membership;<br> 
   will also put family into a Wealth band (30m+, 5-30m, <5m)</p>


   <button class="btn register-bt" type="submit" >
              
                        Register
                      </button>
        </form>

</div>  


</div>
</div>

<!-- /container -->
<div class="register-pen"><img src="images/register-pen.png" alt=""></div>


</div>
