 <div id="right-sidebar">
  <div class="login-box">
   <h2><span><img src="images/mail-icon.jpg" alt=""></span>Register for Our Newsletter</h2>
   <p>Lorem ipsum dolor amet, consecr adipisicing elit, eiusmod tempor labore dolore magna. aliqua.</p>
   <form class="form-signin clearfix">
    <input type="text" class="form-control" placeholder="Email" required autofocus>
    <input type="password" class="form-control" placeholder="Password" required>

    
    <div class="pull-right">
      <button class="btn btn-register btn-openid" type="submit">
       <i class="fa fa-caret-right"></i> Register</button>
     </div>
     
   </form>
 </div> 
 <div id="upcomming-event">
  <h1>Upcoming Events</h1>
  <ul>
    <li><a href="#">Indian Family Wealth Forum 2015</a></li> 
    <li><a href="#">Asian Wealth Management Forum 2015</a></li>  
    <li><a href="#">Thailand Wealth Management Forum 2015</a></li>  
    <li><a href="#">Philippines Wealth Management Forum</a></li>   
  </ul>
</div>


<div id="latestdiscussions">
  <h1>Latest Discussions</h1>
  <ul>
    <li>
      <article class="entry-item">
        <div class="entry-thumb">
         <a href="#"><img alt="" class="img-responsive" src="images/dis-img001.jpg"></a></div>
         <!-- end:entry-thumb -->
         <div class="entry-content clearfix">
          
          <div class="entry-title"> 
            <h2><a href="#">Tony Vidler </a></h2>
            <p>@Antonia Ruffell  </p>
          </div>                                        
          <div class="date">21March</div>    
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        </p>
        <!-- end:entry-content -->
      </article>  
    </li> 

    <li>
      <article class="entry-item">
        <div class="entry-thumb">
         <a href="#"><img alt="" class="img-responsive" src="images/dis-img001.jpg"></a></div>
         <!-- end:entry-thumb -->
         <div class="entry-content clearfix">
          
          <div class="entry-title"> 
            <h2><a href="#">Tony Vidler </a></h2>
            <p>@Antonia Ruffell  </p>
          </div>                                        
          <div class="date">21March</div>    
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        </p>
        <!-- end:entry-content -->
      </article>  
    </li> 

    <li>
      <article class="entry-item">
        <div class="entry-thumb">
         <a href="#"><img alt="" class="img-responsive" src="images/dis-img001.jpg"></a></div>
         <!-- end:entry-thumb -->
         <div class="entry-content clearfix">
          
          <div class="entry-title"> 
            <h2><a href="#">Tony Vidler </a></h2>
            <p>@Antonia Ruffell  </p>
          </div>                                        
          <div class="date">21March</div>    
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        </p>
        <!-- end:entry-content -->
      </article>  
    </li>  

    <li>
      <article class="entry-item">
        <div class="entry-thumb">
         <a href="#"><img alt="" class="img-responsive" src="images/dis-img001.jpg"></a></div>
         <!-- end:entry-thumb -->
         <div class="entry-content clearfix">
          
          <div class="entry-title"> 
            <h2><a href="#">Tony Vidler </a></h2>
            <p>@Antonia Ruffell  </p>
          </div>                                        
          <div class="date">21March</div>    
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        </p>
        <!-- end:entry-content -->
      </article>  
    </li>    
  </ul>
</div>


</div>