<!-- <div class="sidebar" role="navigation" ng-controller="NavbarCtrl ">
	<ul>
		<li><a  href="/articles/01"  ng-class="{active:isActive('/articles/01')}">LEARN</a></li>
		<li><a  ng-if="currentUser.role !='user'" href="/share" ng-class="{active:isActive('/share')}">SHARE </a></li>
		<li><a ng-class="{active:isActive('/discussion-listing')}" href="/discussion-listing">DISCUSSION </a></li>
		<li><a  ng-class="{active:isActive('/connect')}" href="/connect">CONNECT</a></li>
		<li><a ng-class="{active:isActive('/meet')}" href="/meet">MEET</a></li>
	</ul>
</div>    --> 


				<div id="right-sidebar" ng-controller="NavbarCtrl">
					<div class="login-box">
						<h2><span><img src="images/mail-icon.jpg" alt=""></span>Register for Our Newsletter</h2>
						<p>Lorem ipsum dolor amet, consecr adipisicing elit, eiusmod tempor labore dolore magna. aliqua.</p>
						<form class="form-signin clearfix" action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=MaddyzoneTechBlog', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
							<input type="text" name="email" value="Enter your e-mail address" onfocus="if (this.value == 'Enter your e-mail address') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Enter your e-mail address';}" class="form-control" placeholder="Enter your e-mail address"  autofocus>
               <input type="hidden" value="MaddyzoneTechBlog" name="uri">
 						   <input type="hidden" name="loc" value="en_US">
 
							<div class="pull-right">
								<button class="btn btn-register btn-openid" name="Submit" type="submit">
									<i class="fa fa-caret-right"></i> Register</button>
								</div>

							</form>



						</div> 
						<div id="upcomming-event">
							<h1>Upcoming Events</h1>
							<ul>

							<li ng-repeat="(key,value) in pineventlist"><a ng-href="/event/view/{{value._id}}">{{value.title}}</a></li> 
						
							</ul>
						</div>


						<div id="latestdiscussions">
							<h1>Latest Discussions</h1>
							<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/RatanRituraj" data-widget-id="593275119876734976">Tweets by @RatanRituraj</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
										</div>


									</div> 