<!--				<div id="right-sidebar" ng-controller="NavbarCtrl">

						  <div class="editor-box">
   <div class="from-editor">
   <h2>From <br>
<span>the Editor’s</span><br>
Desk</h2>
</div>
  <div><img src="images/hansi_img.jpg" class="img-responsive" alt=""></div>
  </div>
<div id="upcomming-news">

<ul>
<!-- <li ng-repeat="hansiArticle in hansiArticles | limitTo:4"> -->
<!--<li ng-repeat="hansiArticle in hansiArticles">
<article class="entry-item">
  <div class="entry-thumb" ng-if='hansiArticle.media.extension.indexOf("image") > -1'>
   <a ng-href="/articles/view/{{hansiArticle._id}}"`>
    <img ng-if="!hansiArticle.media.path" ng-src="images/{{mmicategorysetting[hansiArticle.mmicategory].main-image}}" class="img-responsive" title="{{hansiArticle.title}}">

          <img ng-if="hansiArticle.media.path" ng-src="../{{hansiArticle.media.path}}" title="{{hansiArticle.title}}" class="img-responsive">
   </a>
   </div>
     <!-- end:entry-thumb -->
<!--  <div class="clearfix" ng-class="{'entry-content' : (hansiArticle.media.extension.indexOf('image') < 0)} ">
  <div class="entry-title">
  <h2><a ng-href="/articles/view/{{hansiArticle._id}}">{{hansiArticle.title}}</a></h2>
	<p ng-bind-html="hansiArticle.description | limitTo:400 | rawHtml"></p>
  </div>
  </div>
 <!-- end:entry-content -->
<!--</article>
</li>

</ul>
</div>
						<div id="upcomming-event">
							<h1>Upcoming Events</h1>
							<ul>

							<li ng-repeat="(key,value) in pineventlist track by $index" ng-if="value"><a ng-href="/event/view/{{value._id}}">{{value.title}} -- {{ value.eventdate | date:"d-MMMM-yyyy" }}</a></li>

							</ul>
						</div>


						<!-- <div id="latestdiscussions"> -->
						<!--<div id="upcomming-event">
							<h1>Latest Discussions</h1>
							<ul>
								<li ng-repeat="(key,value) in pindiscussionslist"><a ng-href="/discussion-start?cid={{value.cid}}">{{value.title}} -- {{ value.topic }}</a></li>
								</ul>
							</div>


									</div>

-->
									<!-- new -->
									<!--right nav-->
									<div class="col-md-4 col-sm-12 pad-left-slidebar" ng-controller="NavbarCtrl">

									  <div id="discussion-nav">
									  <h2>Discussions</h1>
											 <ul>
													<li ng-repeat="(key,value) in pindiscussionslist | limitTo:2"><a ng-href="/discussion-start?cid={{value.cid}}">#{{value.title}}</a></li>
											 </ul>
									</div>

									<div id="event-nav">
									<h2>Upcoming LiveEvent</h2>
									 <ul>
									 <li  ng-repeat="(key,value) in pineventlist track by $index" ng-if="value">
									 <div class="clearfix">
									 <div class="event-icon"><img ng-src="images/{{value.type}}.png" alt=""></div>
									 <div class="event-content">
									  <h4><a href="/event/view/{{value._id}}">{{value.title}} </a></h4>
									  <p>{{ value.eventdate | date:"d-MMMM-yyyy" }}</p>
									 </div>
									 </div>
									 </li>
									 </ul>
									</div>
									</div>
									<!--end-->
