<div class="container-fluid po-reletive">
<div class="container-head">
<div class="row">
<div class="pull-left">
<div class="mar-back-img">
<!-- Become a member section -->
<div class="tree-container-inner">
<div id="nav">
 <ul>
 <li><a href="/who-is-this-site-for" ng-class="{active: isActive('/who-is-this-site-for')}">Who</a></li> 
 <li><a href="/what-we-do" ng-class="{active: isActive('/what-we-do')}">what</a></li> 
 <li><a href="/who-we-are" ng-class="{active: isActive('/who-we-are')}">about</a></li> 
  <li><a href="/register" ng-class="{active: isActive('/register')}">join</a></li>  
 </ul> 
</div>
</div>
</div>
</div>


<div class="inner-section">
 <h1>Register with us</h1> 
<div class="register-form-hr"></div>
        <p> Your Email Verification Done Successfully !!!  Now Please <a href="/login">Login</a></p>

</div>  


</div>
</div>

<!-- /container -->
<div class="register-pen"><img src="images/register-pen.png" alt=""></div>


</div>
