<div class="container" ng-controller="NotificationCtrl">
	<div id="content-section">
 		<div class="notification-section" ng-if="type=='register'">
			<div class="modal-header">
        <h4 class="modal-title">Email Verification</h4>
        </div>
			<div class="inner-part">
 				<div class="notification"> <p>Your email verification done successfully.Now please wait for admin approval. </p>
			</div>
	<!-- 	<div class="cuntinue-bt"><button class="btn btn-register btn-openid" type="submit">
  <i class="fa fa-caret-right"></i> Continue</button></div> -->
  </div>
</div>
</div> <!-- /container -->
</div>
