<div class="container-head learning-section">

<div class="row mar-row45">
<div class="col-lg-9 col-md-9 col-sm-9">
  <ul class="breadcrumb">
        <li><a href="/home"><i class="fa fa-home fa-lg"></i></a></li>
        <li class="active">SHARE</li>
      </ul>
    </div>  
    <div class="col-lg-3 col-md-3 col-sm-3">
      <div class="row ">
        <div class="col-lg-12 ">
          <div class="form-group">
           <input required="" type="text" name="addr" id="addr" class="form-control" placeholder="search">
         </div>
       </div>

     </div>
   </div> 

 </div>


 <div class="row">
  <div class="col-lg-9 col-md-9 col-sm-9">
    <div class="alert alert-success" ng-if="currentUser.role == 'admin'">
      You are admin better you do it from admin panel.
    </div>

    <div class="submit-articale-section">
     <h1>Submit Your Article</h1> 
     <div class="register-form-hr"></div>
     <form novalidate  name="form" role='form' enctype= 'multipart/form-data' ng-hide="articleDone" >
      <div class="dashboard-section">
        <div class="row register-form-row-pad">
          <div class="col-lg-7 paddingr-7">  
            <div class="form-group" ng-class="{'has-error':form.title.$dirty && form.title.$error.required,'has-success':form.title.$valid}">
              <input type="text" class="form-control" name="title" placeholder="Title"  ng-model="article.title" required ng-minlength=5>
              <p class="text-danger" ng-show="form.title.$dirty && form.title.$error.required">Please fill title.</p>
              <p class="text-danger" ng-show="form.title.$dirty && form.title.$error.minlength">your title shoud be minimum 5 character long .</p>
              <p class="text-danger" ng-show="form.title.$error.mongoose">{{ errors.title }} </p>

            </div>
          </div>

          <div class="col-lg-3  paddingl-7">
            <div class="form-group">
              <select ng-model="article.category" ng-options="o as o for o in category" placeholder="choose category"></select>
            </div>
          </div>

        </div>
        <div class="row ">
          <div class="col-lg-10">

            <div class="form-group" ng-class="{'has-error':form.description.$dirty && form.description.$error.required,'has-success':form.description.$valid}">
              <label class="control-label" for="description">Description</label>
              <text-angular class="rituraj"  name="description" ng-model="article.description" required ng-minlength=20 ta-toolbar="[ ['h1', 'h2','quote','insertLink'],['bold', 'italics', 'underline', 'strikeThrough'],['justifyLeft','justifyCenter','justifyRight'],['ul', 'ol'],['insertImage', 'insertVideo']]"> </text-angular>

             <p class="text-danger" ng-show="form.description.$dirty && form.description.$error.required">Please fill description.</p>
              <p class="text-danger" ng-show="form.description.$dirty && form.description.$error.minlength">your description shoud be minimum 20 character long .</p>
              <p class="text-danger" ng-show="form.description.$error.mongoose">{{ errors.description }} </p>
            </div>
          </div>
        </div>
    </div>
<br/>

<button  class='btn register-bt' ng-disabled="!form.$valid" ng-click="saveArticle(form)" >Add</button> 
 </form>

     <p ng-show="articleDone"><span>*</span> Thank you for contribution. your article will be moderated by the admin.we will notify you shortly.</p>
     <br></br>

     <div class="row" >
      <div class="preview-area">  
        <div class="preview-eye"><i class="fa fa-eye"></i> Preview</div>  
        <div class="preview-shadow">  

          <h1>{{article.title}}</h1>
          <div class="green-hr"></div>
          <div class= "articleview">

            <!-- <img src="images/learn-img.png" class="pull-right" alt=""> -->
            <div  class="pull-right">
              <img src="images/articels001.jpg"  title="{{article.title}}" ng-show="mainFIle[0].dataUrl == null" class="img-responsive"> 

              <img  ng-show="mainFIle[0].dataUrl != null" ng-src="{{mainFIle[0].dataUrl}}" >


            </div>

            <p>{{article.createdAt | date:"MMMM d, yyyy" }}</p>
            <p ng-bind-html="article.description | rawHtml"></p>
          </div>

        </div>
      </div>

    </div>  

  </div>
</div>

  <div class="col-lg-3 col-md-3 col-sm-3">
    <div ng-include="'partials2/right-nav.html'"> </div>
  </div>
</div>
</div>