
<div class="container-head learning-section">

  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-9">
      <ul class="breadcrumb">
        <li><a href="/home"><i class="fa fa-home fa-lg"></i></a></li>
        <li class="active">LEARN</li>
      </ul>
    </div>  
   </div>
 <div class="row">
  <div class="col-lg-9 col-md-9 col-sm-9">
    <h1>Edit Article</h1>
    <form novalidate  name="form" role='form' enctype= 'multipart/form-data'>
      <div class="dashboard-section">
        <div class="alert alert-success" role="alert" ng-show="updateStatus">
         You have successfully updated your Article see article here  <a ng-href="/articles/view/{{article._id}}"><b>Click Here</b></a>
       </div>
       <div class="alert alert-success" role="alert" ng-show="deleteStatus">
         You have successfully deleted your Article. Go to your Articles <a href="/myarticles/01"><b>Click Here</b></a>
       </div>
       <div class="row register-form-row-pad">
        <div class="col-lg-9 col-md-9 col-sm-9 paddingr-7"> 
          <div class="form-group" ng-class="{'has-error':form.title.$dirty && form.title.$error.required,'has-success':form.title.$valid}">
            <!-- <label class="control-label" for="title">Title</label> -->
            <input type="text" class="form-control" name="title" ng-model="article.title" required ng-minlength=5>
            <p class="text-danger" ng-show="form.title.$dirty && form.title.$error.required">Please fill title.</p>
            <p class="text-danger" ng-show="form.title.$dirty && form.title.$error.minlength">your title shoud be minimum 5 character long .</p>
            <p class="text-danger" ng-show="form.title.$error.mongoose">{{ errors.title }} </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-3  paddingl-7">
          <div class="form-group">
            <select class="form-control" ng-model="article.category" ng-options="o as o for o in category" placeholder="choose category"></select>
          </div>
        </div>

      </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">  
            <div class="form-group">
              <select  class="form-control" name="mmicategory" ng-model="article.mmicategory" ng-change="changemmicategory()">
               <option value=""> ---Select MMI Category--- </option>
               <option ng-repeat="(key,value) in mmicategory" value="{{value.name}}" ng-selected="article.mmicategory == value.name">{{value.name}}</option>
              </select>

            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="form-group">
                <select  class="form-control" name="mmisubcategory" ng-model="article.mmisubcategory" >
                  <option value=""> ---Select MMI Sub Category--- </option>
                  <option ng-repeat="(key,value) in mmisubcategory" value="{{value.name}}" ng-selected="article.mmisubcategory == value.name">{{value.name}}</option>
                </select>
            </div>

          </div>

        </div>
       <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">  
        <label>Show on 1 column or 2</label>          
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">  

          <select  class="form-control" ng-model="article.column" ng-options="o as o for o in column" placeholder="Choose Column"></select>
          
      </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">  

          <label>Posted By Experts</label>          
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">  

          <select  class="form-control" ng-model="article.author" ng-options="o._id as o.name for o in experts " placeholder="Choose Expert"></select>
          
      </div>
</div>

<div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="article.createdAt" is-open="opened" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
    </div>

 
      <div class="row ">
        <div class="col-lg-12 col-md-12 col-sm-12" >    

          <div class="form-group" ng-class="{'has-error':form.description.$dirty && form.description.$error.required,'has-success':form.description.$valid}">
            <label class="control-label" for="description">Description</label>
            <text-angular class="rituraj" name="description" ng-model="article.description" required ng-minlength=20 ta-toolbar="[ ['h1', 'h2','quote','insertLink'],['bold', 'italics', 'underline', 'strikeThrough'],['justifyLeft','justifyCenter','justifyRight'],['ul', 'ol'],['insertImage', 'insertVideo']]"> </text-angular>

            <p class="text-danger" ng-show="form.description.$dirty && form.description.$error.required">Please fill description.</p>
            <p class="text-danger" ng-show="form.description.$dirty && form.description.$error.minlength">your description shoud be minimum 20 character long .</p>
            <p class="text-danger" ng-show="form.description.$error.mongoose">{{ errors.description }} </p>
          </div>

        </div>
      </div>



      <div class="row ">
        <div class="col-lg-10 col-md-10 col-sm-10">    

          <div class="form-group">
           <label class="control-label" for="fullName">Media </label>
           <a ng-click="removeMedia()" ng-show='article.media'>Remove Media</a> 
           <div ng-show='!article.media' >
             <!-- <input type="file" ng-file-select="" ng-model="picFile" name="files" name="file" accept="image/*"  ng-model-instant id="fileToUpload" multiple onchange="angular.element(this).scope().setFiles(this)" /> -->
             <input type="file" ng-file-select="" ng-model="picFile" name="files" name="file"  ng-model-instant id="fileToUpload" multiple onchange="angular.element(this).scope().setFiles(this)" />
             <i class="text-danger" ng-show="form.file.$error.required">*required</i>
             <br/>
             <!-- <img ng-show="mainFIle[0].dataUrl != null" ng-src="{{mainFIle[0].dataUrl}}" class="thumb" style="height:100px;width: 100px">   -->
             <br/>
             <span class="progress" ng-show="mainFIle[0].progress >= 0">    
              <div style="width:{{mainFIle[0].progress}}%" ng-bind="mainFIle[0].progress + '%'" class="ng-binding"></div>
            </span> 
            <span ng-show="mainFIle[0].result">Upload Successful</span>

          </div>

          <div ng-show='article.media && article.media.extension.indexOf("image") > -1'>
            <img ng-show="!article.media.path" src="images/articels001.jpg"  title="{{article.title}}" class="img-responsive"> 

            <img ng-show="article.media.path"  ng-src="../{{article.media.path}}" title="{{article.title}}" class="img-responsive">
          </div>
          <div ng-show='article.media && article.media.extension.indexOf("video") > -1' class="">
            <videogular vg-theme='config.theme' >
             <vg-media 
             vg-src="config.sources" 
             vg-native-controls="true"  >
           </vg-media>
         </videogular>
       </div>
     </div>

   </div>
 </div>

 <div class="row " ng-show='article.thumblemedia || videoupload'>
        <div class="col-lg-10 col-md-10 col-sm-10">    

          <div class="form-group">
           <label class="control-label" for="fullName">Thumble </label>
           <a ng-click="removeThumble()" ng-hide="videoupload" >Remove Thumble</a> 
           <div ng-show='!article.thumblemedia' >
             <input type="file" ng-file-select="" ng-model="thumblePicFile"  name="thumblefiles"  ng-model-instant  onchange="angular.element(this).scope().setThumbleFiles(this)" />

             <span class="progress" ng-show="thumbleFile[0].progress >= 0">    
              <div style="width:{{thumbleFile[0].progress}}%" ng-bind="thumbleFile[0].progress + '%'" class="ng-binding"></div>
            </span> 
            <span ng-show="thumbleFile[0].result">Upload Successful</span>

          </div>

          <div ng-show='article.thumblemedia && article.thumblemedia.extension.indexOf("image") > -1'>
            <img ng-show="!article.thumblemedia.path" src="images/articels001.jpg"  title="{{article.title}}" class="img-responsive"> 

            <img ng-show="article.thumblemedia.path"  ng-src="../{{article.thumblemedia.path}}" title="{{article.title}}" class="img-responsive">
          </div>
          <div ng-show='article.thumblemedia && article.thumblemedia.extension.indexOf("video") > -1' class="">
            <videogular vg-theme='config.theme' >
             <vg-media 
             vg-src="config.sources" 
             vg-native-controls="true"  >
           </vg-media>
         </videogular>
       </div>
     </div>

   </div>
 </div>

        <!-- <div class="form-group">
                <label for="tags">Tags</label>
                <div tooltip="Add about three to four tags for better discoveribility of your article">
                <tags-input
                     display-property=""
                     class="tags-input"
                     min-tags="1"
                     ng-model="article.tags"
                     placeholder="Add a tag and press enter (min length 3 characters)"
                     replace-spaces-with-dashes="false">
                </tags-input>
                </div>
          </div>
        -->        

        <br/>

        <button ng-show="filearticle" class='btn btn-success' ng-disabled="!form.$valid" ng-click="uploadPic(mainFIle)" >Update</button> 
        <button ng-hide="filearticle" class='btn btn-success' ng-disabled="!form.$valid" ng-click="updateArticle(form)" >Update</button> 
        <a  href="/articles/01" class='btn btn-warning'>Cancel</a> 
        <button ng-click="remove(form)" class='btn btn-danger'>Delete</button> 
        <!-- <button class='btn register-bt' ng-click=" preview = !preview " >Preview</button>  -->
        <br/>
        <br/>

        <!-- <div class="row" ng-show="preview" > -->
      <div class="row" >
<div class="preview-outer">
<div class="preview-area">  
<div class="preview-eye"><i class="fa fa-eye"></i> Preview</div>  
<div class="preview-shadow">  
            <h1>{{article.title}}</h1>
            <div class="green-hr"></div>
            <div class= "articleview">

              <!-- <img src="images/learn-img.png" class="pull-right" alt=""> -->
              <div ng-show="!filearticle">
                <div ng-if='!article.media' class="col-lg-7 col-md-7 col-sm-7 pull-right mar-img-l">
                  <img src="images/articels001.jpg"  title="{{article.title}}" class="img-responsive"> 

                </div>
                <div ng-show='article.media && article.media.extension.indexOf("image") > -1' class="col-lg-7 col-md-7 col-sm-7 pull-right mar-img-l">
                  <img ng-show="!article.media.path" src="images/articels001.jpg"  title="{{article.title}}" class="img-responsive"> 

                  <img ng-show="article.media.path"  ng-src="../{{article.media.path}}" title="{{article.title}}" class="img-responsive">
                </div>
                <div ng-show='article.media && article.media.extension.indexOf("video") > -1' class="col-lg-7 col-md-7 col-sm-7 pull-right mar-img-l">
<!--         <videogular vg-theme='config.theme' >
          <vg-media 
          vg-src="config.sources" 
          vg-native-controls="true"  >
        </vg-media>
      </videogular> -->
      <img ng-show="article.media.path"  ng-src="images/video-play.png" title="{{article.title}}" class="img-responsive">

    </div>
  </div>

  <div ng-show="filearticle">
    <div  class="col-lg-7 col-md-7 col-sm-7 pull-right mar-img-l">

<!--       <img src="images/articels001.jpg"  title="{{article.title}}" ng-show="articletype == 'video' " class="img-responsive"> 
 -->
      <!-- <img  ng-show="articletype == 'image'" ng-src="{{mainFIle[0].dataUrl}}" class="img-responsive" > -->


    </div>

<!--     <div ng-show='mainFIle && mainFIle[0].type.indexOf("image") > -1' class="col-lg-7 col-md-7 col-sm-7 pull-right mar-img-l">
          <img ng-show="mainFIle[0].dataUrl"  ng-src="../{{mainFIle[0].dataUrl}}" title="{{article.title}}" class="img-responsive">
      </div>

    <div ng-show='mainFIle && mainFIle[0].type.indexOf("video") > -1' class="col-lg-7 col-md-7 col-sm-7 pull-right mar-img-l">
        <img  ng-src="images/video-play.png" title="{{article.title}}" class="img-responsive">
    </div>
 -->
    


  </div>

  <p>{{article.createdAt | date:"MMMM d, yyyy" }}</p>
  <p ng-bind-html="article.description | rawHtml"></p>
</div>
</div>

</div>
</div>
</div>


</form>
</div>
</div>

<div class="col-lg-3 col-md-3 col-sm-3">
  <div ng-include="'partials2/right-nav.html'"> </div>
</div>
</div>
</div>
