<div class="container-head learning-section">

  <div class="row">
    <div class="col-lg-9">
      <ul class="breadcrumb">
        <li><a href="/home"><i class="fa fa-home"></i></a></li>
        <li class="active">learn</li>
      </ul>
    </div>  
    <div class="col-lg-3">
      <div class="row ">
        <div class="col-lg-12 ">
          <div class="form-group">
           <input required="" type="text" name="addr" id="addr" class="form-control" placeholder="search">
         </div>
       </div>

     </div>
   </div> 

 </div>
  <div class="row">
    <div class="col-lg-9">
    <h1>Edit Article</h1>
    <form novalidate  name="form" role='form'>
      <div class="dashboard-section">
        <div class="alert alert-success" role="alert" ng-show="updateStatus">
         You have successfully updated your Article see article here  <a ng-href="/articles/view/{{article._id}}"><b>Click Here</b></a>
        </div>
         <div class="alert alert-success" role="alert" ng-show="deleteStatus">
         You have successfully deleted your Article. Go to your Articles <a href="/myarticles/01"><b>Click Here</b></a>
        </div>

        <div class="form-group" ng-class="{'has-error':form.title.$dirty && form.title.$error.required,'has-success':form.title.$valid}">
          <label class="control-label" for="title">Title</label>
          <input type="text" class="form-control" name="title" ng-model="article.title" required ng-minlength=5>
          <p class="text-danger" ng-show="form.title.$dirty && form.title.$error.required">Please fill title.</p>
          <p class="text-danger" ng-show="form.title.$dirty && form.title.$error.minlength">your title shoud be minimum 5 character long .</p>
          <p class="text-danger" ng-show="form.title.$error.mongoose">{{ errors.title }} </p>
        </div>

        <div class="form-group" ng-class="{'has-error':form.description.$dirty && form.description.$error.required,'has-success':form.description.$valid}">
          <label class="control-label" for="description">Description</label>
           <text-angular  name="description" ng-model="article.description" required ng-minlength=20> </text-angular>

          <p class="text-danger" ng-show="form.description.$dirty && form.description.$error.required">Please fill description.</p>
          <p class="text-danger" ng-show="form.description.$dirty && form.description.$error.minlength">your description shoud be minimum 20 character long .</p>
          <p class="text-danger" ng-show="form.description.$error.mongoose">{{ errors.description }} </p>
        </div>

        <!-- <div class="form-group">
                <label for="tags">Tags</label>
                <div tooltip="Add about three to four tags for better discoveribility of your article">
                <tags-input
                     display-property=""
                     class="tags-input"
                     min-tags="1"
                     ng-model="article.tags"
                     placeholder="Add a tag and press enter (min length 3 characters)"
                     replace-spaces-with-dashes="false">
                </tags-input>
                </div>
          </div>
 -->        </div>
        
        <br/>
  <div class="form-group">
              <select ng-model="article.category" ng-options="o as o for o in category" placeholder="choose category"></select>
            </div>
<br/>
        <button ng-click="updateArticle(form)" class='btn btn-success'>Save</button> 
        <a  href="/articles/01" class='btn btn-warning'>Cancel</a> 
        <button ng-click="remove(form)" class='btn btn-danger'>Delete</button> 
        <button class='btn register-bt' ng-click=" preview = !preview " >Preview</button> 
         <br/>
        <br/>

        <div class="row" ng-show="preview" >
  <div class="col-lg-10 preview">
  
    <h1>{{article.title}}</h1>
    <div class="green-hr"></div>
    <div class= "articleview">

      <!-- <img src="images/learn-img.png" class="pull-right" alt=""> -->
      <div ng-if='!article.media' class="pull-right">
        <img src="images/articels001.jpg"  title="{{article.title}}" class="img-responsive"> 

      </div>
      <div ng-show='article.media && article.media.extension.indexOf("image") > -1' class="pull-right">
        <img ng-show="!article.media.path" src="images/articels001.jpg"  title="{{article.title}}" class="img-responsive"> 

        <img ng-show="article.media.path"  ng-src="../{{article.media.path}}" title="{{article.title}}" class="img-responsive">
      </div>
      <div ng-show='article.media && article.media.extension.indexOf("video") > -1' class="pull-right">
        <videogular vg-theme='config.theme' >
          <vg-media 
          vg-src="config.sources" 
          vg-native-controls="true"  >
        </vg-media>
      </videogular>
    </div>

    <p>{{article.createdAt | date:"MMMM d, yyyy" }}</p>
    <p ng-bind-html="article.description | rawHtml"></p>
</div>

</div>
</div>


      </form>
    </div>
  <div class="col-lg-3">
  <div ng-include="'partials2/right-nav.html'"> </div>
</div>
  </div>
</div>
