<div class="container page">
	<div class="row">
		<div class="col-lg-9">

			<div class="submit-articale-section">
				<h1>Upload User (first upload xlsx format file )</h1> 
				<div class="register-form-hr"></div>
				<form novalidate  name="form" role='form' enctype= 'multipart/form-data' class="">
						<div class="row register-form-row-pad">
							<div class="col-lg-12 col-md-12 col-sm-12 paddingr-7">  
								<div class="form-group">
									<label class="control-label" for="fullName">Media </label>
									<!-- <input type="file" ng-file-select="" ng-model="picFile" name="files" name="file" accept="image/*"  ng-model-instant id="fileToUpload" multiple onchange="angular.element(this).scope().setFiles(this)" /> -->
									<input type="file" ng-file-select="" ng-model="picFile" name="files"   ng-model-instant id="fileToUpload" multiple onchange="angular.element(this).scope().setFiles(this)" />
									<i class="text-danger" ng-show="form.file.$error.required">*required</i>
									<span class="progress" ng-show="mainFIle[0].progress >= 0">    
										<div style="width:{{mainFIle[0].progress}}%" ng-bind="mainFIle[0].progress + '%'" class="ng-binding"></div>
									</span> 
									<span ng-show="mainFIle[0].result">Upload Successful</span>
									</div>

								<button  ng-show="filearticle && !loaddata"  class='btn btn-primary' ng-disabled="!form.$valid" ng-click="uploadPic(mainFIle)" >Add <i class="fa fa-angle-right"></i></button>

								<button ng-show="setdata" class='btn btn-primary'  ng-click="uploadCompany()" >Save Company <i class="fa fa-angle-right"></i></button>


								</div>
								</div> 
							</form>
							<div ng-show="loaddata">
								<h1>  Total Companies  </h1>
								<table class="table">
									<thead>
										<tr>
												<th rowspan="2">Name</th><th colspan="3"> Firm</th><th rowspan="2">Services</th><th colspan="6">Office1</th><th colspan="6">Office2</th><th colspan="6">Office3</th><th colspan="6">Office4</th><th rowspan="2">Notes</th><th rowspan="2">Pin</th><th rowspan="2">Money</th><th rowspan="2">Url</th><th rowspan="2">Description</th>
										</tr>										
												<th >Firm Super</th><th>Firm</th><th >Firm Sub</th><th>Street</th><th>City</th><th>State</th><th>Country</th><th>Pin</th><th>Main</th><th>Street</th><th>City</th><th>State</th><th>Country</th><th>Pin</th><th>Main</th><th>Street</th><th>City</th><th>State</th><th>Country</th><th>Pin</th><th>Main</th><th>Street</th><th>City</th><th>State</th><th>Country</th><th>Pin</th><th>Main</th><th>Notes</th><th>Status</th>
										</tr>
									</thead>
									<tbody>
										<tr  ng-show="setdatanotfound"> 
											<td colspan="27" class="center"> No Company data found please upload again.</td>
										</tr>
										
										<tr ng-repeat="(key,value) in companies" ng-show="setdata" ng-class="{1:'success', 0:'warning'}[value.status]"> 
											<td ng-hide="value.error">{{value.title}}</td>
											<td ng-show="value.error" class="danger"> <b><i>{{ value.title }}</b></i><br/>{{value.error}}</td>
											<td>{{value.firmsupertype}}</td>
											<td>{{value.firmtype}}</td>
											<td>{{value.firmsubtype}}</td>
											<td>{{value.services}}</td>
											<td>{{value['address'][0]['street']}}</td>
											<td>{{value['address'][0]['city']}}</td>
											<td>{{value['address'][0]['state']}}</td>
											<td>{{value['address'][0]['country']}}</td>
											<td>{{value['address'][0]['pin']}}</td>
											<td>{{value['address'][0]['main']}}</td>
											<td>{{value['address'][0]['phone']}}</td>
											<td>{{value['address'][1]['street']}}</td>
											<td>{{value['address'][1]['city']}}</td>
											<td>{{value['address'][1]['state']}}</td>
											<td>{{value['address'][1]['country']}}</td>
											<td>{{value['address'][1]['pin']}}</td>
											<td>{{value['address'][1]['main']}}</td>
											<td>{{value['address'][1]['phone']}}</td>	
											<td>{{value['address'][2]['street']}}</td>
											<td>{{value['address'][2]['city']}}</td>
											<td>{{value['address'][2]['state']}}</td>
											<td>{{value['address'][2]['country']}}</td>
											<td>{{value['address'][2]['pin']}}</td>
											<td>{{value['address'][2]['main']}}</td>
											<td>{{value['address'][2]['phone']}}</td>
											<td>{{value['address'][3]['street']}}</td>
											<td>{{value['address'][3]['city']}}</td>
											<td>{{value['address'][3]['state']}}</td>
											<td>{{value['address'][3]['country']}}</td>
											<td>{{value['address'][3]['pin']}}</td>
											<td>{{value['address'][3]['main']}}</td>
											<td>{{value['address'][3]['phone']}}</td>
											<td>{{value.pin}}</td>
											<td>{{value.money}}</td>
											<td>{{value.url}}</td>
											<td>{{value.description}}</td>
											<td>{{value.notes}}</td>
											<td ng-show="{{value.status}}" class="success">Uploaded</td>
											<td ng-hide="{{value.status}}" class="danger">Pending</td>
										</tr>

									</tbody>
								</table>
							</div>	

						</div>  

					</div>



				</div>
			<div id="out">
			</div>
				
			</div>
