<div class="container page">
     <h1><b>PIN</b> Video Upload and Streaming</h1>

        <div id="main" class="row">
            <div class="col-lg-4" >
                <legend>Drag n Drop</legend>
                <aside id="upload-box">
                    <article id="progress">Drop file here</article>
                </aside>
            </div>

            <div class="col-lg-4" >
                <legend>Select a Link</legend>

                <nav id="list"></nav>
            </div>

            <div class="col-lg-4" >
                <legend>Play the Video</legend>

                <video id="video"></video>
            </div>
        </section>

</div>