<div class="container-fluid po-reletive">
	<div class="container-head">
		<div class="row">
			<div class="pull-left">
				<div class="mar-back-img-inner">
					<!-- Become a member section -->
					<div ng-include="'partials2/left-navbar.html'"> </div>
				</div>
			</div>

			<div class="pull-left">
				<div class="inner-section">
					<h1 style="text-align: left">What is Private Investor Network ?</h1> 
					<p >The Private Investor Network is a <b>membership-based network</b> for private investors and single family offices, primarily in India. We also welcome Indian families residing overseas or indeed any global families with interest in investing in India. Hence, you will be able to get insights from your peers, not only from remote parts of India but also the world.</p><p >The aim is to provide a ‘safe harbour’ for them to share experiences and learn from each other and from a curated list of rated experts We hope the content and other resources will spark the discussion, which will give you the opportunity to share and learn from your own peers.</p><p >PIN provides the following services – </p>
					<ul>
					<li ><p >Networking and peer sharing – through online discussion forums</p></li>
					<li ><p >Learning – through online library of articles, interviews, videos, podcasts etc</p></li>
					<li ><p >Directory of experts and service providers</p></li>
					<li ><p >Events for networking and learning</p></li>
					<li ><p >Exclusive partner services – such as due diligence portal, executive education, nextgen education etc</p></li>
					</ul>
				</div>  
			</div>

		</div>
	</div>
</div>
<!-- /container -->
