<div class="container-fluid po-reletive">
<div class="container-head">
<div class="row">
<div class="pull-left">
<div class="mar-back-img-inner">
<!-- Become a member section -->
  <div ng-include="'partials2/left-navbar.html'"> </div>
</div>
</div>

<div class="pull-left">
<div class="inner-section">
 <h1>Who is this Site for?</h1> 

<b>Considering or managing a family office?</b>

<p>If you have reached a point where managing your personal wealth (separate from the family business) is becoming more than a full time job, you may want to consider a family office. You may consider sharing costs by becoming part of a multi-family office (MFO), or set up your single family office (SFO).</p>

<p>Family offices help you grow (investments), protect (wealth planning) and manage (administration) your wealth. They can also help make more money by helping to grow or manage the family business. Hence, family offices oversee - </p>
<ul>
<li><p>Investments – including traditional, alternative and strategic investments</p></li>
<li><p>Wealth Planning – including family governance, structuring, estate planning, tax planning, legacy/philanthropy</p></li>
<li><p>Administration – including reporting, concierge, property management, insurance</p></li>
<li><p>Family Business – including financing, succession planning </p></li>
</ul>

<p>You can learn how to manage each of these aspects from a curated library of content.</p>

<b>Looking for service providers?</b>

<p>There are numerous providers in the market offering services related to legal, tax, accounting, technology, governance consulting, trust services etc. But do they have the experience to handle your specific issue? Have they successfully handled other families’ issues? Do they come highly recommended?</p>

<p>You can not only look up service providers but also see ratings given by other member families.</p>

<b>Struggling with due diligence on alternative funds?</b>

<p>You probably get pitched to on a daily basis. Promoters of Alternative Investment Funds (AIFs) will tell you that their product is a good investment. Your private banker or client relationship manager also brings a number of ideas to you. But where do you get an independent assessment on these? Does your CFO or chartered accountant really have the time or expertise to assess private equity and real estate funds? How do you conduct proper due diligence on these alternative funds?</p>

<b>Want to discuss with your peers? </b>

<p>You can learn by reading or watching content, or by connecting with highly recommended experts and service providers. But the best source of information could be another family, who has had similar issues. You can post a query in the chat room or follow discussions posted by others – all in a secure environment.</p>

</div>  
</div>

</div>
</div>
</div>

<!-- /container -->
