Hi!
<br/>
Your friend <%= user.name %>has invited you to be a part of a great new marketplace for art called Paintcollar! On paintcollar.com, you can sell your art in a variety of forms like prints, T-shirts and laptop skins. The best part is that you can set your own profit margins for all your work. So for every sale you make, the awesome guys at Paintcollar manufacture and deliver the product while your earn! Also, using Paintcollar is absolutely FREE! Here’s how it works:<br>
<a href="https://www.youtube.com/watch?v=U5SHgK_QS94" target="_blank">https://www.youtube.com/watch?v=U5SHgK_QS94</a>
<br/>
<img src="images/pricing-small.png" alt="small price"/>
<br/>
<img src="images/how-it-works-small.png" alt="how it works" />
<br/>
Sign up using Facebook and you’re good to go within minutes! Try it now:
<br>
paintcollar.com
<br/>
Regards
<br>
Paintcollar Team
