WELCOME <%= user.name %>,
<br/>

<p>Thanks for registering on Private Investor Network.</p>

<p>Please verify your email by clicking <a href="<%= activationLink %>">HERE</a></p>

<p>If clicking the link doesn't seem to work, you can copy and paste the link into your browser's address window
<pre>http://<%= activationLink %></pre></p>

<p>Note our team may call you to verify other details before activating your account.</p>

Thank you<br>
PIN Team<br>
T - +91 22 6592 8888
