
WELCOME
<br>
<p>Thanks for registering on Money Management India.</p>

<p>Please verify your email by clicking <a href="<%= activationLink %>"> HERE </a></p>

<p>
We will also send you email updates - but if you prefer to not get regular notifications or follow us on social media, you can 'unsubscribe' to the regular updates at the bottom of the updates.
</p>

<p>We look forward to your feedback and participation on the site.</p>

Thank you<br>
MMI Team<br>
T - +91 22 6592 8888
