Dear <%= user.name %>,
<br>

<p>
Welcome to Paintcollar! 
Paintcollar is a unique congregation of artists and art appreciators. Now that you're a part of India's most creative community, a whole world of colourful experiences awaits you. But first, please confirm your email by following the link given here
</p>
<p>
<a href="<%= activationLink %>">Activate your Account </a>
</p>
<p>
Or copy paste this link on in your browser <pre>http://<%= activationLink %></pre>
</p>
Thank you <br>
Team Paintcollar 