Dear <%= user.firstname %>,
<br>

<p>
Welcome to Money Management India!
Please click the following link to activate your account.
</p>
<p>
<a href="<%= activationLink %>">Activate your Account </a>
</p>
<p>
Or copy paste this link on in your browser <pre>http://<%= activationLink %></pre>
</p>

<p><span>*</span>
After you verify admin will validate and activate your account.
</p>


Thank you <br>
Team MMI
