WELCOME

Thanks for registering on Money Management India.

Please verify your email by clicking <a href="<%= activationLink %>"> HERE </a>


We will also send you email updates - but if you prefer to not get regular notifications or follow us on social media, you can 'unsubscribe' to the regular updates at the bottom of the updates.


We look forward to your feedback and participation on the site.
